/*
	VERSION MOV

	PALETTE:
		FOOTER #D7D7D7 
*/
@font-face {
    font-family: epistolar;
    src: url(../fonts/epistolar.ttf);
}
.topbar {
	padding: 10px 0px;
}

.izq{
	width:15%;
	padding:0px;
}
.der{
	width: 100%;
	padding:0px;
}

	.user-session {
		border: solid #A70D0D 5px;
		padding: 5px 10px 0px;
	}

		.user-session .user-info {
			border-bottom: solid 1px #A70D0D;
		}

		.user-session .user-context {
			margin: 3px 0;
		}


.main {
	background-color: yellow;
}
	
	/* Barra lateral izquierda. */
	table.main-menu {
		margin-top:110px;
		margin-left:20%;
		}
		
		/* Cada fila de la tabla. */
		table.main-menu >tbody> tr> td {
			margin-bottom: 20px;
			padding: 0px;
			font-size: 17px;
			background-color: black;
			height: 80px;
			border: 0px black solid;
			text-align: center;
			display:table-cell;
		}
		/*
		table.main-menu >tbody> tr>td.active {
			background-color: #A70D0D;
			color: black;
		}

		table.main-menu >tbody> tr>td:hover {
			background-color: #ED7D31;
			color: white;
		}

			table.main-menu >tbody> tr >td> a {
				width: 100%;
				text-decoration: blink;
				font-weight: bold;
				font-style: italic;
				padding:2px;
				color: black;
				vertical-align:middle;
			}

			table.main-menu > tr:hover > a {
				color: white;
			}
	*/
	.main-content {
		background-color: #000000;	
	}
	.row >.col-sm-3{
		padding:1%;
		vertical-align:middle;
		align:center;

	}
		div.sub-menu {
			background-color: #000000;
			width: 90%;
			margin-top:3%;
			align:center;
			margin-left: 5%;
		}

			div.sub-menu > ul{
				display: table;
				height: 0px;
				width:90%;
				margin-left: 30px;
				padding:0px;
				text-align: justify;
				background-color:black;
			}

			div.sub-menu > ul > table >tbody> tr> td {
				width: 1%;
				vertical-align: middle;
				text-align:center;
				font-size:14px;
				height: 100%;
				margin: 0px;
				padding:0px 2px 0px 2px;
				border-right:3px white solid;
				background-color: #FF5500;
			}

			div.sub-menu > ul > table >tbody> tr> td.active {
				background-color: #D40000;
			}

			div.sub-menu > ul > table >tbody> tr> td > a {
				vertical-align: middle;
				font-weight: bold;
				text-align: center;
				padding:10px 0px;
				text-decoration: none;
				color: white;
			}

			div.sub-menu > ul > table >tbody> tr> td:hover > ul {
				display: block;
				padding:0px;
				margin:0px;
			}
			div >.content  {
				padding:1% 5%;
				margin-left:5%;
				width:90%;
			}
		.content {
			display:block;
			position:static;
			background-color: white;
			width: 80%;
			padding: 10px 5%;
			margin-left: 10%;
			margin-top: 25px;
			-webkit-box-shadow: 0px -5px 16px -10px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px -5px 16px -10px rgba(0,0,0,0.75);
			box-shadow: 0px -5px 16px -10px rgba(0,0,0,0.75);
		}

			.title{ font-weight:bold;}
			.content>ul{
				padding-left:0px;
			}
			.content p {
				text-align: left;
				
			}

			.content >ul> table> tbody> tr> td{
			align:center;
			vertical-align:middle;
			 }

 			.content> ul >table>tbody>tr>td>p{
			align:center;
			vertical-align:middle;
			padding:1% 5% 1% 5%;
 			}

			.content> ul >table>tbody>tr>td>img{
			padding:5%;
 			}


.footer {
	background-color: #A70D0D;
	bottom: 0px;
	position: fixed;
	width: 100%;
	color: white;
	padding-top: 5px;
	text-align: center;
}

.menubusqueda {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    color:white;
}

.menubusqueda a {
    color:white;
}

/**********************************************
	COLUMNAS DEL MISMO TAMA?O
***********************************************/
.row-same-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

.dropdown-image{
	position:absolute;
	display:none;
	z-index: 5;
    	top: 20%;
}

.fondo {
    display: none;
    position: absolute;
    width: 100%;
    top: 15%;
    left: 0;
    background-image: url(/static/site/imagenes/backhead.jpg);
    background-size:20%;
    background-repeat:repeat;
    z-index: 999;
    height: 128%;
}
img{
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

.dropdown-menu {
	background-image: url(/static/site/imagenes/backhead.jpg);
	background-size:40%;
	background-repeat:repeat;
	padding:1%;
}

/*********************************************
	COLUMNAS DE TAMA?O COMPLETA
**********************************************/

html, body { 
	height: 100%; 
	overflow: auto;
}
body {
	font-family: Century Gothic, Tahoma, Geneva, sans-serif;
}



.footer a {
	color: white;
	text-decoration: none;
	font-size: 12px;
}

.dropdown-menu>li>a {
		font-weight:bold;
		color:black;
}

.contact-icon {
	width: 20px;
}

.description{
	font-size:16px;
	color: black;
	text-align:left;

}

/* Botones del nav central redondeados. */
.inicial {
border-top-left-radius: 20px;
border-bottom-left-radius:20px;
}

.final{
border-top-right-radius: 20px;
border-bottom-right-radius:20px;
border:0px;
}

/* Botones del nav lateral redondeados. */
.navLat {
	padding-bottom: 100px;
}

.navLatTD {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;

}
