{% extends "en/juegos-base.html" %}
{% load staticfiles%}

{% block pagetitle %}ANAR Didactive Games{% endblock %}
{% block title %}ANAR Didactive Games{% endblock %}

{% block content %}
<p>
    The <b>ANAR</b> has the following didactive games.
</p>

<div class="row">
    <div class="col-xs-8 col-xs-offset-2" >
        <h4 style="text-align:center">
            <span style="color:gray">
    			<b>Wheels</b>
    		</span>
    		<br>
    		<span style="color:red">
    			<b>VENEZUELA RUPESTRE</b>
    		</span>
    		<span style="color:gray">
    			and
    		</span>
    		<span style="color:red">
    			<b>MUNDO RUPESTRE</b>
    		</span>
	    </h4>
	</div>
</div>
<br>

<div class="row">
    <div class="col-xs-4 col-xs-offset-2" >
        <a href="{% url ruedadidactica %}">
	  	<img src="{% static "images/productosyservicios/publicaciones/venezuela.png"  %}" style="width:270px;height:270px" />
	  	</a>
	</div>
	<div class="col-xs-4" >
        <a href="{% url ruedadidactica %}">
	  	<img src="{% static "images/productosyservicios/publicaciones/mundo.png"  %}" style="width:270px;height:270px" />
	  	</a>
	</div>
</div>
<br>

<p style="text-align:center">
    Click an image to open the corresponding game.
</p>
{% endblock %}