{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Rueda: VENEZUELA RUPESTRE - MUNDO RUPESTRE</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static "site/ruedadidactica/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "site/ruedadidactica/js/jQueryRotate.js" %}"></script>
    <script type="text/javascript" src="{% static "site/ruedadidactica/js/TransformJS.js" %}"></script>
    <link href="{% static "site/ruedadidactica/css/ruedacss.css" %}" rel="stylesheet" type="text/css">
  </head>
	
  <body>
 
  <div id="supercaja">
  	
			<div id="DivImgToZoom"> 
		  		<img id="ImgToZoom" class="zooms" >
			
			</div>
		<div>  	
				<img id="girarrueda" src="{% static "site/ruedadidactica/img/girar.png" %}" title="Click para cambiar la cara de la rueda"/>
  		
  				
  		</div>
  		<div>
  				<img id="manoizq" src="{% static "site/ruedadidactica/img/manoizq.png" %}" title="Click para girar la rueda hacia la izquierda"/>
  				
  		
		</div>
  		
  		<div>
  				<img id="manoder" src="{% static "site/ruedadidactica/img/manoder.png" %}" title="Click para girar la rueda hacia la derecha"/>
  					
  		</div>
  	
 			<div id="caja">
				<div id="zoomtit"  title="Colocar Mouse encima para ampliar la imagen"> <img src="{% static "site/ruedadidactica/img/lupa.png" %}" id="avisotit" /> </div>
				<div id="zoomparte"  title="Colocar Mouse encima para ampliar la imagen"> <img src="{% static "site/ruedadidactica/img/lupa.png" %}"  id="avisoparte" /> </div>
				<div id="zoomrupestre"  title="Colocar Mouse encima para ampliar la imagen"> <img src="{% static "site/ruedadidactica/img/lupa.png" %}"  id="avisorupestre" /> </div> 	
				<div id="zoomarte"  title="Colocar Mouse encima para ampliar la imagen"> <img src="{% static "site/ruedadidactica/img/lupa.png" %}" id="avisoarte" /> </div>			
				<div id="zoom1"  title="Colocar Mouse encima para ampliar la imagen"> <img src="{% static "site/ruedadidactica/img/lupa.png" %}" id="aviso1" /> </div>
 				<div id="zoom2" title="Colocar Mouse encima para ampliar la imagen"> <img src="{% static "site/ruedadidactica/img/lupa.png" %}"  id="aviso2" /> </div>
 				<div id="zoom3" title="Colocar Mouse encima para ampliar la imagen"> <img src="{% static "site/ruedadidactica/img/lupa.png" %}"  id="aviso3" /> </div>
 				<div id="zoom4" title="Colocar Mouse encima para ampliar la imagen"> <img src="{% static "site/ruedadidactica/img/lupa.png" %}"  id="aviso4" /> </div>
 					<img class="caras" id="cara1" src="{% static "site/ruedadidactica/img/cara1.png" %}" />
					<img class="caras" id="cara2" src="{% static "site/ruedadidactica/img/cara2.png" %}" />	
					<img class="tapas" id="tapauno" src="{% static "site/ruedadidactica/img/tapavenezuela.png" %}" />	
					<img class="tapas" id="tapados" src="{% static "site/ruedadidactica/img/tapamundo.png" %}" />
					
		
			</div>
			<div id="DivTitulo"> 
		  		<img src="{% static "site/ruedadidactica/img/vzlarupestre.png" %}" id="ImgToTitulo" class="titulos" >
			
			</div>
			
			<div id="instrucciones">
				<p> <img src="{% static "site/ruedadidactica/img/girar.png" %}" id="ruedapeq"> Cambio de rueda </p>
				<p> 
				    <img src="{% static "site/ruedadidactica/img/manoizq.png" %}" class="imginstruccion"> 
				    <img src="{% static "site/ruedadidactica/img/manoder.png" %}" class="imginstruccion">
				    A la derecha o izquierda 
				</p>
				<p> 
				    <img src="{% static "site/ruedadidactica/img/lupa.png" %}" class="imginstruccion">
				    <img src="{% static "site/ruedadidactica/zooms/artecerroguanari.png" %}" class="imginstruccion">
				    Ampliar información 
				</p>
				<p>  <img src="{% static "site/ruedadidactica/img/flecha.png" %}" id="flechita">Información hacia arriba </p>
			</div>
			
			<div id="creditos">
				<p> 
					Concepto, Diseño, Textos: <b>Ruby De Valencia,</b>  
					Aplicación: <b>José Duque, © FUNDABITAT,</b> Caracas 2015  
				</p>
			</div>
	</div>

  </body>
  
  <script>
		$(document).ready(function(){
		var angle = 0;
		var angle2 = 0;
			var margin =$("#cara1").width()/2;
			var width=$("#cara1").width();
			var height=$("#cara1").height();
			var margintapa =$("#tapauno").width()/2;
			var widthtapa=$("#tapauno").width();
			var heighttapa=$("#tapauno").height();
			var marginzoom1 =$("#zoom1").width()/2;
			var widthzoom1=$("#zoom1").width();
			var heightzoom1=$("#zoom1").height();
			var marginzoom2=$("#zoom2").width()/2;
			var widthzoom2=$("#zoom2").width();
			var heightzoom2=$("#zoom2").height();
			var marginzoom3 =$("#zoom3").width()/2;
			var widthzoom3=$("#zoom3").width();
			var heightzoom3=$("#zoom3").height();
			var marginzoom4 =$("#zoom4").width()/2;
			var widthzoom4=$("#zoom4").width();
			var heightzoom4=$("#zoom4").height();
			var marginzoomtit =$("#zoomtit").width()/2;
			var widthzoomtit=$("#zoomtit").width();
			var heightzoomtit=$("#zoomtit").height();
			var marginzoomparte =$("#zoomparte").width()/2;
			var widthzoomparte=$("#zoomparte").width();
			var heightzoomparte=$("#zoomparte").height();
			var marginzoomrupestre =$("#zoomrupestre").width()/2;
			var widthzoomrupestre=$("#zoomrupestre").width();
			var heightzoomrupestre=$("#zoomrupestre").height();
			var marginzoomarte =$("#zoomarte").width()/2;
			var widthzoomarte=$("#zoomarte").width();
			var heightzoomarte=$("#zoomarte").height();
			var count=0;
			var visib=0;
			var ubicacionV=0;
			var ubicacionM=0;
		
		$("#manoizq").click(function(){
		
		
		if(count==0){
			
				
				angle-=45;
				console.log(angle)
				$("#cara1").rotate({ animateTo: angle});
				ubicacionV-=1;
				if (ubicacionV==-8)
				{
					ubicacionV=0;
				}
				
			}
			else{
				angle2-=45;
				$("#cara2").rotate({ animateTo: angle2});
				ubicacionM-=1;
				if (ubicacionM==-8)
				{
					ubicacionM=0;
				}
			}
		});
		$("#manoder").click(function(){
			
		
			if(count==0){
				angle+=45;
				$("#cara1").rotate({ animateTo: angle});
				ubicacionV+=1
			if (ubicacionV==8)
				{
					ubicacionV=0;
				}
			}
			else{
				angle2+=45;
				$("#cara2").rotate({ animateTo: angle2});
				ubicacionM+=1
			if (ubicacionM==8)
				{
					ubicacionM=0;
				}
			}
		});
		
			$("#girarrueda").click(function(){
				if(count==0){
					count=1;		
		
				$("#cara1").stop().animate({width:'0px',height:''+height+'px',marginLeft:''+margin+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#cara2").stop().animate({width:''+width+'px',height:''+height+'px',marginLeft:'0px',opacity:'1'},{duration:500});
				},500);
				
				$("#tapauno").stop().animate({width:'0px',height:''+heighttapa+'px',marginLeft:''+margintapa+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#tapados").stop().animate({width:''+widthtapa+'px',height:''+heighttapa+'px',marginLeft:'125px',opacity:'1'},{duration:500});
				},500);
				
				$("#zoom1").stop().animate({width:'0px',height:''+heightzoom1+'px',marginLeft:''+marginzoom1+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoom1").stop().animate({width:''+widthzoom1+'px',height:''+heightzoom1+'px',marginLeft:'263px',opacity:'1'},{duration:500});
				},500);
				$("#zoom2").stop().animate({width:'0px',height:''+heightzoom2+'px',marginLeft:''+marginzoom2+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoom2").stop().animate({width:''+widthzoom2+'px',height:''+heightzoom2+'px',marginLeft:'263px',opacity:'1'},{duration:500});
				},500);
				$("#zoom3").stop().animate({width:'0px',height:''+heightzoom3+'px',marginLeft:''+marginzoom3+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoom3").stop().animate({width:''+widthzoom3+'px',height:''+heightzoom3+'px',marginLeft:'263px',opacity:'1'},{duration:500});
				},500);
				$("#zoom4").stop().animate({width:'0px',height:''+heightzoom4+'px',marginLeft:''+marginzoom4+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoom4").stop().animate({width:''+widthzoom4+'px',height:''+heightzoom4+'px',marginLeft:'263px',opacity:'1'},{duration:500});
				},500);
				$("#zoomtit").stop().animate({width:'0px',height:''+heightzoomtit+'px',marginLeft:''+marginzoomtit+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoomtit").stop().animate({width:''+widthzoomtit+'px',height:''+heightzoomtit+'px',marginLeft:'263px',opacity:'1'},{duration:500});
				},500);
				$("#zoomparte").stop().animate({width:'0px',height:''+heightzoomparte+'px',marginLeft:''+marginzoomparte+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoomparte").stop().animate({width:''+widthzoomparte+'px',height:''+heightzoomparte+'px',marginLeft:'150px',opacity:'1'},{duration:500});
				},500);
				$("#zoomarte").stop().animate({width:'0px',height:''+heightzoomarte+'px',marginLeft:''+marginzoomarte+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoomarte").stop().animate({width:''+widthzoomarte+'px',height:''+heightzoomarte+'px',marginLeft:'375px',opacity:'1'},{duration:500});
				},500);	
				$("#zoomrupestre").stop().animate({width:'0px',height:''+heightzoomrupestre+'px',marginLeft:''+marginzoomrupestre+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoomrupestre").stop().animate({width:''+widthzoomrupestre+'px',height:''+heightzoomrupestre+'px',marginLeft:'390px',opacity:'1'},{duration:500});
				},500);	
			$("#ImgToTitulo").attr("src", "{% static "site/ruedadidactica/img/mundorupestre.png" %}") ;
			}
			else{
				count=0;
				$("#cara2").stop().animate({width:'0px',height:''+height+'px',marginLeft:''+margin+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#cara1").stop().animate({width:''+width+'px',height:''+height+'px',marginLeft:'0px',opacity:'1'},{duration:500});
				},500);
				
			$("#tapados").stop().animate({width:'0px',height:''+heighttapa+'px',marginLeft:''+margintapa+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#tapauno").stop().animate({width:''+widthtapa+'px',height:''+heighttapa+'px',marginLeft:'120px',opacity:'1'},{duration:500});
				},500);
				
				$("#zoom1").stop().animate({width:'0px',height:''+heightzoom1+'px',marginLeft:''+marginzoom1+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoom1").stop().animate({width:''+widthzoom1+'px',height:''+heightzoom1+'px',marginLeft:'263px',opacity:'1'},{duration:500});
				},500);
				$("#zoom2").stop().animate({width:'0px',height:''+heightzoom2+'px',marginLeft:''+marginzoom2+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoom2").stop().animate({width:''+widthzoom2+'px',height:''+heightzoom2+'px',marginLeft:'263px',opacity:'1'},{duration:500});
				},500);
				$("#zoom3").stop().animate({width:'0px',height:''+heightzoom3+'px',marginLeft:''+marginzoom3+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoom3").stop().animate({width:''+widthzoom3+'px',height:''+heightzoom3+'px',marginLeft:'263px',opacity:'1'},{duration:500});
				},500);
				$("#zoom4").stop().animate({width:'0px',height:''+heightzoom4+'px',marginLeft:''+marginzoom4+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoom4").stop().animate({width:''+widthzoom4+'px',height:''+heightzoom4+'px',marginLeft:'263px',opacity:'1'},{duration:500});
				},500);
				$("#zoomtit").stop().animate({width:'0px',height:''+heightzoomtit+'px',marginLeft:''+marginzoomtit+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoomtit").stop().animate({width:''+widthzoomtit+'px',height:''+heightzoomtit+'px',marginLeft:'263px',opacity:'1'},{duration:500});
				},500);
				$("#zoomparte").stop().animate({width:'0px',height:''+heightzoomparte+'px',marginLeft:''+marginzoomparte+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoomparte").stop().animate({width:''+widthzoomparte+'px',height:''+heightzoomparte+'px',marginLeft:'150px',opacity:'1'},{duration:500});
				},500);
				$("#zoomarte").stop().animate({width:'0px',height:''+heightzoomarte+'px',marginLeft:''+marginzoomarte+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoomarte").stop().animate({width:''+widthzoomarte+'px',height:''+heightzoomarte+'px',marginLeft:'375px',opacity:'1'},{duration:500});
				},500);
				$("#zoomrupestre").stop().animate({width:'0px',height:''+heightzoomrupestre+'px',marginLeft:''+marginzoomrupestre+'px',opacity:'0.5'},{duration:500});
				window.setTimeout(function() {
				$("#zoomrupestre").stop().animate({width:''+widthzoomrupestre+'px',height:''+heightzoomrupestre+'px',marginLeft:'390px',opacity:'1'},{duration:500});
				},500);
			$("#ImgToTitulo").attr("src", "{% static "site/ruedadidactica/img/vzlarupestre.png" %}") ;
			}
			
				
			});
			
			$("#zoomtit").hover(function(){
					$("#DivImgToZoom").css('margin-left','830px');
			$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/logo.png" %}") ;
				if(visib==0){
					visib=1;
					$("#ImgToZoom").css('height','264px');		
					$("#DivImgToZoom").css("display","block");		
					
					
					
					}
				else{
				visib=0;
					$("#DivImgToZoom").css("display","none");
					
					}
			});
		
		$("#zoomparte").hover(function(){
					$("#DivImgToZoom").css('margin-left','830px');
		if(count==0)
				{
				$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/vzla.png" %}") ;
				}
		else{
				$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/mund.png" %}") ;
				}
				if(visib==0){
					visib=1;
					$("#ImgToZoom").css('width','217px');			
					$("#ImgToZoom").css('height','409px');		
					$("#DivImgToZoom").css("display","block");		
					
					
					
					}
				else{
				visib=0;
					$("#DivImgToZoom").css("display","none");
					
					}
			});
		
		$("#zoomrupestre").hover(function(){
					$("#DivImgToZoom").css('margin-left','830px');
		if(count==0)
				{
				$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/vzlarup.png" %}") ;
				}
		else{
				$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/mundrup.png" %}") ;
				}
				if(visib==0){
					visib=1;
					$("#ImgToZoom").css('width','217px');			
					$("#ImgToZoom").css('height','409px');		
					$("#DivImgToZoom").css("display","block");		
					
					
					
					}
				else{
				visib=0;
					$("#DivImgToZoom").css("display","none");
					
					}
			});
		
		
		
			$("#zoom1").hover(function(){
				$("#ImgToZoom").css('height','200px');
				$("#ImgToZoom").css('width','300px');
				$("#DivImgToZoom").css('margin-left','830px');
				if(count==0)
					{
						
					switch(ubicacionV){ 
						case 0: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVCerroGuarani.png" %}") ;
						break;
						case 1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVSantaAnita.png" %}") ;
						break; 
						case 2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVOnoto.png" %}") ;
						break; 
						case 3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVChirgua.png" %}") ;
						break; 
						case 4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVSaltoParu.png" %}") ;
						break; 
						case 5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVCerroCuevaIglesias.png" %}") ;
						break; 
						case 6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVVigirima.png" %}") ;
						break; 
						case 7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVChipaque.png" %}") ;
						break; 
						case -7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVSantaAnita.png" %}") ;
						break; 
						case -6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVOnoto.png" %}") ;
						break; 
						case -5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVChirgua.png" %}") ;
						break; 
						case -4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVSaltoParu.png" %}") ;
						break; 
						case -3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVCerroCuevaIglesias.png" %}") ;
						break; 
						case -2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVVigirima.png" %}") ;
						break; 
						case -1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEVChipaque.png" %}") ;
						break;
					
					}	
					}	
					
					else{
					switch(ubicacionM){ 
						case 0: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMCostaRica.png" %}") ;
						break;
						case 1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMFrancia.png" %}") ;
						break; 
						case 2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMInglaterra.png" %}") ;
						break; 
						case 3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMIndia.png" %}") ;
						break; 
						case 4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMNamibia.png" %}") ;
						break; 
						case 5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMAustralia.png" %}") ;
						break; 
						case 6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMPeru.png" %}") ;
						break; 
						case 7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMUsa.png" %}") ;
						break; 
						case -7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMFrancia.png" %}") ;
						break; 
						case -6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMInglaterra.png" %}") ;
						break; 
						case -5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMIndia.png" %}") ;
						break; 
						case -4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMNamibia.png" %}") ;
						break; 
						case -3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMAustralia.png" %}") ;
						break; 
						case -2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMPeru.png" %}") ;
						break; 
						case -1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SEMUsa.png" %}") ;
						break;
					
					}	
						
					
					}
				if(visib==0){
					visib=1;		
					$("#DivImgToZoom").css("display","block");		
					
					
					
					}
				else{
				visib=0;
					$("#DivImgToZoom").css("display","none");
					
					}
					
				
				
				});
				
			$("#zoom2").hover(function(){
					$("#ImgToZoom").css('height','200px');
					$("#ImgToZoom").css('width','300px');
				$("#DivImgToZoom").css('margin-left','830px');
				if(count==0)
					{
						
					switch(ubicacionV){ 
						case 0: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVCerroGuarani.png" %}") ;
						break;
						case 1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVSantaAnita.png" %}") ;
						break; 
						case 2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVOnoto.png" %}") ;
						break; 
						case 3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVChirgua.png" %}") ;
						break; 
						case 4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVSaltoParu.png" %}") ;
						break; 
						case 5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVCerroCuevaIglesias.png" %}") ;
						break; 
						case 6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVVigirima.png" %}") ;
						break; 
						case 7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVChipaque.png" %}") ;
						break; 
						case -7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVSantaAnita.png" %}") ;
						break; 
						case -6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVOnoto.png" %}") ;
						break; 
						case -5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVChirgua.png" %}") ;
						break; 
						case -4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVSaltoParu.png" %}") ;
						break; 
						case -3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVCerroCuevaIglesias.png" %}") ;
						break; 
						case -2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVVigirima.png" %}") ;
						break; 
						case -1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/FigVChipaque.png" %}") ;
						break;
					
					}	
					}	
					
					else{
					switch(ubicacionM){ 
						case 0: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMCostaRica.png" %}") ;
						break;
						case 1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMFrancia.png" %}") ;
						break; 
						case 2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMInglaterra.png" %}") ;
						break; 
						case 3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMIndia.png" %}") ;
						break; 
						case 4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMNamibia.png" %}") ;
						break; 
						case 5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMAustralia.png" %}") ;
						break; 
						case 6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMPeru.png" %}") ;
						break; 
						case 7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMUsa.png" %}") ;
						break; 
						case -7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMFrancia.png" %}") ;
						break; 
						case -6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMInglaterra.png" %}") ;
						break; 
						case -5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMIndia.png" %}") ;
						break; 
						case -4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMNamibia.png" %}") ;
						break; 
						case -3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMAustralia.png" %}") ;
						break; 
						case -2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMPeru.png" %}") ;
						break; 
						case -1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/AntMUsa.png" %}") ;
						break;
					
					}	
						
					
					}
				if(visib==0){
					visib=1;		
					$("#DivImgToZoom").css("display","block");		
					
					
					
					}
				else{
				visib=0;
					$("#DivImgToZoom").css("display","none");
					
					}
					
				
				
				});
		
		$("#zoom3").hover(function(){
				$("#ImgToZoom").css('height','200px');
				$("#ImgToZoom").css('width','300px');
				$("#DivImgToZoom").css('margin-left','830px');
				if(count==0)
					{
						
					switch(ubicacionV){ 
						case 0: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVCerroGuarani.png" %}") ;
						break;
						case 1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVSantaAnita.png" %}") ;
						break; 
						case 2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVOnoto.png" %}") ;
						break; 
						case 3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVChirgua.png" %}") ;
						break; 
						case 4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVSaltoParu.png" %}") ;
						break; 
						case 5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVCerroCuevaIglesias.png" %}") ;
						break; 
						case 6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVVigirima.png" %}") ;
						break; 
						case 7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVChipaque.png" %}") ;
						break; 
						case -7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVSantaAnita.png" %}") ;
						break; 
						case -6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVOnoto.png" %}") ;
						break; 
						case -5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVChirgua.png" %}") ;
						break; 
						case -4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVSaltoParu.png" %}") ;
						break; 
						case -3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVCerroCuevaIglesias.png" %}") ;
						break; 
						case -2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVVigirima.png" %}") ;
						break; 
						case -1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonVChipaque.png" %}") ;
						break;
					
					}	
					}	
					
					else{
					switch(ubicacionM){ 
						case 0: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMCostaRica.png" %}") ;
						break;
						case 1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMFrancia.png" %}") ;
						break; 
						case 2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMInglaterra.png" %}") ;
						break; 
						case 3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMIndia.png" %}") ;
						break; 
						case 4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMNamibia.png" %}") ;
						break; 
						case 5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMAustralia.png" %}") ;
						break; 
						case 6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMPeru.png" %}") ;
						break; 
						case 7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMUsa.png" %}") ;
						break; 
						case -7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMFrancia.png" %}") ;
						break; 
						case -6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMInglaterra.png" %}") ;
						break; 
						case -5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMIndia.png" %}") ;
						break; 
						case -4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMNamibia.png" %}") ;
						break; 
						case -3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMAustralia.png" %}") ;
						break; 
						case -2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMPeru.png" %}") ;
						break; 
						case -1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/SonMUsa.png" %}") ;
						break;
					
					}	
						
					
					}
				if(visib==0){
					visib=1;		
					$("#DivImgToZoom").css("display","block");		
					
					
					
					}
				else{
				visib=0;
					$("#DivImgToZoom").css("display","none");
					
					}
					
				
				
				});
		
		$("#zoom4").hover(function(){
				$("#ImgToZoom").css('height','200px');		
				$("#ImgToZoom").css('width','300px');
				$("#DivImgToZoom").css('margin-left','830px');
				if(count==0)
					{
						
					switch(ubicacionV){ 
						case 0: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVCerroGuarani.png" %}") ;
						break;
						case 1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVSantaAnita.png" %}") ;
						break; 
						case 2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVOnoto.png" %}") ;
						break; 
						case 3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVChirgua.png" %}") ;
						break; 
						case 4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVSaltoParu.png" %}") ;
						break; 
						case 5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVCerroCuevaIglesias.png" %}") ;
						break; 
						case 6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVVigirima.png" %}") ;
						break; 
						case 7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVChipaque.png" %}") ;
						break; 
						case -7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVSantaAnita.png" %}") ;
						break; 
						case -6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVOnoto.png" %}") ;
						break; 
						case -5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVChirgua.png" %}") ;
						break; 
						case -4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVSaltoParu.png" %}") ;
						break; 
						case -3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVCerroCuevaIglesias.png" %}") ;
						break; 
						case -2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVVigirima.png" %}") ;
						break; 
						case -1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreVChipaque.png" %}") ;
						break;
					
					}	
					}	
					
					else{
					switch(ubicacionM){ 
						case 0: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMCostaRica.png" %}") ;
						break;
						case 1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMFrancia.png" %}") ;
						break; 
						case 2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMInglaterra.png" %}") ;
						break; 
						case 3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMIndia.png" %}") ;
						break; 
						case 4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMNamibia.png" %}") ;
						break; 
						case 5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMAustralia.png" %}") ;
						break; 
						case 6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMPeru.png" %}") ;
						break; 
						case 7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMUsa.png" %}") ;
						break; 
						case -7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMFrancia.png" %}") ;
						break; 
						case -6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMInglaterra.png" %}") ;
						break; 
						case -5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMIndia.png" %}") ;
						break; 
						case -4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMNamibia.png" %}") ;
						break; 
						case -3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMAustralia.png" %}") ;
						break; 
						case -2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMPeru.png" %}") ;
						break; 
						case -1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/NombreMUsa.png" %}") ;
						break;
					
					}	
						
					
					}
				if(visib==0){
					visib=1;		
					$("#DivImgToZoom").css("display","block");		
					
					
					
					}
				else{
				visib=0;
					$("#DivImgToZoom").css("display","none");
					
					}
					
				
				
				});
		$("#zoomarte").hover(function(){
				$("#ImgToZoom").css('height','247px');
				$("#ImgToZoom").css('width','393px');
				$("#DivImgToZoom").css('margin-left','785px');		
				if(count==0)
					{
						
					switch(ubicacionV){ 
						case 0: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artecerroguanari.png" %}") ;
						break;
						case 1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artesantaanita.png" %}") ;
						break; 
						case 2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/arteonoto.png" %}") ;
						break; 
						case 3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artechirgua.png" %}") ;
						break; 
						case 4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artesaltoparu.png" %}") ;
						break; 
						case 5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artecerrocuevaiglesias.png" %}") ;
						break; 
						case 6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artevigirima.png" %}") ;
						break; 
						case 7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artechipaque.png" %}") ;
						break; 
						case -7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artesantaanita.png" %}") ;
						break; 
						case -6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/arteonoto.png" %}") ;
						break; 
						case -5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artechirgua.png" %}") ;
						break; 
						case -4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artesaltoparu.png" %}") ;
						break; 
						case -3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artecerrocuevaiglesias.png" %}") ;
						break; 
						case -2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artevigirima.png" %}") ;
						break; 
						case -1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artechipaque.png" %}") ;
						break;
					
					}	
					}	
					
					else{
					switch(ubicacionM){ 
						case 0: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artecostarica.png" %}") ;
						break;
						case 1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artefrancia.png" %}") ;
						break; 
						case 2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/arteinglaterra.png" %}") ;
						break; 
						case 3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/arteindia.png" %}") ;
						break; 
						case 4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artenamibia.png" %}") ;
						break; 
						case 5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/arteaustralia.png" %}") ;
						break; 
						case 6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/arteperu.png" %}") ;
						break; 
						case 7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/arteusa.png" %}") ;
						break; 
						case -7: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artefrancia.png" %}") ;
						break; 
						case -6: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/arteinglaterra.png" %}") ;
						break; 
						case -5: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/arteindia.png" %}") ;
						break; 
						case -4: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/artenamibia.png" %}") ;
						break; 
						case -3: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/arteaustralia.png" %}") ;
						break; 
						case -2: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/arteperu.png" %}") ;
						break; 
						case -1: 
							$("#ImgToZoom").attr("src", "{% static "site/ruedadidactica/zooms/arteusa.png" %}") ;
						break;
					
					}	
						
					
					}
				if(visib==0){
					visib=1;		
					$("#DivImgToZoom").css("display","block");		
					
					
					
					}
				else{
				visib=0;
					$("#DivImgToZoom").css("display","none");
					
					}
					
				
				
				});
		});
  </script>
  
  <!-- <script type="text/javascript" src="{% static "site/ruedadidactica/js/rueda.js" %}"></script> -->
</html>
