
{% extends "productosyservicios-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Publicaciones{% endblock %}
{% block title %}Publicaciones{% endblock %}

{% block content %}
<div id="contenido">
	<div class="row" id="Introducción">
		<div class="col-md-12 col-xs-12">
			<p class="text-left" style="text-align:left">
				Estas publicaciones hacen parte  del material did&aacute;ctico, 
				que <b>ANAR</b> viene desarrollando, para incentivar el inter&eacute;s 
				en conocer y proteger  el Patrimonio Rupestre del pa&iacute;s.<br>
				
				Uno de los objetivos de este material, es servir de apoyo para 
				docentes,  estudiantes,  en las escuelas y comunidades; igualmente 
				proporcionan informaci&oacute;n a diferentes sectores de la sociedad.<br>
				
				Est&aacute;n a la disposici&oacute;n de las personas e instituciones 
				interesadas. Las publicaciones est&aacute;n a la venta en el ANAR.  
				Si lo prefiere puede contactarnos a trav&eacute;s de nuestros correos, y
				gustosamente se las enviaremos. No dude en contactarnos.<br>
		</div>
	</div>
	
	<!-- Heading para los subtítulos. -->    
	<h4>
		<b>Ruedas didácticas:</b><br>
		Venezuela rupestre y mundo rupestre.
	</h4>
	<div class="row" id="Rueda Didáctica">
		<div class="col-md-4 col-sm-4 col-xs-4">
	  		<img src="{% static "images/productosyservicios/publicaciones/mundo.png"  %}"  />
		</div>
	  
	  	<div class="col-md-4 col-sm-4 col-xs-4">
	  		<p class="text-left" style="text-align:left">
	  			A trav&eacute;s de ruedas giratorias, este juego did&aacute;ctico 
	  			propone un recorrido tem&aacute;tico por la Venezuela Rupestre y 
	  			el Mundo Rupestre,  mostrando su unidad, su diversidad, y la forma 
	  			de comprender el mundo, a trav&eacute;s de las Manifestaciones 
	  			Rupestres.
			</p>	
	  	</div>
		<div class="col-md-4 col-sm-4 col-xs-4">
			<img src="{% static "images/productosyservicios/publicaciones/venezuela.png"  %}"  />
		</div>
	</div>
	
		<!-- Heading para los subtítulos. -->    
	<h4>
		<b>El Diseño en los Petroglifos Venezolanos</b><br>
		Ruby De Valencia & Jeannine Sujo
	</h4>
	<div class="row" id="Libro">
		<div class="col-md-4 col-sm-8 col-xs-6">
	  		<img src="{% static "images/quienessomos/libro.jpg"  %}" class="img-responsive"  />
		</div>
	  
	  	<div class="col-md-8 col-sm-12 col-xs-4">
	  		<p class="text-left" style="text-align:left">
				Su contenido permiti&oacute;: 
				<ul>
					<li>
						Presentar el primer inventario documentado fotogr&aacute;
						ficamente sobre la totalidad de estaciones rupestres registradas 
						a nivel nacional hasta el momento, que conforman parte del
						patrimonio cultural arqueol&oacute;gico de Venezuela.
					</li>
					<li>
						Sustentar importantes conclusiones en el campo de la
						investigaci&oacute;n antropol&oacute;gica referentes a 
						Venezuela, en base al estudio e interrelaci&oacute;n de 
						las caracter&iacute;sticas estil&iacute;sticas de estas 
						estaciones; se formularon los horizontes estil&iacute;sticos 
						que definen las diferentes zonas geogr&aacute;ficas del pa&iacute;s.  
						Estos horizontes permitieron a su vez orientar varias hip&oacute;tesis
						referentes a algunas de las rutas migratorias m&aacute;s 
						antiguas de nuestro pa&iacute;s.
					</li>
				</ul>
				Edici&oacute;n triling&uuml;e de la Fundaci&oacute;n Pampero, 
				Caracas, 1987, 410 p&aacute;ginas.
			</p>	
	  	</div>
	  	
	  	<div class="col-md-12 col-sm-12 col-xs-4">
	  		<p class="text-left" style="text-align:left">
				Esta publicaci&oacute;n fue acreedora de los siguientes 
				reconocimientos nacionales e internacionales:
				<ul>
					<li>Representa a Venezuela en la<b> Exposici&oacute;n EL LIBRO 
					MAS BELLO DEL MUNDO 1988.</b></li>
					<li><b>Medalla de Bronce</b>; en la <b>Exposici&oacute;n 
					Internacional del Arte del Libro, 1989.</b></li>
					<li><b>Diploma de Honor</b>, Leipzig, Alemania.</li>
					<li>Reconocimiento en la <b>IX Exposici&oacute;n Anual del Libro 
					Ilustrado y la Fotograf&iacute;a Documental , 1988</b>, Instituto 
					Aut&oacute;nomo Biblioteca Nacional, Caracas.</li>
				</ul>
			</p>	
	  	</div>
	</div>
	
	<!-- Heading para los subtítulos. -->    
	<h4>
		<b>Juego didáctico</b><br>
		UNO Rupestre: Manifestaciones rupestres venezolanas
	</h4>
	<div class="row" id="UNO">
		<div class="col-md-4 col-sm-8 col-xs-6">
	  		<img src="{% static "images/productosyservicios/publicaciones/UNO.png"  %}"  />
		</div>
	  
	  	<div class="col-md-8 col-sm-12 col-xs-4">
	  		<p class="text-left" style="text-align:left">
				Este singular juego permitir&aacute; a los educadores, 
				aplicar diversas estrategias, para ense&ntilde;ar y aprender con 
				el Patrimonio Cultural Arqueol&oacute;gico. Las cartas que contiene, 
				permiten convertir el juego en una experiencia educativa, en 
				ellas encontrar&aacute; informaci&oacute;n sobre las Manifestaciones 
				Rupestres venezolanas y los estados donde se ubican. Estudiantes, 
				educadores y p&uacute;blico en general de todas las edades,
				podr&aacute;n entrar al mundo de las Manifestaciones Rupestres, 
				a trav&eacute;s de este juego did&aacute;ctico de divulgaci&oacute;n 
				cient&iacute;fica, que propone fomentar el conocimiento, como 
				veh&iacute;culo para la protecci&oacute;n de los sitios rupestres 
				en Venezuela.
			</p>	
	  	</div>
	  	
	</div>
</div>

{% endblock %}