
{% extends "productosyservicios-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Publicaciones{% endblock %}
{% block title %}Publicaciones{% endblock %}

{% block content %}
<div id="contenido">
	<div class="row" id="Introducción">
		<div class="col-md-12 col-xs-12">
			<p class="text-left" style="text-align:left">
				Estas publicaciones hacen parte  del material didáctico, 
				que <b>ANAR</b> viene desarrollando, para incentivar el interés 
				en conocer y proteger  el Patrimonio Rupestre del país.
			</p>
			<p class="text-left" style="text-align:left">
				Uno de los objetivos de este material, es servir de apoyo para 
				docentes,  estudiantes,  en las escuelas y comunidades; igualmente 
				proporcionan información a diferentes sectores de la sociedad.
			</p>
			<p class="text-left" style="text-align:left">
				Están a la disposición de las personas e instituciones 
				interesadas. Las publicaciones están a la venta en el ANAR.  
				Si lo prefiere puede contactarnos a través de nuestros correos:
				<a href="mailto:anarvenezuela@gmail.com" style="color:red">anarvenezuela@gmail.com</a> y 
				<a href="mailto:anar@anar.org.ve" style="color:red">anar@anar.org.ve</a>. 
				Gustosamente se las enviaremos. No dude en contactarnos.
			</p>
		</div>
	</div>
	<br>
	
	<!-- Heading para los subtítulos. -->    
	<h4>
		<span style="color:red">
			<b>El Diseño en los Petroglifos Venezolanos</b><br>
			<em><small style="color:red">Ruby De Valencia & Jeannine Sujo</small></em>
		</span>
	</h4>
	<br>
	
	<div class="row" id="Libro">
		<div class="col-md-4 col-sm-8 col-xs-6">
	  		<img src="{% static "images/quienessomos/libro.jpg"  %}" class="img-responsive"  />
		</div>
	  
	  	<div class="col-md-8 col-sm-12 col-xs-4">
	  		<p class="text-left" style="text-align:left">
				Su contenido permitió: 
				<ul>
					<li>
						Presentar el primer inventario documentado fotográ
						ficamente sobre la totalidad de estaciones rupestres registradas 
						a nivel nacional hasta el momento, que conforman parte del
						patrimonio cultural arqueológico de Venezuela.
					</li>
					<li>
						Sustentar importantes conclusiones en el campo de la
						investigación antropológica referentes a 
						Venezuela, en base al estudio e interrelación de 
						las características estilísticas de estas 
						estaciones; se formularon los horizontes estilísticos 
						que definen las diferentes zonas geográficas del país.  
						Estos horizontes permitieron a su vez orientar varias hipótesis
						referentes a algunas de las rutas migratorias más 
						antiguas de nuestro país.
					</li>
				</ul>
				Edición trilingüe de la Fundación Pampero, 
				Caracas, 1987, 410 páginas.
			</p>	
	  	</div>
	  	
	  	<div class="col-md-12 col-sm-12 col-xs-4">
	  		<p class="text-left" style="text-align:left">
				Esta publicación fue acreedora de los siguientes 
				reconocimientos nacionales e internacionales:
				<ul>
					<li>Representa a Venezuela en la<b> Exposición EL LIBRO 
					MAS BELLO DEL MUNDO 1988.</b></li>
					<li><b>Medalla de Bronce</b>; en la <b>Exposición 
					Internacional del Arte del Libro, 1989.</b></li>
					<li><b>Diploma de Honor</b>, Leipzig, Alemania.</li>
					<li>Reconocimiento en la <b>IX Exposición Anual del Libro 
					Ilustrado y la Fotografía Documental , 1988</b>, Instituto 
					Autónomo Biblioteca Nacional, Caracas.</li>
				</ul>
			</p>	
	  	</div>
	</div>
	<br>
	
	<!-- Heading para los subtítulos. -->    
	<h4>
		<span style="color:red">
			<b>Venezuela Rupestre - Mundo Rupestre</b>
		</span>
	</h4>
	<br>
	
	<div class="row" id="Rueda Didáctica">
		<div class="col-md-4 col-sm-4 col-xs-4">
	  		<img src="{% static "images/productosyservicios/publicaciones/mundo.png"  %}"  />
		</div>
	  
	  	<div class="col-md-4 col-sm-4 col-xs-4">
	  		<p class="text-left" style="text-align:left">
	  			A través de ruedas giratorias, este juego didáctico 
	  			propone un recorrido temático por la Venezuela Rupestre y 
	  			el Mundo Rupestre,  mostrando su unidad, su diversidad, y la forma 
	  			de comprender el mundo, a través de las Manifestaciones 
	  			Rupestres.
			</p>	
	  	</div>
		<div class="col-md-4 col-sm-4 col-xs-4">
			<img src="{% static "images/productosyservicios/publicaciones/venezuela.png"  %}"  />
		</div>
	</div>
	<br>
	
	<!-- Heading para los subtítulos. -->    
	<h4>
		<span style="color:red">
			<b>UNO Rupestre: Las Manifestaciones Rupestres venezolanas</b>
		</span>
	</h4>
	<br>
	
	<div class="row" id="UNO">
		<div class="col-md-4 col-sm-8 col-xs-6">
	  		<img src="{% static "images/productosyservicios/publicaciones/UNO.png"  %}"  />
		</div>
	  
	  	<div class="col-md-8 col-sm-12 col-xs-4">
	  		<p class="text-left" style="text-align:left">
				Este singular juego permitirá a los educadores, 
				aplicar diversas estrategias, para enseñar y aprender con 
				el Patrimonio Cultural Arqueológico. Las cartas que contiene, 
				permiten convertir el juego en una experiencia educativa, en 
				ellas encontrará información sobre las Manifestaciones 
				Rupestres venezolanas y los estados donde se ubican.
			</p>
			<p class="text-left" style="text-align:left">
				Estudiantes, educadores y público en general de todas las edades,
				podrán entrar al mundo de las Manifestaciones Rupestres, 
				a través de este juego didáctico de divulgación 
				científica, que propone fomentar el conocimiento, como 
				vehículo para la protección de los sitios rupestres 
				en Venezuela.
			</p>
	  	</div>
	  	
	</div>
</div>

{% endblock %}