
{% extends "productosyservicios-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Servicios de Información{% endblock %}
{% block title %}Servicios de Información{% endblock %}

{% block content %}
<div id="contenido">
	<p>
		Los Servicios de Información son el soporte básico en el desarrollo de 
		las actividades de investigación y difusión del conocimiento.
	</p>
	<p>
		El <b>ANAR</b> se ha venido ampliando desde su creación y hoy constituye un 
		invalorable patrimonio documental al que acuden numerosos investigadores 
		del Arte y la Antropología a nivel mundial. El <b>ANAR</b> posee fichas de campo, 
		cartografía, fotografías y dibujos que pueden guiar al más exigente de 
		los exploradores, en la búsqueda de estos sitios rupestres.
	</p>
	
	<p>
		El <b>ANAR</b> posee un registro documental y hemerográfico de la historia de la 
		ciencia antropológica venezolana, enfocando desde los descubrimientos en 
		lingüística hasta los de paleontología, desde los de arqueología hasta 
		los de Etnobotánica, Arqueoastronomía y Sociobiología, así como la 
		historia y las crisis de la ciencia y sus científicos. Todo ello a través 
		de 70 temas de investigación relacionados con Venezuela  y 200 con otros 
		países.
	</p>

	<p>
		Los documentos bibliográficos, hemerográficos y fotográficos del <b>ANAR</b> 
		extienden la historia de Venezuela hasta 15.000 años A.C.
	</p>

	<p>
		El <b>ANAR</b> está compuesto por materiales de dos organizaciones: <b>Ediciones y 
		Riquezas Antropológicas –ERA,ca.-</b>, y <b>FUNDABITAT –Fundación Venezolana 
		para la Preservación del Hábitat, Promoción y Defensa de las Culturas-</b>. 
	</p>

	<p>
		Como Centro de Referencia y Servicio de  Información sobre Arte Rupestre, 
		permanece en custodia temporal a largo plazo en la <b>FUNDACIÓN TAMAYO</b>.
	</p>
</div>

{% endblock %}