
{% extends "programadeeducacion-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Convenios y Alianzas{% endblock %}
{% block title %}Convenios y Alianzas{% endblock %}

{% block content %}
<p>
El <b>ANAR</b> es un recurso valioso para las investigaciones que sobre las <b>Manifestaciones Rupestres</b> se llevan a cabo en Venezuela. 
</p>
<p>
Es el miembro 39 de <b>IFRAO - The International Federation of Rock Art Organisations- / UNESCO</b>
</p>
<p>
Sostiene convenios y alianzas activas con:<br>
<li> Escuela de Antropolog&iacute;a y de Educaci&oacute;n de la <b>Universidad Central de Venezuela (UCV)</b></li>
<li> Escuela de Dise&ntilde;o / Facultad de Arquitectura de la <b>Universidad Jos&eacute; Mar&iacute;a Vargas (UJMV)</b></li>
<li> Departamento de Computaci&oacute;n y T.I de la <b>Universidad Sim&oacute;n Bol&iacute;var (USB)</b></li>
<li><b> Instituto Universitario de Tecnolog&iacute;a Industrial Rodolfo Roelo Arismendi (IUTIRLA)</b>  </li>
</p>
{% endblock %}