{% extends "website-base.html" %}
{% load staticfiles %}
{% block pagetitle %}Pagina Principal{% endblock %}
{% block title %}{% endblock %}
{% block user %}
Ruby de Valencia
{% endblock %}


{% block submenu %}
<ul class="list-inline">
	<table><tr>
        <td class="active inicial"><a href="{% url index %}">Inicio	</a></td>
    <td role="presentation" class="dropdown ">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Quienes somos</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url origenytrayectoria %}">
					Origen y Trayectoria</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url areasdeespecializacion %}">
					&Aacute;reas de Especializaci&oacute;n</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url organigrama %}">
					Organigrama</a></li>
           <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url profesionalesadjuntos %}">
					Profesionales adjuntos</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Patrimonio Rupestre <br> Venezolano
        <ul class="dropdown-menu" role="menu">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url nota %}">
					Nota	</a></li>			
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url leydeproteccion %}">
					Ley de Protecci&oacute;n del Patrimonio</a></li>
            <li role="presentation"><a style="color: purple;" role="menuitem" tabindex="-1" href="{% url pinturasrupestres %}">
					Pinturas Rupestres</a></li>
            <li role="presentation"><a style="color: #DF7401;" role="menuitem" tabindex="-1" href="{% url geoglifo %}">
					Geoglifo</a></li>
            <li role="presentation"><a style="color: red;" role="menuitem" tabindex="-1" href="{% url petroglifo %}">
					Petroglifos</a></li>
            <li role="presentation"><a style="color: #424242;" role="menuitem" tabindex="-1" href="{% url amoladores %}">
					Amoladores L&iacute;ticos, Puntos Acoplados, C&uacute;pulas</a></li>
            <li role="presentation"><a style="color: #04B404;" role="menuitem" tabindex="-1" href="{% url monumentosmegaliticos %}">
					Monumentos Megal&iacute;ticos, Menhires, D&oacute;lmenes, Monolitos</a></li>
            <li role="presentation"><a style="color: #DBA901;" role="menuitem" tabindex="-1" href="{% url micropetroglifos %}">
					Micropetroglifos</a></li>
            <li role="presentation"><a style="color: #01A9DB;" role="menuitem" tabindex="-1" href="{% url piedrasycerrosmiticos %}">
					Piedras y Cerros M&iacute;ticos Naturales</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Programa <br>de Educaci&oacute;n</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url manifestacionesylaescuela %}">
					Las Manifestaciones Rupestres y la Escuela</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url convenios %}">
					Convenios - Alianzas</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Productos y<br> Servicios</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url publicaciones %}">
					Publicaciones</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url productos %}">
					Productos</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url asesorias %}">
					Asesor&iacute;as</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url visitasguiadas %}">
					Visitas Guiadas</a></li>
        </ul>
    </td>
    <td class="final" style="border:0px;"><a href="{% url contacto %}">
					Contacto</a></td>
</tr></table>
</ul>
{% endblock %}

{% block content %}
<ul id="fondo" style="width:100%;height:800px;z-index=1;display:none;" ></ul>
<ul id="1" class="dropdown-image" role="menu">
    <img src="{% static "images/inicio/198grande.png" %}" style="width:242px" />
	<div class="description" style="font-size:11px"><br>
	    <p style="margin-left:280px">
    	    <span style="color:red"><b>198<br>PETROGLIFO</b></span><br>
    		Capitanejo<br>
    		Estado Barinas<br>
            Fotog: E. Ruiz Guevara 
        </p>
    </div>
	<div onclick="setImageVisible('1','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>

<ul id="2" class="dropdown-image" role="menu">
	<img src="{% static "images/inicio/51grande.png" %}" style="width:370px" />
	<div class="description" style="font-size:11px"><br>
        <p style="margin-left:215px">
            <span style="color:orange"><b>51<br>GEOGLIFO</b></span><br>
		    La Rueda del Indio<br>
		    Estado Carabobo<br>
            Fotog: Victor Hern&aacute;ndez 
        </p>
    </div>
	<div onclick="setImageVisible('2','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>

<ul id="3" class="dropdown-image" role="menu">
	<img src="{% static "images/inicio/84grande.png" %}" style="width:370px" />
	<div class="description" style="font-size:11px"><br>
        <p style="margin-left:215px">
            <span style="color:#04B404"><b>84<br>MONUMENTOS MEGAL&Iacute;TICOS</b><br>MENHIRES<br></span>
	        Vigirima<br>
	        Estado Carabobo<br>
            Fotog: E. Victor Hern&aacute;ndez  
        </p>
    </div>
	<div onclick="setImageVisible('3','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>

<ul id="4" class="dropdown-image">
	<img src="{% static "images/inicio/151grande.png" %}" style="width:242px" />
	<div class="description" style="font-size:11px"><br>
	    <p style="margin-left:280px">
	        <span style="color:purple"><b>451<br>PINTURA RUPESTRE</b></span><br>
			Cueva Cerro Gavil&aacute;<br>
			Estado Bol&iacute;var<br>
            Fotog: Gabriela Montoto
	    </p> 
	</div>
	<div onclick="setImageVisible('4','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul> 

<div id="contenido">
<div class="row">
    <div class="col-xs-2 col-xs-offset-1" onclick="setImageVisible('1','block')">
        <img class="center-block" src="{% static "images/inicio/198peq.png" %}" class="img-responsive" style="height:100%;width:100%;max-width:118px;max-height:180px"/>	
    </div>
    <div class="col-xs-3" onclick="setImageVisible('2','block')">
        <img class="center-block" src="{% static "images/inicio/51peq.png" %}" class="img-responsive" style="height:100%;width:100%;max-width:180px;max-height:118;margin-top: 31px;"/>
    </div>
    <div class="col-xs-3" onclick="setImageVisible('3','block')">
        <img class="center-block" src="{% static "images/inicio/84peq.png" %}" class="img-responsive" style="height:100%;width:100%;max-width:180px;max-height:118px;margin-top: 31px;"/>
    </div>
    <div class="col-xs-2" onclick="setImageVisible('4','block')">
        <img class="center-block" src="{% static "images/inicio/151peq.png" %}" class="img-responsive" style="height:100%;width:100%;max-width:118px;max-height:180px"/>
    </div>
</div>

<br>
<h3 style="text-align: center"><b>ANAR - Archivo Nacional de Arte Rupestre</b></h3>
<p style="text-align: center;font-size:18px">
    Tiene como propósito fundamental<br> 
    servir de Centro de Referencia y Servicio de Información<br>
    para el Conocimiento y Protección<br>
    de las Manifestaciones Rupestres en Venezuela<br>
    como parte de la Conservación de la memoria histórica y documental<br> 
    de este Patrimonio Cultural Arqueológico del país.
</p>
<br>
<div class="row" >
    <div class="col-xs-8 col-xs-offset-2">
        <img class="img-inicio" src="{% static "images/inicio/FUNDABITAT.gif"  %}"  style="width:91px;height:86px;margin-left:35px"/>
        <img class="img-inicio" src="{% static "images/inicio/IFRAO.gif" %}"  style="width:91px;height:86px"/>
        <img class="img-inicio" src="{% static "images/inicio/tamayop.gif" %}"  style="width:91px;height:86px"/>
        <img class="img-inicio" src="{% static "images/inicio/ucvg.gif" %}"  style="width:91px;height:86px"/>
        <img class="img-inicio" src="{% static "images/inicio/USB.png" %}" style="width:91px;height:86px"/>
    </div>
</div>

</div>
<br>
{% endblock %}


