
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Amoladores{% endblock %}
{% block title %}<span style="color:#424242">Amoladores</span>{% endblock %}

{% block content %}
<p>
Los <span style="color:#424242"><b>Amoladores líticos</b></span> son depresiones de formas ovaladas hechas por abrasión. Los <span style="color:#424242"><b>Puntos Acoplados</b></span> son grabados de forma semi-circular en la roca, de 1 a 5 cms.
</p>
<p>
Acompañando los <span style="color:red">petroglifos</span> que bordean los ríos, aparecen numerosas piedras con surcos en forma de <span style="color:#424242"><b>Amoladores</b></span>, que pudieran indicar las formas de los instrumentos líticos utilizados para grabarlos.
</p>
<p>
Estas dos manifestaciones se han encontrado tanto acompañadas de <span style="color:red">petroglifos</span> como separadas de ellos, constituyendo yacimientos rupestres en sí mismo. 
</p>

<p><img src="{% static "images/patrimoniorupestrevenezolano/amoladores/Ubiamoladores.png"  %}" style="width:70%;border:solid 2px #424242"/></p>

<table width="80%" align="center">
	<tbody>
		<tr>
			<td align="center" width="60%">
			<img src="{% static "images/patrimoniorupestrevenezolano/amoladores/164.png"  %}" width="40%" />
			</td>
			<td align="center" width="20%">
			<img src="{% static "images/patrimoniorupestrevenezolano/amoladores/183.png"  %}" width="20%" />
			</td>
		</tr>
		<tr>
			<td>
			<p style="font-size:12px"><b><span style="color:#424242;">164 - AMOLADORES</span><br><u>Salto Par&uacute;</u><br></b>Estado Amazonas<br>Fotog: E. Gonz&aacute;lez Ni&ntilde;o<br></p>
			</td>			<td>
			<p style="font-size:12px"><b><span style="color:#424242;">183 - PUNTOS ACOPLADOS</span><br><u>Isla de los Arrendajos</u><br></b>Estado Bol&iacute;var<br>Fotog: Ruby De Valencia<br></p>
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}