
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Micropetroglifos{% endblock %}
{% block title %}{% endblock %}

{% block content %}
<ul id="fondo" style="width:100%;height:800px;z-index=1;display:none;"></ul>
<ul id="1" class="dropdown-image " role="menu">
	<img src="{% static "images/patrimoniorupestrevenezolano/micropetroglifos/Ubimicropetroglifos.png" %}" 
		style="width:650px;border:solid 2px #DBA901"/>
	<br><br><br>
	<div onclick="setImageVisible('1','none')" style="width:732px;font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>
<ul id="2" class="dropdown-image " role="menu">
	<img src="{% static "images/patrimoniorupestrevenezolano/micropetroglifos/100grande.png" %}" style="width:370px"/>
	<div class="description" style="font-size:11px"><br>
		<p style="margin-left:215px">
			Lago de Valencia<br>
			stado de Carabobo<br>
			Fotog: Alfredo Weber<br>
		</p>
	</div>
	<div onclick="setImageVisible('2','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>
<ul id="3" class="dropdown-image " role="menu">
	<img src="{% static "images/patrimoniorupestrevenezolano/micropetroglifos/359grande.png" %}" style="width:370px"/>
	<div class="description" style="font-size:11px"><br>
		<p style="margin-left:215px">
			QUIBARIO - Piedra para medir el tiempo<<br>
			Sta Anita, Estado Merida<br>
			Fotog: A. M&aacute;rquez C.<br>
		</p>
	</div>
	<div onclick="setImageVisible('3','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>

<div id="contenido">
<h3><b><span style="color:#DBA901">Micropetroglifos</span></b></h3>
	<div class="row">
	  <div class="col-md-4 col-xs-8">
	  	<img src="{% static "images/patrimoniorupestrevenezolano/micropetroglifos/100peq.png"  %}" class="img-responsive" style="width:270px;height:177px" onclick="setImageVisible('2','block')"/>
	  	<br>
	  	<img src="{% static "images/patrimoniorupestrevenezolano/micropetroglifos/359peq.png"  %}" class="img-responsive center-block" style="width:177px" onclick="setImageVisible('3','block')" />
	  </div>
	  <div class="col-md-8 col-xs-12">
	  	<p class="text-left" style="text-align:left">
	  		Los <span style="color:#DBA901"><b>Micropetroglifos</b></span> son 
	  		pequeños guijarros o lajas líticas con grabados.
		</p>
		<p class="text-left" style="text-align:left">
	  		De los estados centrales y andinos se conocen ejemplares de 
	  		<span style="color:#DBA901"><b>Micropetroglifos</b></span>, que 
	  		aparecen en la literatura antropológica reseñados en relatos sobre
	  		conjuros mágicos, su uso como calendarios o monedas y entre los 
	  		informantes indígenas su uso por chamanes para atraer la lluvia.
		</p>
		<button type="button" class="btn btn-link pull-right" onclick="setImageVisible('1','block')">Ubicación</button>
	  </div>
	</div>

</div>

{% endblock %}