
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Micropetroglifos{% endblock %}
{% block title %}<span style="color:#DBA901">Micropetroglifos</span>{% endblock %}

{% block content %}
<p>
Los <span style="color:#DBA901"><b>Micropetroglifos</b></span> son pequeños guijarros o lajas líticas con grabados. 
</p>
<p>
De los estados centrales y andinos se conocen ejemplares de <span style="color:#DBA901"><b>Micropetroglifos</b></span>, que aparecen en la literatura antropológica reseñados en relatos sobre conjuros mágicos, su uso como calendarios o monedas y entre los informantes indígenas su uso por chamanes para atraer la lluvia.
</p>
<p><img src="{% static "images/patrimoniorupestrevenezolano/micropetroglifos/Ubimicropetroglifos.png"  %}" style="width:70%;border:solid 2px #DBA901"/></p>

<table width="80%" align="center">
	<tbody>
		<tr>
			<td align="center" width="60%">
			<img src="{% static "images/patrimoniorupestrevenezolano/micropetroglifos/100.png"  %}" width="50%" />
			</td>
			<td align="center" width="40%">
			<img src="{% static "images/patrimoniorupestrevenezolano/micropetroglifos/359.png"  %}" width="50%" />
			</td>
		</tr>
		<tr>
			<td>
			<p style="font-size:12px"><b><span style="color:#DBA901;">100/0/3 - MICROPETROGLIFO</span><br><u>Lago de Valencia</u><br></b>Estado de Carabobo<br>Fotog: Alfredo Weber<br></p>
			</td>			<td>
			<p style="font-size:12px"><b><span style="color:#DBA901;">359/0/1 - MICROPETROGLIFO</span><br><u>QUIBARIO - Piedra para medir el tiempo</u><br></b>Sta Anita, Estado Merida<br>Fotog: A. M&aacute;rquez C.<br></p>
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}