
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Monumentos Megal&iacute;ticos{% endblock %}
{% block title %}{% endblock %}

{% block content %}
<ul id="fondo" style="width:100%;height:800px;z-index=1;display:none;"></ul>
<ul id="1" class="dropdown-image " role="menu">
	<img src="{% static "images/patrimoniorupestrevenezolano/monumentos/Ubimegaliticos.png" %}" 
		style="width:650px;border:solid 2px #04B404"/>
	<br><br><br>
	<div onclick="setImageVisible('1','none')" style="width:732px;font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>
<ul id="2" class="dropdown-image " role="menu">
	<img src="{% static "images/patrimoniorupestrevenezolano/monumentos/84grande.png" %}" style="width:370px"/>
	<div class="description" style="font-size:11px"><br>
		<p style="margin-left:215px">
			<span style="color:#04B404"><b>84/3-2/0<br>MONUMENTOS MEGALÍTICOS</b></span><br>
			<b><i>Vigirima</i></b><br>
			Estado Carabobo<br>
			Fotog: Ruby De Valencia<br>
		</p>
	</div>
	<div onclick="setImageVisible('2','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>
<ul id="3" class="dropdown-image " role="menu">
	<img src="{% static "images/patrimoniorupestrevenezolano/monumentos/320grande.png" %}" style="width:242px"/>
	<div class="description" style="font-size:11px"><br>
		<p style="margin-left:280px">
			<span style="color:#04B404"><b>84/1/0<br>MONUMENTOS MEGALÍTICOS<br>MENHIRES</b></span><br>
			<b><i>Vigirima</i></b><br>
			Estado Carabobo<br>
			Fotog: Victor Hern&aacute;ndez<br>
		</p>
	</div>
	<div onclick="setImageVisible('3','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>

<div id="contenido">
<h3><b><span style="color:#04B404">Monumentos Megal&iacute;ticos</span></b></h3>
	<div class="row">
	  <div class="col-md-4 col-xs-8">
	  	<img src="{% static "images/patrimoniorupestrevenezolano/monumentos/84peq.png"  %}" class="img-responsive" style="width:270px;height:177px" onclick="setImageVisible('2','block')"/>
	  	<br>
	  	<img src="{% static "images/patrimoniorupestrevenezolano/monumentos/320peq.png"  %}" class="img-responsive center-block" style="width:177px" onclick="setImageVisible('3','block')" />
	  </div>
	  <div class="col-md-8 col-xs-12">
	  	<p class="text-left" style="text-align:left">
	  		Son admirados los <span style="color:#04B404"><b>megalíticos</b></span> 
	  		de <b>Stonehenge</b>, pero ignorados los <b>círculos de piedra</b> con 
	  		<b>grabados astronómicos</b> del <b>estado Cojedes, las filas de 
	  		<span style="color:#04B404">Menhires</span></b> del <b>estado Carabobo</b>, 
	  		y los <span style="color:#04B404"><b>D&oacute;lmenes</b></span> del 
	  		<b>estado Amazonas.</b><br>
		</p>
		<p class="text-left" style="text-align:left">
			Los grabados de<span style="color:red"> petroglifos</span> y 
			<span style="color:#424242">puntos acoplados</span> <b>sobre</b> 
			<span style="color:#04B404">menhires</span> que se encuentran en Venezuela, 
			indicadores de la contemporaneidad de ambas manifestaciones en nuestro país, 
			son de importancia mundial en el difícil ámbito de las dataciones arqueológicas.<br>
		</p>
		<p class="text-left" style="text-align:left">
			El <b>ANAR</b> posee los relatos y dibujos de exploradores tan antiguos 
			como Chanffanjon y Humboldt, y fotografías digitalmente resaltadas de 
			estos hermosos ejemplares.
		</p>
		<button type="button" class="btn btn-link pull-right" onclick="setImageVisible('1','block')">Ubicación</button>
	  </div>
	</div>

</div>



{% endblock %}