
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Petroglifo{% endblock %}
{% block title %}<span style="color:red">Petroglifo</span>{% endblock %}

{% block content %}

<p>El grabado sobre la piedra es lo que hoy conocemos con el nombre de <span style="color:red"><b>Petroglifo</b></span>.
</p>
<p>En Venezuela los encontramos diseminados pr&aacute;cticamente por todo el territorio: en las sabanas, en las altas monta&ntilde;as, en las orillas y en medio de los r&iacute;os,  tambi&eacute;n en las selvas.  Hay autores que indican  que los petroglifos orientados  o visibles a grandes distancias serv&iacute;an de gu&iacute;a a las tribus inmigrantes.  Para otros  estas piedras pudieron ser  l&iacute;mites territoriales prehist&oacute;ricos, indicadores de sitios  de reuni&oacute;n, representaciones cartogr&aacute;ficas de primitivas rutas o indicadores de sitios funerarios.
</p>
<p>Se destacan en Venezuela, <span style="color:red"><b>Petroglifos</b></span> de inusitados grosor y profundidad de surcos (hasta 10 cms.) los cuales se encuentran bordeando el pie de monte andino en el <b>estado Barinas</b> en un &aacute;rea de 40 kms. de largo.  En Barinas adem&aacute;s de los <b>estados Falc&oacute;n</b> y <b>Bol&iacute;var</b> aparecen ejemplares en los que el dibujo resalta en alto relieve lineal en lugar del m&aacute;s com&uacute;n bajorrelieve de la mayor&iacute;a de los <span style="color:red"><b>Petroglifos</b></span>.  En el <b>estado Amazonas</b> se encuentran murales de hasta 30 mts. de largo grabados a m&aacute;s de 50 mts de altura sobre inaccesibles laderas de piedra pulida. 
</p>
<p>La literatura antropol&oacute;gica posee pocos casos en los que el significado de los Petroglifos, signos anteriores a la escritura, hayan sido cient&iacute;ficamente interpretados y confirmados.
</p>
<p>Venezuela posee la suerte de tener a&uacute;n viva  esta manifestaci&oacute;n, al sur del R&iacute;o Negro donde chamanes de antiguas etnias de origen Arawako a&uacute;n la utilizan y la interpretan en ceremonias de iniciaci&oacute;n  masculinas y femeninas.
</p>

<p><img src="{% static "images/patrimoniorupestrevenezolano/petroglifos/Ubi.png"  %}" style="width:70%;border:solid 2px red"/></p>

<table width="80%" align="center">
	<tbody>
		<tr>
			<td align="center" width="50%">
			<img src="{% static "images/patrimoniorupestrevenezolano/petroglifos/38.png"  %}" width="40%" />
			</td>
			<td align="center" width="30%">
			<img src="{% static "images/patrimoniorupestrevenezolano/petroglifos/98.png"  %}" width="20%" />
			</td>
		</tr>
		<tr>
			<td>
			<p style="font-size:12px"><b><span style="color:red;">183/0/1 - PETROGLIFO</span><br><u>Isla de los Arrendajos</u><br></b>Estado Bol&iacute;var<br>Fotog: Ruby De Valencia<br></p>
			</td>			<td>
			<p style="font-size:12px"><b><span style="color:red;">38 - PETROGLIFO</span><br><u>Piedra del Sol y la Luna</u><br></b>Estado Bol&iacute;var<br>Fotog: Ruby De Valencia<br></p>
			</td>
		</tr>
	</tbody>
</table>


{% endblock %}