
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Piedras y Cerros M&iacute;ticos Naturales{% endblock %}
{% block title %}<span style="color:#01A9DB">Piedras y Cerros M&iacute;ticos Naturales</span>{% endblock %}

{% block content %}

<ul id="fondo" style="width:100%;height:800px;z-index=1;display:none;"></ul>
<ul id="1" class="dropdown-image " role="menu">
	<div class ="row " >
			<img src="{% static "images/patrimoniorupestrevenezolano/piedras/Ubipiedras.png" %}" style="width:100%;border:solid 2px #DBA901"/>
			<div class="description" style="align:left"><b><span style="color:#DBA901">Ubicación de los micropetroglifos en Venezuela</span></b></p>
			<div onclick="setImageVisible('1','none')" style="width:100%;font-size:26px;text-align:right">&#x25C4;</a>
	</div>
</ul>
<ul id="2" class="dropdown-image " role="menu">
	<div class ="row " >
			<img src="{% static "images/patrimoniorupestrevenezolano/piedras/414.png" %}" style="width:100%"/>
			<div class="description" style="align:left"><p><b><span style="color:#01A9DB;">414 - PIEDRA M&Iacute;TICA NATURAL</span><br><u>Olla de Napiruli</u><br></b>Ca&ntilde;o Lemi<br>Estado Amazonas<br>Fotog: Omar Gonz&aacute;lez &Ntilde;.<br></p>
			<div onclick="setImageVisible('2','none')" style="width:100%;font-size:26px;text-align:right">&#x25C4;</a>
	</div>
</ul>
<ul id="3" class="dropdown-image " role="menu">
	<div class ="row " >
			<img src="{% static "images/patrimoniorupestrevenezolano/piedras/35.png" %}" style="width:100%"/>
			<div class="description" style="align:left"><p><b><span style="color:#01A9DB;">35 - CERRO M&Iacute;TICO NATURAL</span><br><u>Roca Culimacari</u><br></b>Bajo Casiquiare<br>Estado Amazonas<br>Fotog: Siegfried Geyer<br></p>
			<div onclick="setImageVisible('3','none')" style="width:100%;font-size:26px;text-align:right">&#x25C4;</a>
	</div>
</ul>

<div id="contenido">
	<div class="row">
	  <div class="col-md-4 col-xs-8">
	  	<img src="{% static "images/patrimoniorupestrevenezolano/piedras/414.png"  %}" class="img-responsive" style="width:100%" onclick="setImageVisible('2','block')"/>
	  	<br>
	  	<img src="{% static "images/patrimoniorupestrevenezolano/piedras/35.png"  %}" class="img-responsive center-block" style="width:50%" onclick="setImageVisible('3','block')" />
	  </div>
	  <div class="col-md-8 col-xs-12">
	  	<p class="text-left" style="text-align:left">
	  		Las <span style="color:#01A9DB"><b>Piedras M&iacute;ticas Naturales</b></span> 
	  		son una manifestaci&oacute;n rupestre del mayor inter&eacute;s  por su 
	  		frecuente relaci&oacute;n mitol&oacute;gica  con los <span style="color:red">Petroglifos</span>.  
	  		Estas piedras no son obra humana sino resultado del trabajo de la 
	  		naturaleza que  las dot&oacute; de formas especiales por las cu&aacute;les 
	  		fueron identificadas con ciertos mitos.<br>
	  		Los <span style="color:#01A9DB"><b>Cerros M&iacute;ticos Naturales</b></span>, 
	  		comparten con las <span style="color:#01A9DB"><b>Piedras M&iacute;ticas Naturales</b></span>
	  		el ser identificados como entes de conexi&oacute;n con el mundo 
	  		subterr&aacute;neo, el mundo de las tinieblas, de los esp&iacute;ritus.<br>
			Los <span style="color:#01A9DB"><b>Cerros y Piedras M&iacute;ticas Naturales</b></span> 
			tambi&eacute;n cuentan en nuestro pa&iacute;s con interpretaciones y significados 
			correlacionados con la variada y extensa mitolog&iacute;a que a&uacute;n forma 
			parte viva de la cultura de 30 etnias ind&iacute;genas ling&uuml;&iacute;sticamente diferenciadas.<br>
			El <b>ANAR</b> documenta toda esta riqueza en fotos, fichas de  campo y publicaciones, 
			tanto de investigadores contempor&aacute;neos como de exploradores y 
			cronistas que conocieron el interior de Venezuela siglos antes  que se 
			creara como tal la ciencia de la antropolog&iacute;a.

		</p>	
		<button type="button" class="btn btn-link pull-right" onclick="setImageVisible('1','block')">Ubicación</button>
	  </div>
	</div>

</div>

{% endblock %}