
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Pinturas Rupestres{% endblock %}
{% block title %}<span style="color:purple">Pinturas Rupestres</span>{% endblock %}

{% block content %}
<ul id="fondo" style="width:100%;height:800px;z-index=1;display:none;"></ul>
<ul id="1" class="dropdown-image " role="menu">
	<div class ="row " >
			<img src="{% static "images/patrimoniorupestrevenezolano/pinturarupestre/UbiPinturasRupestres.png" %}" style="width:100%;border:solid 2px purple"/>
			<div class="description" style="align:left"><b><span style="color:purple">Ubicacion de las Pinturas Rupestres en Venezuela</span></b></p>
			<div onclick="setImageVisible('1','none')" style="width:100%;font-size:26px;text-align:right">&#x25C4;</a>
	</div>
</ul>
<ul id="2" class="dropdown-image " role="menu">
	<div class ="row " >
			<img src="{% static "images/patrimoniorupestrevenezolano/pinturarupestre/434grande.png" %}" style="width:100%"/>
			<div class="description" style="align:left"><p><b><span style="color:purple;">Código ANAR: 434</span><br><u>Cueva del Cerro Gavil&aacute;n</u><br></b>Estado Bol&iacutevar<br>Fotog Joris Lagarde<br></p>
			<div onclick="setImageVisible('2','none')" style="width:100%;font-size:26px;text-align:right">&#x25C4;</a>
	</div>
</ul>
<ul id="3" class="dropdown-image " role="menu">
	<div class ="row " >
			<img src="{% static "images/patrimoniorupestrevenezolano/pinturarupestre/Pinturagrande.png" %}" style="width:100%"/>
			<div class="description" style="align:left"><p><b><span style="color:purple">Código ANAR: 434</span><br><u>Cueva del Cerro Gavil&aacute;n</u><br></b>Estado Bol&iacutevar<br>Fotog. M&ordf; Gabriela Montoto<br></p>
			<div onclick="setImageVisible('3','none')" style="width:100%;font-size:26px;text-align:right">&#x25C4;</a>
	</div>
</ul>

<div id="contenido">
	<div class="row">
	  <div class="col-md-4 col-xs-8">
	  	<img src="{% static "images/patrimoniorupestrevenezolano/pinturarupestre/434.png"  %}" style="width:100%" onclick="setImageVisible('2','block')"/>
	  </div>
	  <div class="col-md-8 col-xs-12">
	  	<p class="text-left" style="text-align:left">
			Las <span style="color:purple"><b>Pinturas Rupestres</b></span>, también llamadas 
			<span style="color:purple"><b>Pictografías</b></span>, aparecen realizadas en cuevas 
			y abrigos protegidas del clima, y de la visibilidad fácil.<br> 
			Son mundialmente reconocidas las <b>cuevas de Altamira y de Lascaux</b> 
			por sus pinturas rupestres, pero muy pocas personas saben que en 
			<b>Venezuela existen más de 20 abrigos y cuevas con <span style="color:purple">Pinturas Rupestres</span> 
			de época prehispánica</b>, y más aún, que estas manifestaciones se extienden hasta el presente, 
			en las pinturas que acompañan los restos mortuorios de etnias indígenas contemporáneas, 
			los rituales de la tradición espiritista o santera, y que aparecen incluso en grandes murales al aire libre (estado Aragua) de manufactura prehispánica. 
		</p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-4 col-xs-8">
	  	<img src="{% static "images/patrimoniorupestrevenezolano/pinturarupestre/Pintura.png"  %}" style="width:100%" onclick="setImageVisible('3','block')" />
	  </div>
	  <div class="col-md-8 col-xs-12">
	  	<button type="button" class="btn btn-link pull-right" onclick="setImageVisible('1','block')">Ubicación</button>
	  </div>
	</div>
	
</div>

{% endblock %}