
{% extends "en/quienessomos-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Specialization areas{% endblock %}
{% block title %}Specialization areas{% endblock %}

{% block content %}
<p>
The <b>ANAR</b> currently encompasses the following documentation:
</p>
<ol style="padding-left: 1.5%">
	
<li><b>NATIONAL ARCHIVES OF ROCK ART </b>
	<ul>
		<li>
			<b>Rock Art Sites Folders:</b> They file the field work registers 
			that describe each one of the 510 stations of rupestrian art 
			(comprised of 1 to 30 stones per station) registered up to date in 
			the Archive, with their respective photographs or illustrations 
			covering both the site and the individual rocks. 
		</li>
		<li>
			<b>Cartographic Filing Cards:</b> Where the location of each 
			registered rock art site is shown, as well as the explorers that 
			have studied, drawn and / or photographed it, the year and the 
			page where the finds were published.
		</li>
		<li>
			<b>Folders of Bibliographic Documents:</b> Which consists of the total 
			of bibliographic documents and periodicals regarding Venezuelan rock 
			art sites registered at the ANAR. 
		</li>
		<li>
			<b>Non Bibliographical Material:</b> Where one finds pictures and 
			illustrations of each one of the stations and stones. 
		</li>
		<li>
			<b>Folders of Bibliographic Documents From Other Countries:</b> 
			Which consist of bibliographic documents and periodicals regarding 
			Rupestrian Art in other countries. 
		</li>
		<li>
			<b>Bibliographic Card-Catalog:</b> That comprises a total of 1000 
			bibliographic references relative to Venezuelan Rock Art generally, 
			as well as a section of related topics (Primitive Navegation, 
			Corporal Painting, Modern Techniques of Archaeological Prospectine...etc) 
			and Rock Art sites from other countries, with a similar amount of 
			entries. 
		</li>
		<li>
			<b>Unclassified Material:</b> Its corresponds to an ample numbers of 
			documents collected since the publication of El Dise&ntilde;o en los 
			Petroglifos Venezolanos (1987), which are permanently being collected 
			and processed for integration to the Archive.
		</li>

	</ul>
</li>
</ol>
<p>
	All documents referred to in this section are codified in cross-section, 
	which allows an infinite variety of relationships that facilitate the 
	investigator's research work.
</p>

<ol style="padding-left: 1.5%" start="2">
<li><b>ARCHIVE OF BIBLIOGRAPHIC DOCUMENTS</b> <br/>
<b>(Anthropology in General)</b>
	<ul>
		<li>
			The folders of documents in this Archive are grouped in different 
			anthropological categories such as Paleontology, Archaeology, 
			Ethnology, etc. and then subdivided by countries. 
		</li>
	</ul>
</li>

<li><b>ARCHIVE OF PERIODICALS</b> <br/>
<b>(Anthropology in General)</b>
	<ul>
		<li>
			The folders of documents in this Archive are grouped following 
			approximately the same classification of the Archive of Bibliographic 
			Documents.
		</li>
	</ul>
	
</ol>
{% endblock %}