<!DOCTYPE html>
{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Petroglifos con <u>{{tipo}}</u>:
{% endblock %}

{% block content %}
	<br>

	{% if estado != "---"%}
		<h4><strong>Estado: </strong>{{estado}}</h4>
	{% endif %}

	{% for result in listaResultado %}
		<li>
			<strong>Código:</strong> {{result.petroglifo.yacimiento.codigo}}, 
			<i> 
				<a href="/admin/anarapp/yacimiento/{{result.petroglifo.yacimiento.id}}">{{result.petroglifo.yacimiento.nombre}}</a>
			</i>
		</li>

	{% endfor %}
{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}