<!DOCTYPE html>
{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Petroglifos 
	{%if estado != "---"  %} en el estado {{estado}} {%endif%}

	{% if surco != "---" %} que tienen <u>{{surco}}</u>{%endif%}
{% endblock %}

{% block content %}

	<br>
	<h3>Hay un total de {{total}} petroglifos</h3>

	{% for y in listaYacimientos %}
	
	  <h4>
	    <strong>Nombre:</strong>
	    <a href="/admin/anarapp/yacimiento/{{y.id}}">
	      {{y.nombre}}
	    </a>
	  </h4>
	  <li>
	    <strong>Código:</strong>{{y.codigo}}
	  </li>

	{% endfor %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}