{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
  Cruces - Yacimiento
{% endblock %}

{% block title %}
  <center>Cruce 8 - <i>(PB1) Yacimiento</i> con <i>(PB1) Yacimiento</i></center></br>
  ¿Qué <i>(31.6) Material Multimedia</i> tiene el <i>(00 - Código) Yacimiento de código: {{ codigo }}?
{% endblock %}

{% block content %}

{% if yacimiento %}
  {% for y in yacimiento%}
    <h4 style="margin-left:1em;">
      <a href="/admin/anarapp/yacimiento/{{y.id}}" style="color:black">
        (1) Nombre: {{ y.nombre }}
      </a>
    </h4>

    <br>

    <h4><strong>(31.6) Material Multimedia:</strong></h4>

    {% if y.MultimediaYac.all %}
     <ul>
      {% for mv in y.MultimediaYac.all %}
        <li><strong>(31.6.1) Técnica:</strong> {{ mv.tecnicaY }}</li>
        <li><strong>(31.6.2) Archivo:</strong><a href=""> {{ mv.archivoY }}</a></li>
      {% endfor %}
     </ul>
     {% else %}
        <h4>Sin resultados.</h4>
     {% endif %}
   {% endfor %}

{% else %}

  <h4>Sin resultados.</h4>
  
{% endif %}

{% endblock %}

{% block user %}
  Ruby de Valencia
{% endblock %}