{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Listar todos los Dólmenes y Menhires en el estado:{{estado}}
{% endblock %}

{% block content %}

  {% if yacimiento %}
  {% for lista in yacimientos %}
  	{%if lista%}
      <ul>
        <li>{{ lista.nombre }}</li>
      </ul>

    {%endif%}
  {% endfor %}

  {% else %}

    <h4>Sin resultado.</h4>

  {% endif %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}


