{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	¿Qué material audiovisual tiene el yacimiento de código {{ codigo }}?
{% endblock %}

{% block content %}

{% if yacimiento %}
	{% for y in yacimiento%}
		<h4 style="margin-left:1em;">
			<a href="" style="color:black">
				{{ y.nombre }}
			</a>
		</h4>

		<br>

		<h4><strong>Material Multimedia:</strong></h4>
			<!--- Cuando se implemente la búsqueda, utilizar sólo este código -->

		{% if y.MultimediaYac.all %}
	   <ul>
	   	{% for mv in y.MultimediaYac.all %}
				<li><strong>Técnica:</strong> {{ mv.tecnicaY }}</li>
				<li><strong>Archivo:</strong><a href=""> {{ mv.archivoY }}</a></li>
	    {% endfor %}
	   </ul>
	   {% else %}
	   		<h4>Sin resultado.</h4>
	   {% endif %}
   {% endfor %}

{% else %}

	<h4>Sin resultado.</h4>
	
{% endif %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}