{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<ul>
    {% for resultado in listaResultados %}
		<h4>
			<a href="/admin/anarapp/yacimiento/{{resultado.yacimiento.id}}">
				<li><strong>Nombre:</strong>{{resultado.yacimiento.nombre}}</li>
			</a>
		</h4>
		<i> 
			<ul><strong>Código</strong>: {{resultado.yacimiento.codigo}}</ul>
			<ul><strong>Estado</strong>: {{resultado.yacimiento.estado.nombre}}</ul>

			<ul><h4><strong>Rocas :</strong></h4>
			{% for piedras in resultado.piedra %}
				<ul><strong>Código</strong>: {{piedras.piedra.piedra.codigo}}</ul>
			{% endfor %}

			</ul>

		</i>
	{%endfor%}
	
</ul>

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}
