{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	¿Qué nombre tiene el yacimiento de código {{ codigo }} PB1-444?
{% endblock %}

{% block content %}
	<!--- Cuando se implemente la búsqueda, borrar el nombre de ejemplo -->
	<h4 style="margin-left:3em;">
		<a href="" style="color:black">
			CUEVA CAÑO ORE, Cueva del Chamán, White Shaman Cave {{ yacimiento.nombre }}
		</a>
	</h4>
{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}