{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Listar la proporción de número de piedras trabajadas a número de piedras en el yacimiento original en el estado Amazonas 
	{{ estado }}
{% endblock %}

{% block content %}
	
	<br>

  {% if result %}

      <ul>
    	{% for result in listaYacimientos %}
    	<li>  		
    		<h4 style="margin-left:1em;">
  				<a href="/admin/anarapp/yacimiento/{{result.yacimiento.id}}" style="color:black"> {{ result.yacimiento.nombre }} </a>
  			</h4>
    	</li>

    	<ul>
    			<li><strong>Grabadas:</strong> {{ result.nroPiedrasTrabajadas.nroPiedrasGrabadas }}</li>
     			<li><strong>Pintadas:</strong> {{ result.nroPiedrasTrabajadas.nroPiedrasPintadas}}</li>
      		<li><strong>Colocadas:</strong> {{ result.nroPiedrasTrabajadas.nroPiedrasColocadas}}</li>
          <li><strong>Nro de piedras totales en el yacimiento: </strong> {{result.nroPiedras}}
    	</ul>

    	{% endfor %}
    </ul>

  {% else %}
    <h4>Sin resultados.</h4>
  {% endif %}


{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}



