{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	 Lísteme por estado y yacimientos la proporción de número de piedras 
	 trabajadas a número de piedras en el yacimiento original ubicadas en:
{% endblock %}

{% block content %}
  
  {% for esta, lista in yacimientos.items%}
		{%if lista|length > 0%}
		  <h3>{{esta}}</h3>
		  <ul>
		  {% for yacimiento in lista %}
        <li>{{ yacimiento.nombre }}</li>
        <li>{{ yacimiento.ConstitucionYacimiento.nroPiedras }}</li>
      {% endfor %}
		  </ul>
		{%endif%}
  {%endfor%}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}




