{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	<center>Cruce 36 - <i>(Pa) Roca</i> con <i>(Pa) Roca</i></center></br>
	Listar por <i>(Pa 00) Rocas</i>  del <i>(00 - Código) Yacimiento</i>, 
	por <i>(Pa 3) Estado</i>, <i>(Pa 15) Otros Valores de la Roca</i>: 
{% endblock %}

{% block content %}
	<!-- Data de ejemplo (a utilizar cuando se implemente la busqueda)-->
	<h4 style="margin-left:1em;">
      <a href="" style="color:black">
        (1) Nombre: 'Nombre yacimiento'
      </a>
    </h4>

    <ul>
    	<li>(Pa 1) Nombre de la roca: 'Nombre'</li>
    	<ul>
    		<li>(Pa 15.1) Otros valores de la roca: 'valores de la roca'</li>
    	</ul>
    </ul>


	<h4>Sin resultados.</h4>

{% endblock %}
{% block user %}
	Ruby de Valencia
{% endblock %}
