{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Para un mismo Ancho y/o Profundidad de surco, el numero de Petroglifos que tienen <u>base redonda</u> son:
{% endblock %}

{% block content %}
	<!--- Este template es nuevo -->
  {{caracteristica}}
  <br>
  <h4 style="margin-left:1em;">
    <strong> Total de Petroglifos :</strong> {{ total }}
  </h4>

  {% for y in listaYacimiento %}

    <h4><strong>{{y.estado}}</strong></h4>
      <li>
        <strong>Código:</strong>{{y.codigo}} 
      <i> 
        {{y.nombre}}
      </i>
    </li>
  {% endfor %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}


