<!DOCTYPE html>
{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Cuáles petroglifos tienen <u>{{tipo}}</u>:
{% endblock %}

{% block content %}
	<br>

	<ul>
	    {% for resultado in listaResultado%}
			<h4>
				<a href="/admin/anarapp/yacimiento/{{resultado.result.yacimiento.id}}">
					<li><strong>Nombre:</strong>{{resultado.result.yacimiento.nombre}}</li>
				</a>
			</h4>
			<i> 
				<ul>Código: {{resultado.result.yacimiento.codigo}}</ul>
				<ul>Estado: {{resultado.result.yacimiento.estado}}</ul>
			</i>
    	{%endfor%}
	</ul>

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}