{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	¿Cuántos y cuáles yacimientos hay en el estado {{ estado }} Amazonas?
{% endblock %}

{% block content %}

	{% if results %}
		<h4 style="margin-left:1em;">
			<strong> Total de yacimientos:</strong> {{ total }}
		</h4>

		<!--- Cuando se implemente la búsqueda, utilizar sólo este código -->
		<ul>
		{% for result in results %}
		  <li>
					<a href="" style="color:black"> 
						<strong>Código:</strong> {{ result.codigo }}, 
						<i> {{ result.nombre }} </i>
					</a>
				</li>
		{% endfor %}
		 </ul>

	{% else %}
		<h4>Sin resultado.</h4>

	{% endif %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}


