{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	<center>Cruce 1 - <i>(PB1) Yacimiento</i> con <i>(PB1) Yacimiento</i></center></br>
	¿Cuántos y cuáles <i>(00 - Código) Yacimientos </i> hay en el <i>(3) Estado: {{ estado }}</i>?
{% endblock %}

{% block content %}
	{% if results %}
		<h4 style="margin-left:1em;">
			<strong> Total de yacimientos:</strong> {{ total }}
		</h4>
		<ul>
		{% for result in results %}
		  <li>
					<a href="/admin/anarapp/yacimiento/{{result.id}}" style="color:black"> 
						<strong>Código:</strong> {{ result.codigo }}, 
						<i> {{ result.nombre }} </i>
					</a>
				</li>
		{% endfor %}
		 </ul>

	{% else %}
		<h4>Sin resultados.</h4>

	{% endif %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}


