<!DOCTYPE html>
{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Lísteme por estado, cuántas y cuáles Pinturas Rupestres de todos los yacimientos tienen <u>{{tipo}}</u>
{% endblock %}

{% block content %}

	<!--- Este template es nuevo -->
	<br>
	<h3>Hay un total de {{total}} Pinturas Rupestres que tienen <u>{{tipo}}</u> </h3>


{% if listaResultado %}

		{% for result in listaResultado %}
	    	<a href="/admin/anarapp/yacimiento/{{result.yacimiento.yacimiento.id}}"><h4><strong>Nombre:</strong>{{result.yacimiento.yacimiento.nombre}}</h4></a>
	    	<li>
	    		<strong>Código:</strong>{{result.yacimiento.yacimiento.codigo}} 
			</li>
			<li>
	    		<strong>Estado:</strong>{{result.yacimiento.yacimiento.estado}} 
			</li>
    	{% endfor %}

{% else %}

  <h4>Sin resultados.</h4>
  
{% endif %}


{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}