{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	<center>Cruce 7 - <i>(PB1) Yacimiento</i> con <i>(PB1) Yacimiento</i></center></br>
	¿En qué <i>(31.5) Páginas Web</i> aparece el <i>(00 - Código) Yacimiento</i> de código: {{codigo}}?
{% endblock %}

{% block content %}

	{% if yacimiento %}
		<h4 style="margin-left:1em;">

			<a href="/admin/anarapp/yacimiento/{{yacimiento.id}}" style="color:black">
				(1) Nombre: {{ yacimiento.nombre }}
			</a>
		</h4>

		<br>

		<h4><strong>Páginas Web:</strong></h4>
		{% if yacimiento.PaginaWebYac.all %}
		    <ul>
			    {% for pw in yacimiento.PaginaWebYac.all %}
		        <li>(31.5.1) URL de página web: <a href="">{{ pw.direccionURLy }}</a></li>
		  	  {% endfor %}
		    </ul>
		{% else %}
			<h4>Sin resultados.</h4>
	    {% endif %}

    {% else %}

    	<h4>Sin resultados.</h4>

    {% endif %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}


