{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
  Cruces - Yacimiento
{% endblock %}

{% block title %}
  <center>Cruce 6 - <i>(PB1) Yacimiento</i> con <i>(PB1) Yacimiento</i></center></br>
  ¿Qué <i>(31.2) Material Audiovisual</i> aparece en el <i>(00 - Código) Yacimiento</i> {{ codigo }}?
{% endblock %}

{% block content %}

  {% if yacimiento %}
    {% for y in yacimiento %}
      <h4 style="margin-left:1em;">
        <a href="/admin/anarapp/yacimiento/{{y.id}}" style="color:#333">
          (1) Nombre: {{y.nombre}}
        </a>
      </h4>
      <br>
      <h4><strong>(31.2) Material Audiovisual:</strong></h4>
      {% if y.MatAVYacimiento.all %}
          {% for mv in y.MatAVYacimiento.all %}
          <ul>
            <li><strong>(31.2.1) Formato:</strong> {{ mv.format }}</li>
            <li>
              <a href="/upload/{{mv.archive}}" style="color:#333">
                  <strong>(31.2.2) Archivo:</strong> {{ mv.archive }}
              </a>
            </li>
          </ul>
          {% endfor %}
      {% else %}
        <h4>Sin resultados.</h4>
      {% endif %}
    {% endfor %}

  {% else %}
    <h4>Sin resultados.</h4>
  {% endif %}

{% endblock %}

{% block user %}
  Ruby de Valencia
{% endblock %}
