{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
  <center>Cruce 9 - <i>(PB1) Yacimiento</i> con <i>(PB1) Yacimiento</i></center></br>
  Listar todos los <i>(12.3, 13.8, 13.8.1, 13.8.2) Dólmenes</i> y 
  </br><i>(13.7, 13.7.1,13.7.2) Menhires</i> en <i>
  (0) Venezuela</i> y por <i>(3) Estado</i> {{estado}}:
{% endblock %}

{% block content %}

  {% if yacimiento %}
  {% for lista in yacimientos %}
  	{%if lista%}
      <ul>
        <a href="/admin/anarapp/yacimiento/{{lista.yacimiento.id}}"><li>{{ lista.yacimiento.nombre }}</li></a>
      </ul>

    {%endif%}
  {% endfor %}

  {% else %}

    <h4>Sin resultados.</h4>

  {% endif %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}


