{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Listar por estado el ancho y la profundidad del surco grabado para todos los yacimientos de Petroglifos
{% endblock %}

{% block content %}

<ul>
    {% for resultado in listaResultado %}
		<h4>
			<a href="/admin/anarapp/yacimiento/{{resultado.result.yacimiento.id}}">
				<li><strong>Nombre:</strong>{{resultado.result.yacimiento.nombre}}</li>
			</a>
		</h4>
		<i> 
			<ul>Código: {{resultado.result.yacimiento.codigo}}</ul>
			<ul>Estado: {{resultado.result.yacimiento.estado.nombre}}</ul>
		</i>
	{%endfor%}
	
</ul>

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}





