{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	<center>Cruce 36 - <i>(Pa) Roca</i> con <i>(Pa) Roca</i></center></br>
	Listar por <i>(Pa 00) Rocas</i>  del <i>(00 - Código) Yacimiento</i>, 
	por <i>(Pa 3) Estado</i>, <i>(Pa 15) Otros Valores de la Roca</i>: 
{% endblock %}

{% block content %}
{% if listaResultados %}

    <ul>
        {% for resultado in listaResultados %}
            <h4>
                <a href="/admin/anarapp/yacimiento/{{resultado.yacimiento.id}}">
                    <li><strong>Nombre yacimiento:</strong>{{resultado.yacimiento.nombre}}</li>
                </a>
            </h4>
            <i> 
                <ul><strong>Código</strong>: {{resultado.yacimiento.codigo}}</ul>
                <ul><strong>Estado</strong>: {{resultado.yacimiento.estado.nombre}}</ul>

                <ul> <h4><strong>Rocas :</strong></h4>
                {% for piedras in resultado.piedra %}

                    <ul><strong>Código</strong>: {{piedras.codigo}}</ul>
                    <ul><strong>Nombre roca</strong>: {{piedras.nombre}}</ul>

                    {% if piedras.OtrosValPiedra.all %}
                        <ul><strong>Otros valores de las piedras </strong>:
                        
                        {% for otros in piedras.OtrosValPiedra.all %}
                              <ul>{{ otros.texto  }}</ul>
                        {% endfor %}

                        </ul>

                    {% else %}
                        <ul><strong>La roca no posee otros valores </strong></ul>
                    {% endif %}

                    <br>
                {% endfor %}

                </ul>
            </i>
        {%endfor%}
        
    </ul>
{% else %}
  <h4>Sin resultados.</h4>
{% endif %}

{% endblock %}
{% block user %}
	Ruby de Valencia
{% endblock %}
