{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Para un mismo Ancho y/o Profundidad de surco, el numero de Petroglifos que tienen <u>base redonda</u> son:
{% endblock %}

{% block content %}
	<!--- Este template es nuevo -->
  {{caracteristica}}
  <br>
  <h4 style="margin-left:1em;">
    <strong> Total de Petroglifos :</strong> {{ total }}
  </h4>

  {% for y in listaYacimientos %}

      <h4>
        <strong>Nombre:</strong>
        <a href="/admin/anarapp/yacimiento/{{y.id}}">
          {{y.nombre}}
        </a>
      </h4>
      <li>
        <strong>Código:</strong>{{y.codigo}}
      </li>
      <li>
        <strong>Estado:</strong>{{y.estado}} 
      </li>
  {% endfor %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}


