{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Listar la proporción de número de piedras trabajadas a número de piedras en el yacimiento original en el estado Amazonas 
	{{ estado }}
{% endblock %}

{% block content %}
	
	<br>

  <!--- Cuando se implemente la búsqueda, utilizar sólo este código -->
  <ul>
  	{% for result in results %}
  	<li>  		
  		<h4 style="margin-left:1em;">
				<a href="" style="color:black"> {{ yacimiento.nombre }} </a>
			</h4>
  	</li>

  	<ul>
  			<li><strong>Grabadas:</strong> {{ grabadas }} / {{piedras}} </li>
   			<li><strong>Pintadas:</strong> {{ pintadas }} / {{piedras}} </li>
    		<li><strong>Colocadas:</strong> {{ colcadas }} / {{piedras}} </li>
  	</ul>

  	{% endfor %}
  </ul>

  <!--- Datos de Ejemplo para muestra del Diseño inicial -->

	<h4 style="margin-left:1em;">
		<a href="" style="color:black">
			CUEVA CAÑO ORE, Cueva del Chamán, White Shaman Cave {{ yacimiento.nombre }}
		</a>
	</h4>

  <ul>
    <li><strong>Grabadas:</strong> 10 / 20 {{ grabadas }}{{piedras}} </li>
    <li><strong>Pintadas:</strong> 5 / 20{{ pintadas }} {{piedras}} </li>
    <li><strong>Colocadas:</strong> 1 / 20 {{ colcadas }} {{piedras}} </li>
  </ul>

	<h4 style="margin-left:1em;">
		<a href="" style="color:black">
			LA RUEDA DEL INDIO {{ yacimiento.nombre }}
		</a>
	</h4>

  <ul>
    <li><strong>Grabadas:</strong> 10 / 20 {{ grabadas }}{{piedras}} </li>
    <li><strong>Pintadas:</strong> 5 / 20{{ pintadas }} {{piedras}} </li>
    <li><strong>Colcadas:</strong> 1 / 20 {{ colcadas }} {{piedras}} </li>
  </ul>

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}



