{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	¿Qué coordenadas tiene el yacimiento de código {{ codigo }}?
{% endblock %}

{% block content %}
	<!--- Cuando se implemente la búsqueda, borrar los datos de ejemplo -->

	{% if yacimiento %}
		{% for y in yacimiento %}
			<h4 style="margin-left:1em;">
				<a href="" style="color:black">
					<strong>Nombre:</strong> {{ y.nombre }}
				</a>
			</h4>
		  <ul>
		    <li>
		    	<strong>Longitud O(W):</strong> {{ y.Coordenadas.longitud }} 
		    </li>

		    <li>
		    	<strong>Latitud N:</strong> {{ y.Coordenadas.latitud }} 
		    </li>

		    <li>
		    	<strong>Utm Adicional:</strong> {{ y.Coordenadas.latitud }} 
		    </li>
			</ul>
		{% endfor %}

	{% else %}
		<h4>Sin resultado.</h4>
	{% endif %}
	
{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}



