{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Listar todos los Geoglifos, Pinturas Rupestres, Micropetroglifos, Petroglifos, Petroglifos Pintados, Piedras Míticas Naturales, Cerros Miticos Naturales, Bateas, Menhires, Amoladores, Puntos Acoplados y Cúpulas
{% endblock %}

{% block content %}

	<!--- Cuando se implemente la búsqueda, utilizar sólo este código -->
	<ul>
    {% for yac in yacimiento%}

	    <h3><a style="color:black;" href ="">{{yac}}</a></h3>
	    <ul>


    {%endfor%}
	
  
 


{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}

