{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

Lísteme por estado (3) y yacimiento (00), y para cada tipo
de ubicación (14) ,(14.1), (14.2) (14.3), (14.4), (14.5) con tipo de material: <u>{{material}}</u>
y estado de conservacion: <u>{{conservacion}}</u>

{% if listaResultados %}
	<ul>
	    {% for resultado in listaResultados %}
			<h4>
				<a href="/admin/anarapp/yacimiento/{{resultado.result.yacimiento.id}}">
					<li><strong>Nombre:</strong>{{resultado.result.yacimiento.nombre}}</li>
				</a>
			</h4>
			<i> 
				<ul>Código: {{resultado.result.yacimiento.codigo}}</ul>
				<ul>Estado: {{resultado.result.yacimiento.estado.nombre}}</ul>
			</i>
		{%endfor%}
		
	</ul>

{% else %}

  <h4>Sin resultados.</h4>
  
{% endif %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}
