{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	¿Qué nombre tiene el yacimiento de código {{ codigo }}?
{% endblock %}

{% block content %}
	<!--- Cuando se implemente la búsqueda, borrar el nombre de ejemplo -->
	{% if yacimiento %}
		{% for y in yacimiento %}
			<h4 style="margin-left:3em;">
				<a href="" style="color:black">
					{{ y.nombre }}
				</a>
			</h4>
		{% endfor %}

	{% else %}
		<h4>Sin resultado.</h4>


	{% endif %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}