{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	¿Qué apoyo bibliográfico tiene el yacimiento de código {{ codigo }} PB1-444?
{% endblock %}

{% block content %}
	<!--- Cuando se implemente la búsqueda, borrar los datos de ejemplo -->
	<h4 style="margin-left:1em;">
		<a href="" style="color:black">
			CUEVA CAÑO ORE, Cueva del Chamán, White Shaman Cave {{ yacimiento.nombre }}
		</a>
	</h4>
	<!--- Cuando se implemente la búsqueda, utilizar sólo este código -->
	{% for bib in yacimiento.BibYacimiento.all %}
		<ul>
        <li> <strong>Código:</strong> {{ bib.codigo }} </li>
        <li> <strong>oítulo:</strong> {{ bib.titulo }} </li>
        <li> <strong>Autor:</strong> {{ bib.autor }} </li>
        <li> <strong>Año:</strong> {{ bib.ano }} </li>
        <li> <strong>Institución:</strong> {{ bib.institucion }} </li>
    </ul>
  {% endfor %}

  <!--- Datos de Ejemplo para muestra del Diseño inicial -->
  <ul>
      <li>
      	<strong>Código:</strong> C-255, (pags 150 a 152) 
      </li>

      <li>
      	 <strong>Título:</strong> 22) Bo. Cueva Caño Ore, en : 
      	Las Pinturas Rupestres del Parguaza: Mito y Representación 
      	(Trabajo final de grado)
      </li>

      <li>
      	<strong>Autor:</strong> Franz Scaramelli
      </li>

      <li>
      	<strong>Año:</strong> Caracas, Marzo 1992
      </li>

      <li>
      	<strong>Institución:</strong> Universidad Central de Venezuela 
      	- FACES- Escuela de Antropología
      </li>
  </ul>
{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}


