<!DOCTYPE html>
{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Pinturas rupestres que tienen <u>tipo de línea sencilla</u>:{{tipo}}
{% endblock %}

{% block content %}
<ul>
    {% for resultado in listaResultado %}
		<h4>
			<a href="/admin/anarapp/yacimiento/{{resultado.result.yacimiento.id}}">
				<li><strong>Nombre:</strong>{{resultado.result.yacimiento.nombre}}</li>
			</a>
		</h4>
		<i> 
			<ul><strong>Código</strong>: {{resultado.result.yacimiento.codigo}}</ul>
			<ul><strong>Estado</strong>: {{resultado.result.yacimiento.estado.nombre}}</ul>
			<ul><strong>Ancho desde</strong>: {{resultado.anchoDesde}}</ul>
			<ul><strong>Ancho hasta</strong> : {{resultado.anchoHasta}}</ul>

		</i>
	{%endfor%}
	
</ul>


{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}