{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	¿En qué páginas web aparece el yacimiento de código {{ codigo }}?
{% endblock %}

{% block content %}

	{% if yacimiento %}
		<h4 style="margin-left:1em;">
			<a href="" style="color:black">
				{{ yacimiento.nombre }}
			</a>
		</h4>

		<br>

		<h4><strong>Páginas Web:</strong></h4>
			<!--- Cuando se implemente la búsqueda, utilizar sólo este código -->
		{% if yacimiento.PaginaWebYac.all %}
		    <ul>
			    {% for pw in yacimiento.PaginaWebYac.all %}
		        <li>><a href="">{{ pw.direccionURLy }}</a></li>
		  	  {% endfor %}
		    </ul>
		{% else %}
			<h4>Sin resultado.</h4>
	    {% endif %}

    {% else %}

    	<h4>Sin resultado.</h4>

    {% endif %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}


