{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	¿Qué gráficos tiene el yacimiento de código  {{ codigo }} PB1-444?
{% endblock %}

{% block content %}
	<h4 style="margin-left:1em;">
		<a href="" style="color:black">
			CUEVA CAÑO ORE, Cueva del Chamán, White Shaman Cave {{ yacimiento.nombre }}
		</a>
	</h4>

	<br>

	<h4><strong>Material Audiovisual:</strong></h4>
		<!--- Cuando se implemente la búsqueda, utilizar sólo este código -->
    {% for mv in yacimiento.MatAVYacimiento.all %}
    <ul>
      <li><strong>Formato:</strong> {{ mv.formato }}</li>
      <li><strong>Archivo:</strong> {{ mv.imagen }}</li>
    </ul>
    {% endfor %}

    <!--- Datos de Ejemplo para muestra del Diseño inicial -->
    <ul>
      <li><strong>Formato:</strong> mp4</li>
      <li><strong>Archivo:</strong> archivo.extension</li>
    </ul>  

	<h4><strong>Videos:</strong></h4>
		<!--- Cuando se implemente la búsqueda, utilizar sólo este código -->
    <ul>
	    {% for video in yacimiento.VideoYacimiento.all %}
        <li><strong>Año:</strong> {{ video.anio }}</li>
        <li><strong>Formato:</strong> {{ video.formato }}</li>
        <li><strong>Título:</strong> {{ video.titulo }}</li>
        <li><strong>Autor:</strong> {{ video.autor }}</li>
        <li><strong>Institución:</strong> {{ video.institucion }}</li>
        <li><strong>Nro. de referencia:</strong> {{ video.numReferencia }}</li>
        <li><strong>¿Es de ANAR?:</strong> {{ video.isFromAnar }}</li>
        <li><strong>Nro. de copia:</strong> {{ video.numCopia }}</li>
	    {% endfor %}
    </ul>

    <!--- Datos de Ejemplo para muestra del Diseño inicial -->
    <ul>
      <li><strong>Año:</strong> 2005 </li>
      <li><strong>Formato:</strong> mp4</li>
      <li><strong>Título:</strong> Recorrido de la Cueva Caño Ore</li>
      <li><strong>Autor:</strong> Pedro Pérez</li>
      <li><strong>Institución:</strong> ANAR</li>
      <li><strong>Nro. de referencia:</strong> 20A</li>
      <li><strong>¿Es de ANAR?:</strong> Sí</li>
      <li><strong>Nro. de copia:</strong> 20</li>
    </ul>

	<h4><strong>Páginas Web:</strong></h4>
		<!--- Cuando se implemente la búsqueda, utilizar sólo este código -->
    <ul>
	    {% for pw in yacimiento.PaginaWebYac.all %}
        <li>><a href="">{{ pw.direccionURL }}</a></li>
  	  {% endfor %}
    </ul>
    
   	<!--- Datos de Ejemplo para muestra del Diseño inicial -->
    <ul>
    	<li><a href="">www.lacuevadelindio.org.ve</a></li>
    </ul>

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}



