<!DOCTYPE html>
{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Cuáles petroglifos tienen <u>bajo relieve planar</u>:{{tipo}}
{% endblock %}

{% block content %}
	<br>
	<li>
		<strong>Código:</strong> PB1-51, 
		<i> 
			<ul>LA RUEDA DEL INDIO </ul>
			<ul>Estado: Carabobo.</ul>
		</i>
	</li>


	<h3>{{cruce}}</h3>
	<ul>
	    {% for yac in yacimientos%}
			<li>{{yac.nombre}}</li>
    	{%endfor%}
	</ul>

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}