{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
    <center>Cruce 5 - <i>(PB1) Yacimiento</i> con <i>(PB1) Yacimiento</i></center></br>
	¿Qué <i>(31.2, 31.3, 31.4, 31.5) Gráficos</i> tiene el <i>(00 - Código) Yacimiento de código: {{ codigo }}?</i>
{% endblock %}

{% block content %}


  {% if yacimiento %}
    {% for y in yacimiento %}
    	<h4 style="margin-left:1em;">
    		<a href="" style="color:black">
    			<strong>(1) Nombre: </strong>{{ y.nombre }}
    		</a>
    	</h4>

    	<br>

    	<h4><strong>(31.2) Material Audiovisual:</strong></h4>
        {% for mv in y.MatAVYacimiento.all %}
        <ul>
          <li><strong>(31.2.1) Formato:</strong> {{ mv.format }}</li>
          <li><strong>(31.2.2) Archivo:</strong> {{ mv.archive }}</li>
        </ul>
        {% endfor %}

    	<h4><strong>(31.3) Videos:</strong></h4>

        <ul>
    	    {% for video in y.VideoYacimiento.all %}
            <li><strong>(31.3.0) Año:</strong> {{ video.anioy }}</li>
            <li><strong>(31.3.1) Formato:</strong> {{ video.formatoy }}</li>
            <li><strong>(31.3.2) Título:</strong> {{ video.tituloy }}</li>
            <li><strong>(31.3.3) Autor:</strong> {{ video.autory }}</li>
            <li><strong>(31.3.4) Institución:</strong> {{ video.instituciony }}</li>
            <li><strong>(31.3.5) Nro. de referencia:</strong> {{ video.numReferenciay }}</li>
            <li><strong>(31.3.6) ¿Es de ANAR?:</strong> {{ video.isFromAnary }}</li>
            <li><strong>(31.3.6.1) Nro. de copia:</strong> {{ video.numCopiayac }}</li>
    	    {% endfor %}
        </ul>

    	<h4><strong>(31.5) Páginas Web:</strong></h4>
        <ul>
    	    {% for pw in y.PaginaWebYac.all %}
            <li>(31.5.1) URL de página web: <a href="">{{ pw.direccionURLy }}</a></li>
      	  {% endfor %}
        </ul>
    {% endfor %}

  {% else %}
    <h4>Sin resultados.</h4>
  {% endif %}

  
{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}



