{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Listar todos los Geoglifos, Pinturas Rupestres, Micropetroglifos, Petroglifos, Petroglifos Pintados, Piedras Míticas Naturales, Cerros Miticos Naturales, Bateas, Menhires, Amoladores, Puntos Acoplados y Cúpulas
{% endblock %}

{% block content %}

	<!--- Cuando se implemente la búsqueda, utilizar sólo este código -->
	<ul>
    {% for yac in yacimientos%}
		<li>{{yac.nombre}}</li>
		<li>{{yac.manifestacion}}</li>
    {%endfor%}
	</ul>
  
  <!--- Datos de Ejemplo para muestra del Diseño inicial -->
    <h3><a style="color:black;" href ="">La Rueda del Indio</a></h3>
    <ul>
    	<li>Manifestaciones:</li>
    <ul>
			<li>Petroglifos Pintados</li>
			<li>Bateas</li>
    </ul>
  </ul>

	<h3>Amazonas</h3>
		<ul>
			<li><a href="" style="color:black;">La Rueda del Indio</a></li>
			<ul>
				<li>Geoglifos</li>
				<li>Pinturas Rupestres</li>
			</ul>
		</ul>

	<h3>Bolívar</h3>
		<ul>
			<li><a href="" style="color:black;">Cueva Caño Ore</a></li>
			<ul>
				<li>Micropetroglifos</li>
				<li>Cerros Míticos Naturales</li>
			</ul>
		</ul>




{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}

