{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	¿Qué apoyo bibliográfico tiene el yacimiento de código {{ codigo }} ?
{% endblock %}

{% block content %}

  {% if yacimiento %}
    {% for y in yacimiento%}
  	<!--- Cuando se implemente la búsqueda, borrar los datos de ejemplo -->
  	<h4 style="margin-left:1em;">
  		<a href="" style="color:black">
  			<strong>Nombre del yacimiento:</strong> {{ y.nombre }}
  		</a>
  	</h4>
  	<!--- Cuando se implemente la búsqueda, utilizar sólo este código -->

    <h4 style="margin-left:1em;"><strong>Apoyo bibliografico: </strong></h4>
      {% for bib in y.BibYacimiento.all %}      
        <div class="panel panel-default">
          <div class="panel-body">
            {% if bib.codigo %}
              <li> <strong>Código:</strong> {{ bib.codigo }} </li>
            {% else %}
              <li> <strong>Código:</strong> -- </li>
            {% endif %}
            <li> <strong>Título:</strong> {{ bib.titulo }} </li>
            <li> <strong>Autor:</strong> {{ bib.autor }} </li>
            <li> <strong>Año:</strong> {{ bib.ano }} </li>
            <li> <strong>Institución:</strong> {{ bib.institucion }} </li>
          </div>
        </div>
      {% endfor %}
  
   {% endfor %}

  {% else %}

    <h4>Sin resultado.</h4>

  {% endif %}
{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}


