{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
  Cruces - Yacimiento
{% endblock %}

{% block title %}
  <center>Cruce 6 - <i>(PB1) Yacimiento</i> con <i>(PB1) Yacimiento</i></center></br>
  ¿Qué <i>(31.6, 31.6.1, 31.6.2) Material Audiovisual</i> aparece en el <i>(00 - Código) Yacimiento</i> {{ codigo }}?
{% endblock %}

{% block content %}

  {% if yacimiento %}
    <h4 style="margin-left:1em;">
      <a href="" style="color:black">
        {{ yacimiento.nombre }}
      </a>
    </h4>

    <br>

    <h4><strong>Material audiovisual:</strong></h4>
    {% if yacimiento.MatAVYacimiento.all %}
        <ul>
          {% for pw in yacimiento.MatAVYacimiento.all %}
            <li><a href="">{{ pw.direccionURLy }}</a></li>
          {% endfor %}
        </ul>
    {% else %}
      <h4>Sin resultados.</h4>
      {% endif %}

    {% else %}

      <h4>Sin resultados.</h4>

    {% endif %}

{% endblock %}

{% block user %}
  Ruby de Valencia
{% endblock %}
