{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	¿Cuántos y cuáles yacimientos hay en el estado {{ estado }} Amazonas?
{% endblock %}

{% block content %}
	<h4 style="margin-left:1em;">
		<strong> Total de yacimientos:</strong> {{ total }} 2 
	</h4>

	<!--- Cuando se implemente la búsqueda, utilizar sólo este código -->
	<ul>
	{% for result in results %}
	  <li>
				<a href="" style="color:black"> 
					<strong>Código:</strong> {{ result.codigo }}, 
					<i> {{ result.nombre }} </i>
				</a>
			</li>
	{% endfor %}
	 </ul>

  <!--- Datos de Ejemplo para muestra del Diseño inicial -->
	<ul>
		<li>
			<a href="" style="color:black">
				<strong>Código:</strong> PB1-51, 
				<i> 
					LA RUEDA DEL INDIO 
				</i>
			</a>
		</li>

		<li>
			<a href="" style="color:black">
				<strong>Código:</strong> PB1-444,	
				<i> 
					CUEVA CAÑO ORE, Cueva del Chamán, White Shaman Cave 
				</i>
			</a>
		</li>
	</ul>
{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}


