{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	Listar por estado el total de Geoglifos, Pinturas Rupestres, Micropetroglifos, Petroglifos, Petroglifos Pintados, Piedras Míticas Naturales, Cerros Miticos Naturales, Bateas, Menhires, Amoladores, Puntos Acoplados y Cúpulas en la siguiente ubicación: {{ubicacion}}
{% endblock %}

{% block content %}

	<ul>
	    {% for resultado in listaManifestaciones %}
			<h4>
				<a href="/admin/anarapp/yacimiento/{{resultado.yacimiento.id}}">
					<li><strong>Nombre:</strong>{{resultado.yacimiento.nombre}}</li>
				</a>
			</h4>
			<i> 
				<ul>Código: {{resultado.yacimiento.codigo}}</ul>
				<ul>Estado: {{resultado.yacimiento.estado.nombre}}</ul>
			</i>
		{%endfor%}
		
	</ul>

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}

