{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	 Lísteme por estado y yacimientos la proporción de número de piedras 
	 trabajadas a número de piedras en el yacimiento original ubicadas en <u>{{ubicacion}}</u>
{% endblock %}

{% block content %}
  
{% if listaResultado %}
	<ul>
	    {% for resultado in listaResultado %}
			<h4>
				<a href="/admin/anarapp/yacimiento/{{resultado.id}}">
					<li><strong>Nombre:</strong>{{resultado.result.yacimiento.nombre}}</li>
				</a>
			</h4>
			<i> 
				<ul>Código: {{resultado.result.yacimiento.codigo}}</ul>
				<ul>Estado: {{resultado.result.yacimiento.estado.nombre}}</ul>
			</i>
		{%endfor%}
		
	</ul>

{% else %}

  <h4>Sin resultados.</h4>
  
{% endif %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}




