{% extends "website-base.html" %}

{% load staticfiles %}

{% block pagetitle %}
	Cruces - Yacimiento
{% endblock %}

{% block title %}
	<center>Cruce 2 - <i>(PB1) Yacimiento</i> con <i>(PB1) Yacimiento</i></center></br>
	¿Qué <i>(1) Nombre</i> tiene el <i>(00 - Código) Yacimiento de código: {{ codigo }}</i>?
{% endblock %}

{% block content %}
	{% if yacimiento %}
		{% for y in yacimiento %}
			<h4 style="margin-left:3em;">
				(1) Nombre:
				<a href="" style="color:black">
					 {{ y.nombre }}
				</a>
			</h4>
		{% endfor %}

	{% else %}
		<h4>Sin resultados.</h4>


	{% endif %}

{% endblock %}

{% block user %}
	Ruby de Valencia
{% endblock %}