{% extends "website-base.html" %}
{% load staticfiles %}
{% block pagetitle %}Pagina Principal{% endblock %}
{% block title %}Consulta en Base de Datos{% endblock %}
{% block user %}
Ruby de Valencia
{% endblock %}


{% block submenu %}
<ul class="list-inline " style="background-color:white">
    <table><tr>
        <td class="active"><a href="{% url index %}">Inicio </a></td>
    <td role="presentation" class="dropdown ">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
                    Quienes somos</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url origenytrayectoria %}">
                    Origen y Trayectoria</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url areasdeespecializacion %}">
                    &Aacute;reas de Especializaci&oacute;n - Organigrama</a></li>
           <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url profesionalesadjuntos %}">
                    Profesionales adjuntos</a></li>
    </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
                    Patrimonio Rupestre <br> Venezolano
        <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url nota %}">
                    Nota    </a></li>           
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url leydeproteccion %}">
                    Ley de Protecci&oacute;n del Patrimonio</a></li>
            <li role="presentation"><a style="color: purple;" role="menuitem" tabindex="-1" href="{% url pinturasrupestres %}">
                    Pinturas Rupestres</a></li>
            <li role="presentation"><a style="color: #DF7401;" role="menuitem" tabindex="-1" href="{% url geoglifo %}">
                    Geoglifo</a></li>
            <li role="presentation"><a style="color: red;" role="menuitem" tabindex="-1" href="{% url petroglifo %}">
                    Petroglifos</a></li>
            <li role="presentation"><a style="color: #424242;" role="menuitem" tabindex="-1" href="{% url amoladores %}">
                    Amoladores L&iacute;ticos, Puntos Acoplados, C&uacute;pulas</a></li>
            <li role="presentation"><a style="color: #04B404;" role="menuitem" tabindex="-1" href="{% url monumentosmegaliticos %}">
                    Monumentos Megal&iacute;ticos, Menhires, D&oacute;lmenes, Monolitos</a></li>
            <li role="presentation"><a style="color: #DBA901;" role="menuitem" tabindex="-1" href="{% url micropetroglifos %}">
                    Micropetroglifos</a></li>
            <li role="presentation"><a style="color: #01A9DB;" role="menuitem" tabindex="-1" href="{% url piedrasycerrosmiticos %}">
                    Piedras y Cerros M&iacute;ticos Naturales</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
                    Programa <br>de Educaci&oacute;n</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url manifestacionesylaescuela %}">
                    Las Manifestaciones Rupestres y la Escuela</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url convenios %}">
                    Convenios - Alianzas</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
                    Productos y<br> Servicios</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url publicaciones %}">
                    Publicaciones</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url productos %}">
                    Productos</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url asesorias %}">
                    Asesor&iacute;as</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url visitasguiadas %}">
                    Visitas Guiadas</a></li>
        </ul>
    </td>
    <td style="border:0px"><a href="{% url contacto %}">
                    Contacto</a></td>
</tr></table>
</ul>
{% endblock %}

{% block content %}

    <div style="width: 70%; margin: auto">

    <h1  id="titulo" style="font-size: 16pt">Cruces  entre Yacimiento con Yacimiento</h1><br>
    
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 1</strong></h3>
          </div>
          <div class="panel-body">
            <p align="left">¿Cuántos y cuáles yacimientos hay en el siguiente estado?</p><br/><br>
                <form action="/cruces/1/">
                    <label>Estado: {{ form.estado }} </label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
          </div>
        </div>

    
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 2</strong></h3>
          </div>
          <div class="panel-body">
            <p>
            ¿Qué nombre tiene el yacimiento con el siguiente código?<br/></br>
            <form action="/cruces/2/">
                <label>Código: {{ form.codigo }} </label></br></br>
                <input type="submit" class="button" value="Consultar"/>
            </form>
            </p>
          </div>
        </div>

       

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 3</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                ¿Qué coordenadas tiene el yacimiento con el siguiente código?<br/>
                <form action="/cruces/3/">
                    <label>Código: {{ form.codigo }} </label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>

   
        

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 4</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                ¿Qué apoyo bibliográfico tiene el yacimiento con el siguiente código?<br/>
                <form action="/cruces/4/">
                    <label>Código: {{ form.codigo }} </label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
        
    
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 5</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                ¿Qué gráficos tiene el yacimiento con el siguiente código?<br/>
                <form action="/cruces/5/">
                    <label>Código: {{ form.codigo }} </label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
            
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 6</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                ¿Qué material audiovisual tiene el yacimiento con el siguiente código?<br/>
                <form action="/cruces/6/">
                    <label>Código: {{ form.codigo }} </label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
    
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 7</strong></h3>
          </div>
          <div class="panel-body">

            <p>
                ¿En qué páginas web aparece el yacimiento con el siguiente código?<br/>
                <form action="/cruces/7/">
                    <label>Código: {{ form.codigo }} </label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
        <br/>
      
  
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 8</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Listar todos los Dólmenes y Menhires en Venezuela y por estado:
                <br/>
                <form action="/cruces/8/">
                    <label>Estado: {{ form.estado }} </label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
  
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 9</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Listar la proporción de número de piedras trabajadas a número de piedras en el yacimiento original en el siguiente estado:<br/>
                <form action="/cruces/9/">
                    <label>Estado: {{ form.estado }} </label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
   
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 10</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Listar todos los Geoglifos, Pinturas Rupestres, Micropetroglifos, Petroglifos, Petroglifos Pintados, Piedras Míticas Naturales, Cerros Miticos Naturales, Bateas, Menhires, Amoladores, Puntos Acoplados y Cúpulas en el siguiente yacimiento y estado:<br/>
                <form action="/cruces/10/">
                    <label>Código: {{ form.codigo }} </label></br>
                <label>Estado: {{ form.estado }} </label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
       
      
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 11</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Listar por estado el total de Geoglifos, Pinturas Rupestres, Micropetroglifos, Petroglifos, Petroglifos Pintados, Piedras Míticas Naturales, Cerros Miticos Naturales, Bateas, Menhires, Amoladores, Puntos Acoplados y Cúpulas en la siguiente ubicación:<br/>
                <form action="/cruces/11/">
                    <label>Ubicación: {{form.ubicacion}}</label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
 

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 12</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Listar por estado el ancho y la profundidad del surco grabado para todos los yacimientos de Petroglifos<br/>
                <form action="/cruces/12/">
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 13</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Para un mismo Ancho y/o Profundidad de surco, cuántos Petroglifos tienen:<br/>
                <form action="/cruces/13/">
                    <label>Ubicación: <input type="text"/></label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
  
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 14</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Lísteme por estado cuántos y cuáles Petroglifos tienen :<br/>
                <form action="/cruces/14/">
                    <label>Caracteristica: {{form.carasurcopetrotipo}}</label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
 

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 15</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Lísteme por estado, cuántas y cuáles Pinturas 
                Rupestres de todos los yacimientos tienen: <br/>
                <form action="/cruces/15/">
                    <label><input type="text"></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
  
   
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 16</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Cuáles petroglifos tienen :<br/>
                <form action="/cruces/16/">
                    <label>Area/Grabado: {{form.carasurcopetrotipo}}</label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 17</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Lísteme por estado, los petroglifos con:<br/>
                <form action="/cruces/17/">
                    <label>piedra/erosión: {{form.material}}</label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
     
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 18</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Cuales pinturas rupestres por estado, con la siguiente combinacion tiene:<br/>
                <form action="/cruces/18/">
                    <label>piedra/erosión: {{form.material}}</label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>
   
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 19</strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Listema por codigo, estado y tipo de manifestacion los yacimientos que contengan manifestaciones asociadas de:<br/>
                <form action="/cruces/19/">
                    <label>Manifestacion asociada: {{form.manifasociadas}}</label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 20</strong></h3>
          </div>
          <div class="panel-body">
           
            <p>
                Lísteme por estado y yacimientos la proporcion de numero de piedras trabajadas a numero de piedras en el yacimientos original ubicadas en:<br/>
                <form action="/cruces/20/">
                    <label>Ubicacion: {{form.ubicacion}}</label></br></br>
                </form>
            </p>
          </div>
        </div>
        
        </div>
</body>

{% endblock %}
