{% extends "website-base.html" %}
{% load staticfiles %}
{% block pagetitle %}Pagina Principal{% endblock %}
{% block title %}Consulta en Base de Datos{% endblock %}
{% block user %}
Ruby de Valencia
{% endblock %}


{% block submenu %}
<ul class="list-inline">
    <table><tr>
        <td class="active inicial"><a href="{% url index %}">Inicio </a></td>
    <td role="presentation" class="dropdown ">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
                    Quienes somos</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url origenytrayectoria %}">
                    Origen y Trayectoria</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url areasdeespecializacion %}">
                    &Aacute;reas de Especializaci&oacute;n</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url organigrama %}">
                    Organigrama</a></li>
           <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url profesionalesadjuntos %}">
                    Profesionales adjuntos</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
                    Patrimonio Rupestre <br> Venezolano
        <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url nota %}">
                    Nota    </a></li>           
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url leydeproteccion %}">
                    Ley de Protecci&oacute;n del Patrimonio</a></li>
            <li role="presentation"><a style="color: purple;" role="menuitem" tabindex="-1" href="{% url pinturasrupestres %}">
                    Pinturas Rupestres</a></li>
            <li role="presentation"><a style="color: #DF7401;" role="menuitem" tabindex="-1" href="{% url geoglifo %}">
                    Geoglifo</a></li>
            <li role="presentation"><a style="color: red;" role="menuitem" tabindex="-1" href="{% url petroglifo %}">
                    Petroglifos</a></li>
            <li role="presentation"><a style="color: #424242;" role="menuitem" tabindex="-1" href="{% url amoladores %}">
                    Amoladores L&iacute;ticos, Puntos Acoplados, C&uacute;pulas</a></li>
            <li role="presentation"><a style="color: #04B404;" role="menuitem" tabindex="-1" href="{% url monumentosmegaliticos %}">
                    Monumentos Megal&iacute;ticos, Menhires, D&oacute;lmenes, Monolitos</a></li>
            <li role="presentation"><a style="color: #DBA901;" role="menuitem" tabindex="-1" href="{% url micropetroglifos %}">
                    Micropetroglifos</a></li>
            <li role="presentation"><a style="color: #01A9DB;" role="menuitem" tabindex="-1" href="{% url piedrasycerrosmiticos %}">
                    Piedras y Cerros M&iacute;ticos Naturales</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
                    Programa <br>de Educaci&oacute;n</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url manifestacionesylaescuela %}">
                    Las Manifestaciones Rupestres y la Escuela</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url convenios %}">
                    Convenios - Alianzas</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
                    Productos y<br> Servicios</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url publicaciones %}">
                    Publicaciones</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url productos %}">
                    Productos</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url asesorias %}">
                    Asesor&iacute;as</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url visitasguiadas %}">
                    Visitas Guiadas</a></li>
        </ul>
    </td>
    <td class="final" style="border:0px;"><a href="{% url contacto %}">
                    Contacto</a></td>
</tr></table>
</ul>
{% endblock %}

{% block content %}

<script type="text/javascript">

$.fn.pageMe = function(opts){
    var $this = this,
        defaults = {
            perPage: 7,
            showPrevNext: false,
            hidePageNumbers: false
        },
        settings = $.extend(defaults, opts);
    
    var listElement = $this;
    var perPage = settings.perPage; 
    var children = listElement.children();
    var pager = $('.pager');
    
    if (typeof settings.childSelector!="undefined") {
        children = listElement.find(settings.childSelector);
    }
    
    if (typeof settings.pagerSelector!="undefined") {
        pager = $(settings.pagerSelector);
    }
    
    var numItems = children.size();
    var numPages = Math.ceil(numItems/perPage);

    pager.data("curr",0);
    
    if (settings.showPrevNext){
        $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
    }
    
    var curr = 0;
    while(numPages > curr && (settings.hidePageNumbers==false)){
        $('<li><a href="#" class="page_link">'+(curr+1)+'</a></li>').appendTo(pager);
        curr++;
    }
    
    if (settings.showPrevNext){
        $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
    }
    
    pager.find('.page_link:first').addClass('active');
    pager.find('.prev_link').hide();
    if (numPages<=1) {
        pager.find('.next_link').hide();
    }
    pager.children().eq(1).addClass("active");
    
    children.hide();
    children.slice(0, perPage).show();
    
    pager.find('li .page_link').click(function(){
        var clickedPage = $(this).html().valueOf()-1;
        goTo(clickedPage,perPage);
        return false;
    });
    pager.find('li .prev_link').click(function(){
        previous();
        return false;
    });
    pager.find('li .next_link').click(function(){
        next();
        return false;
    });
    
    function previous(){
        var goToPage = parseInt(pager.data("curr")) - 1;
        goTo(goToPage);
    }
     
    function next(){
        goToPage = parseInt(pager.data("curr")) + 1;
        goTo(goToPage);
    }
    
    function goTo(page){
        var startAt = page * perPage,
            endOn = startAt + perPage;
        
        children.css('display','none').slice(startAt, endOn).show();
        
        if (page>=1) {
            pager.find('.prev_link').show();
        }
        else {
            pager.find('.prev_link').hide();
        }
        
        if (page<(numPages-1)) {
            pager.find('.next_link').show();
        }
        else {
            pager.find('.next_link').hide();
        }
        
        pager.data("curr",page);
        pager.children().removeClass("active");
        pager.children().eq(page+1).addClass("active");
    
    }
};

$(document).ready(function(){
    
  $('#myTable').pageMe({pagerSelector:'#myPager',showPrevNext:true,hidePageNumbers:false,perPage:3});
    
});
</script>

<div class="container" style="width: 70%; margin: auto">
  <div class="row">
      <div class="table-responsive">
        <table class="table">
          <tbody id="myTable">
            <tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Cruce 1 - <i>(Pa) Roca</i> con <i>(Pa) Roca</i></strong></h3>
                  </div>
                  <div class="panel-body">
                    <p>
                      Listar todas las <i>(Pa 00) Rocas</i> del <i>(00 - Código) Yacimiento</i>  del
                      <i>(Pa 3) Estado</i> Que comparten: <i>(Pa 5) Relación de número de caras trabajadas</i>
                      entre <i>(Pa 4) Número de caras</i> u <i>(Pa 6) orientación de las caras trabajadas</i> que tienen:
                      <ul>
                        <li>La misma forma y cantidad de figuras por cara (Pa 9, Pa 9.1, Pa 9.2, Pa 9.3, Pa 9.6, Pa 9.7, Pa 9.8)</li>
                        <li>La misma posición de las figuras por cara (Pa 10)</li>
                        <li>El mismo porcentaje de conexión de las figuras (Pa 11, Pa 11.1, Pa 11.2, Pa 11.3, Pa 11.4)</li>
                      </ul>
                      <form action="/cruces/30/">
                        <label>(00) Código: {{ form.codigo }} </label></br>
                        <input type="submit" class="button" value="Consultar"/>
                       </form>
                    </p>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Cruce 2 - <i>(Pa) Roca</i> con <i>(Pa) Roca</i></strong></h3>
                  </div>
                  <div class="panel-body">
                    <p>
                      Listar todas las <i>(Pa 00) Rocas</i> del <i>(00 - Código) Yacimiento</i> 
                      del <i>(Pa 3) Estado</i> que comparten la misma <i>(Pa 5) Relación 
                      de número de caras</i> que tienen La misma <i>(Pa 6) Orientación 
                      de sus caras trabajadas</i>
                      <form action="/cruces/31/">
                        <label>(00) Código: {{ form.codigo }} </label></br>
                        <input type="submit" class="button" value="Consultar"/>
                       </form>
                    </p>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><strong>Cruce 3 - <i>(Pa) Roca</i> con <i>(Pa) Roca</i></strong></h3>
                    </div>
                    <div class="panel-body">
                      <p>
                        Listar Todos las <i>(Pa 00) Rocas</i> del <i>(00 - Código) Yacimiento</i>,
                        con la misma <i>(Pa 9, Pa 9.1, Pa 9.2, Pa 9.3, Pa 9.6, Pa
                        9.7, Pa 9.8) Forma y cantidad de figuras por cara</i> que tienen:</br>
                        <ul>
                          <li>El mismo <i>(Pa 10) Posición de sus figuras</i></br></li>
                          <li>El mismo <i>(Pa 11, Pa 11.1, Pa 11.2, Pa 11.3, Pa 11.4) Porcentaje de conexión</i></li></br>
                        </ul>
                          <form action="/cruces/32/">
                              <label>(00) Código: {{ form.codigo }} </label></br>
                              <label>(3) Estado: {{ form.estado }} </label></br></br>
                              <input type="submit" class="button" value="Consultar"/>
                          </form>
                      </p>
                    </div>
                  </div>
              </td>
            </tr>

            <tr>
              <td>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><strong>Cruce 4 - Roca (Pa) con Roca (Pa)</strong></h3>
                    </div>
                    <div class="panel-body">
                      <p>
                        Totalizar las cantidades por cada <i>(Pa 9, Pa 9.1, Pa 9.2, 
                        Pa 9.3, Pa 9.6, Pa 9.7, Pa 9.8) tipo de forma</i> 
                        por <i>(Pa 00) Rocas</i> y <i>(Pa 3) Estado</i>
                          <form action="/cruces/33/">
                              <label>(Pa 00) Roca: {{ form.codigo }} </label></br>
                              <label>(3) Estado: {{ form.estado }} </label></br></br>
                              <input type="submit" class="button" value="Consultar"/>
                          </form>
                      </p>
                    </div>
                  </div>
              </td>
            </tr>

            <tr>
              <td>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><strong>Cruce 5 - Roca (Pa) con Roca (Pa)</strong></h3>
                    </div>
                    <div class="panel-body">
                      <p>
                        Listar por <i>(Pa 3) Estado</i> y <i>(Pa 00) Rocas</i> del
                        <i>(00 - Código) Yacimiento</i>, la <i>(Pa 5) Proporción de Número de caras
                        trabajadas</i>, a <i>(Pa 4) Número de caras</i>,
                        <i>(Pa 6) Orientación de las caras trabajadas</i>,
                        <i>(Pa 9, Pa 9.1, Pa 9.2, Pa 9.3, Pa 9.6, Pa 9.7, Pa 9.8) cantidad de 
                        figuras por caras</i>, <i>(Pa 10) posición por
                        cara</i> y <i>(Pa 11, Pa 11.1, Pa 11.2, Pa 11.3, Pa 11.4) porcentaje de conexión</i>
                        <form action="/cruces/34/">
                          <label>(00) Código: {{ form.codigo }} </label></br>
                          <label>(3) Estado: {{ form.estado }} </label></br></br>
                          <input type="submit" class="button" value="Consultar"/>
                        </form>
                      </p>
                    </div>
                  </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Cruce 6 - Roca (Pa) con Roca (Pa)</strong> </h3>
                  </div>
                  <div class="panel-body">
                    <p>
                        Listar los <i>(Pa 13), (Pa 13.9), (Pa.13.9.1), (Pa 13.9.2), 
                        (Pa 13.9.3), (Pa 13.9.4), (Pa 13.9.5), (Pa13.9.6), (Pa 13.9.7), 
                        (Pa 13.10), (Pa 13.10.1), (Pa 13.10.2.1), (Pa 13.11), 
                        (Pa 13.12),</br> (Pa 13.12.1), (Pa 13.13), (Pa 13.14), (Pa 13.15), 
                        (Pa 13.16) Apoyos </i> por <i>(Pa 00) Rocas</i> del</br>  
                        <i>(00 - Código) Yacimiento</i> por <i>(Pa 3) Estado</i> </br>
                        <form action="/cruces/35/">
                            <label>(00) Código: {{ form.codigo }} </label></br>
                            <label>(3) Estado: {{ form.estado }} </label></br></br>
                            <input type="submit" class="button" value="Consultar"/>
                        </form>
                    </p>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Cruce 7 - Roca (Pa) con Roca (Pa)</strong></h3>
                  </div>
                  <div class="panel-body">
                    <p>
                      Listar por <i>(Pa 00) Rocas</i>  del 
                      <i>(00 - Código) Yacimiento</i>, por <i>(Pa 3) Estado</i>, 
                      <i>(Pa 15) Otros Valores de la Roca</i> <br/>
                      <form action="/cruces/36/">
                          <label>(00) Código: {{ form.codigo }} </label></br>
                          <label>(3) Estado: {{ form.estado }} </label></br></br>
                          <input type="submit" class="button" value="Consultar"/>
                      </form>
                    </p>
                  </div>
                </div>
              </td>
            </tr>

          </tbody>
        </table>   
      </div>
      <div class="col-md-12 text-center">
      <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
  </div>
</div>







</body>

{% endblock %}
