{% extends "website-base.html" %}
{% load staticfiles %}
{% block pagetitle %}Pagina Principal{% endblock %}
{% block title %}Consulta en Base de Datos{% endblock %}
{% block user %}
Ruby de Valencia
{% endblock %}


{% block submenu %}
<ul class="list-inline">
    <table><tr>
        <td class="active inicial"><a href="{% url index %}">Inicio </a></td>
    <td role="presentation" class="dropdown ">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
                    Quienes somos</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url origenytrayectoria %}">
                    Origen y Trayectoria</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url areasdeespecializacion %}">
                    &Aacute;reas de Especializaci&oacute;n</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url organigrama %}">
                    Organigrama</a></li>
           <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url profesionalesadjuntos %}">
                    Profesionales adjuntos</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
                    Patrimonio Rupestre <br> Venezolano
        <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url nota %}">
                    Nota    </a></li>           
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url leydeproteccion %}">
                    Ley de Protecci&oacute;n del Patrimonio</a></li>
            <li role="presentation"><a style="color: purple;" role="menuitem" tabindex="-1" href="{% url pinturasrupestres %}">
                    Pinturas Rupestres</a></li>
            <li role="presentation"><a style="color: #DF7401;" role="menuitem" tabindex="-1" href="{% url geoglifo %}">
                    Geoglifo</a></li>
            <li role="presentation"><a style="color: red;" role="menuitem" tabindex="-1" href="{% url petroglifo %}">
                    Petroglifos</a></li>
            <li role="presentation"><a style="color: #424242;" role="menuitem" tabindex="-1" href="{% url amoladores %}">
                    Amoladores L&iacute;ticos, Puntos Acoplados, C&uacute;pulas</a></li>
            <li role="presentation"><a style="color: #04B404;" role="menuitem" tabindex="-1" href="{% url monumentosmegaliticos %}">
                    Monumentos Megal&iacute;ticos, Menhires, D&oacute;lmenes, Monolitos</a></li>
            <li role="presentation"><a style="color: #DBA901;" role="menuitem" tabindex="-1" href="{% url micropetroglifos %}">
                    Micropetroglifos</a></li>
            <li role="presentation"><a style="color: #01A9DB;" role="menuitem" tabindex="-1" href="{% url piedrasycerrosmiticos %}">
                    Piedras y Cerros M&iacute;ticos Naturales</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
                    Programa <br>de Educaci&oacute;n</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url manifestacionesylaescuela %}">
                    Las Manifestaciones Rupestres y la Escuela</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url convenios %}">
                    Convenios - Alianzas</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
                    Productos y<br> Servicios</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url publicaciones %}">
                    Publicaciones</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url productos %}">
                    Productos</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url asesorias %}">
                    Asesor&iacute;as</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url visitasguiadas %}">
                    Visitas Guiadas</a></li>
        </ul>
    </td>
    <td class="final" style="border:0px;"><a href="{% url contacto %}">
                    Contacto</a></td>
</tr></table>
</ul>
{% endblock %}

{% block content %}

    <div style="width: 70%; margin: auto">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 1 - <i>(PB1) Yacimiento</i> con <i>(Pa) Roca</i></strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Lísteme por estado (3)
                Número de Yacimiento (00)
                Tipo de Manifestación (13)
                La relación de:
                No de piedras trabajadas (21.1.1), (21.1.2) / no de
                piedras del yacimiento (21.1)
                Ubicación (14) (14.1), (14.2), (14.3), (14.4), (14.5),
                Características del surco (24), ( 24.1.1), (24.1.2),
                (24.1.3.1), (24.1.3.2), (24.1.2), (24.1.2.1), (24.1.2.2),
                (24.1.3), (24.1.3.1), (24.1.3.2), (24.1.4), (24.1.4.1),
                (24.1.4.2), (24.1.5), (24.1.6), (24.1.7) y
                Técnicas (23), (23.1.1), (23.)2, con: <br/>
                <form action="/cruces/27/">
                    <label>Manifestacion asociada: {{form.manifasociadas}}</label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 2 - <i>(PB1) Yacimiento</i> con <i>(Pa) Roca</i></strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Listar yacimientos (00) con Pinturas Rupestres (13.2),
                por estados (3), por combinación de pinturas (26),
                ancho de pinceladas (25.2) y tipo de pincelada(25.3)
                que tienen distribuciones semejantes a:<br/>
                <form action="/cruces/28/">
                    <label>Manifestacion asociada: {{form.manifasociadas}}</label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Cruce 3 - <i>(PB1) Yacimiento</i> con <i>(Pa) Roca</i></strong></h3>
          </div>
          <div class="panel-body">
            <p>
                Cómo se relacionan el tipo de material (22) ,
                El estado de conservación (27) y las manifestaciones
                asociadas (30), con los grupos establecidos en base a
                las semejanzas de  :
                :<br/>
                <form action="/cruces/29/">
                    <label>Manifestacion asociada: {{form.manifasociadas}}</label></br></br>
                    <input type="submit" class="button" value="Consultar"/>
                </form>
            </p>
          </div>
        </div>

        </div>
</body>

{% endblock %}
