
{% extends "en/patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Whetstones{% endblock %}
{% block title %}<span style="color:#424242">Whetstones</span>{% endblock %}

{% block content %}
<p align="justify"><font color="#424242"><strong>Whetstones</strong></font> or <font color="#424242"><strong>Grindstones</strong></font>, oval-shaped depressions made by abrasion, and <font color="#424242"><strong>Coupled Points</strong></font>, hemispherical engravings, constitute rock art finds in themselves, in that they occur both accompanied by <font color="#ff0000"><strong>petroglyphs</strong></font> and without them.&nbsp;<br><br>Accompanying the <font color="#ff0000"><strong>petroglyphs</strong></font> that border the rivers, one finds many rocks with <font color="#424242"><strong>grooves in the shape of grinders</strong></font>, which might help to indicate the forms of the original lithic instruments used to engrave the <font color="#ff0000"><strong>petroglyphs</strong></font>.&nbsp;<br><br>The <strong>ANAR</strong> possesses graphic and documentary information of the total of rock art sites discovered up to the present in Venezuela. </p>
<p><img src="{% static "images/patrimoniorupestrevenezolano/amoladores/Ubiamoladores.png"  %}" style="width:70%;border:solid 2px #424242"/></p>

<table width="80%" align="center">
	<tbody>
		<tr>
			<td align="center" width="50%">
			<img src="{% static "images/patrimoniorupestrevenezolano/amoladores/164.png"  %}" width="40%" />
			</td>
			<td align="center" width="30%">
			<img src="{% static "images/patrimoniorupestrevenezolano/amoladores/183.png"  %}" width="20%" />
			</td>
		</tr>
		<tr>
			<td>
			<p style="font-size:12px"><b><span style="color:#424242;">164 - AMOLADORES</span><br><u>Salto Par&uacute;</u><br></b>Estado Amazonas<br>Fotog: E. Gonz&aacute;lez Ni&ntilde;o<br></p>
			</td>			<td>
			<p style="font-size:12px"><b><span style="color:#424242;">183 - PUNTOS ACOPLADOS</span><br><u>Isla de los Arrendajos</u><br></b>Estado Bol&iacute;var<br>Fotog: Ruby De Valencia<br></p>
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}