
{% extends "en/patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Whetstones{% endblock %}
{% block title %}{% endblock %}

{% block content %}
<ul id="fondo" style="width:100%;height:800px;z-index=1;display:none;"></ul>
<ul id="1" class="dropdown-image " role="menu">
	<img src="{% static "images/patrimoniorupestrevenezolano/amoladores/Ubiamoladores.png" %}" 
		style="width:650px;border:solid 2px #424242"/>
		<br><br><br>
	<div onclick="setImageVisible('1','none')" style="width:732px;font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>
<ul id="2" class="dropdown-image " role="menu">
	<img src="{% static "images/patrimoniorupestrevenezolano/amoladores/164grande.png" %}" style="width:370px"/>
	<div class="description" style="font-size:11px"><br>
		<p style="margin-left:215px">
			<span style="color:#424242"><b>164<br>WHETSTONES</b></span><br>
			<b><i>Salto Par&uacute;</i></b><br>
			Estado Amazonas<br>
			Fotog: E. Gonz&aacute;lez Ni&ntilde;o<br>
		</p>
	</div>
	<div onclick="setImageVisible('2','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>
<ul id="3" class="dropdown-image " role="menu">
	<img src="{% static "images/patrimoniorupestrevenezolano/amoladores/183grande.png" %}" style="width:242px"/>
	<div class="description" style="font-size:11px"><br>
		<p style="margin-left:280px">
			<span style="color:#424242"><b>183<br>COUPLED POINTS</b></span><br>
			<b><i>Isla de los Arrendajos</i></b><br>
			San Pedro de las Bocas<br>
			Estado Bol&iacute;var<br>
			Fotog: Ruby De Valencia<br>
		</p>
	</div>
	<div onclick="setImageVisible('3','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>


<div id="contenido">
<h3><b><span style="color:#424242">Whetstones</span></b></h3>
	<div class="row">
	  <div class="col-md-4 col-xs-8">
	  	<img src="{% static "images/patrimoniorupestrevenezolano/amoladores/164peq.png"  %}" class="img-responsive" style="width:270px;height:177px" onclick="setImageVisible('2','block')"/>
	  	<br>
	  	<img src="{% static "images/patrimoniorupestrevenezolano/amoladores/183peq.png"  %}" class="img-responsive center-block" style="width:177px" onclick="setImageVisible('3','block')" />
	  </div>
	  <div class="col-md-8 col-xs-12">
	  	<p class="text-left" style="text-align:left">
			<font color="#424242"><strong>Whetstones</strong></font> or 
			<font color="#424242"><strong>Grindstones</strong></font>, oval-shaped 
			depressions made by abrasion, and 
			<font color="#424242"><strong>Coupled Points</strong></font>, 
			hemispherical engravings, constitute rock art finds in themselves, 
			in that they occur both accompanied by 
			<font color="#ff0000"><strong>petroglyphs</strong></font> and without 
			them.
		</p>
		<p class="text-left" style="text-align:left">
			Accompanying the <font color="#ff0000"><strong>petroglyphs</strong></font> 
			that border the rivers, one finds many rocks with 
			<font color="#424242"><strong>grooves in the shape of 
			grinders</strong></font>, which might help to indicate the forms of 
			the original lithic instruments used to engrave the 
			<font color="#ff0000"><strong>petroglyphs</strong></font>.
		</p>
		<p class="text-left" style="text-align:left">
			The <strong>ANAR</strong> possesses graphic and documentary information 
			of the total of rock art sites discovered up to the present in Venezuela.
		</p>
		<button type="button" class="btn btn-link pull-right" onclick="setImageVisible('1','block')">Location</button>
	  </div>
	</div>
</div>
{% endblock %}