
{% extends "en/patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Cultural Heritage Protection Law{% endblock %}
{% block title %}Cultural Heritage Protection Law{% endblock %}

{% block content %}
<b><u><p style="text-align:center">HEADING I <br>ABOUT CULTURAL PROPERTY</p></u></b>

<b><p style="text-align:left">
<u>
CHAPTER I</u> <br>
GENERAL DISPOSITIONS
</p>
</b>
<p style="text-align:left">
<b>ARTICLE 1º</b> 
    The object of this law is to establish the principles which 
    are to rule the Defense of the cultural heritage of the Republic, which 
    comprehends its research, rescue, preservation, conservation, restoration, 
    revitalization, custody, safe guard, identification and all that which would 
    be required for its cultural, material or spiritual protection.
<br><br>
<b>ARTICLE 2º</b> 
    The defense of the cultural heritage of the Republic is a primordial obligation 
    of the state and its citizens. The preservation, defense and safeguard of 
    all works, group of works or places either created by man or of natural 
    origin found within the territory of the Republic, whose cultural content 
    defines them as a fundamental part of our national identity are declared 
    to be of public profit and interest to society.
<br><br>
<b>ARTICLE 3º</b> 
    Should the preservation of property belonging to the cultural Heritage of the 
    Republic, imply a limitation which denaturalizes the attributes of 
    personal property, its owner may claim of the state his corresponding 
    indemnization. In these cases, to the effect of determining the amount of 
    the indemnization, the criteria to be followed shell be that established in 
    the Law of Expropriation for Reason of Public Usefulness or Social Interest.
<br><br>
<b>ARTICLE 5º</b> 
    All thing related to the defense of Natural Cultural Heritage hereby described, 
    with the exceptions established by Law, shall be officially under the of 
    the care of the Institute of Cultural Property. 
</p>

<p style="text-align:left">
<b><u>
CHAPTER II </u><br/>
OF PROPERTY FORMING THE CULTURAL HERITAGE OF THE REPUBLIC
</b>
</p>
<p style="text-align:left">
<b>ARTICLE 6º</b> The Cultural Heritage of the Republic for the purposes of this Act, consists of goods of cultural interest and declared that they are in the national territory or entering it whoever the owner as stated below:
<ol> 
<li>The movable and immovable property which have been declared national monuments or are declared;</li>
<li>Immovable property of any time that is of interest to preserve its historical, artistic, <b>social or archaeological value that have not been declared national monuments.</b> </li>
<li>Movables of any time that is of interest to preserve its exceptional historical city or artistic value;</li>
<li>Populations and <b>sites for its typical, traditional, natural, historical, environmental, artistic, architectural or archaeological values are declared worthy of protection and conservation</b>. The historic centers of towns and cities that merit and have significance for urban memory;</li>
<li><b>Historical evidence and archeological sites linked to the past; </b></li>
<li> <b>The bibliographic and documentary heritage, archives, libraries, map libraries, music libraries, video libraries, film libraries and other institutions of similar nature, currently protected by specific organisms without ignoring the ownership of such bodies thereon;</b> </li>
<li><b>The archaeological and paleontological</b> heritage wherever they are, and</li>
<li> Any other good of cultural interest warranting be declared as such.</li>
</ol>
</p>

<!-- Animación Flash. -->
<div style="float:none">
    <object width="100%" pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="transparent" type="application/x-shockwave-flash" width="80%" data="/static/site/imagenes/ley.swf"></object>
</div>

<b><p style="text-align:center"><u>CHAPTER IV<br> 
ARCHAEOLOGICAL HERITAGE AND PALEONTOLOGICAL OF THE REPUBLIC</u>
</p>
</b>
<p style="text-align:left">
<b>ARTICLE 35º</b> State owned all cultural assets declared Cultural Heritage of the Republic, <b>relating to archaeological pre-Hispanic</b>, colonial, republican and modern heritage and property of paleontological heritage that were discovered in any area of the soil or subsoil national, especially underwater.
<br><br>
<b>ARTICLE 36º</b> destruction of property is prohibited in the preceding article refers to.
<br><br>
<b>ARTICLE 37º</b> Landowners under which archaeological or paleontological objects are, may not oppose the exploration, survey and inventory the Institute of Cultural Heritage authorizes.
<br><br>
<b>ARTICLE 39º</b>  All work shop to discover, explore, study or archaeological or paleontological dig, must first be approved by the Institute of Cultural Heritage. The above authorization will only be granted to professional archaeologists and paleontologists, as well as renowned scientists, national or foreign institutions.
<br><br>
<b>ARTICLE 40º</b> The Institute of Cultural Heritage will allow the exit of duplicate of archaeological objects for foreign scientific institutions collections when they are deemed useful for museums or national, state or municipal institutions, it will also allow the output of those pieces that require special treatment conservation, restoration or examination. 
</p>

<b><p style="text-align:center"><u>CHAPTER VI <br>
SANCTIONS</u>
</p>
</b>

<p style="text-align:left">
<b>ARTICLE 44º</b> Are obliged to participate actively in favor of the defense, rescue and conservation of the Cultural Heritage of the Republic all citizens who live in its territory. It shall be sentenced with two 2-4 years in prison who destroy, damage or damage any goods set out in Articles 2 and 6 of this Act.
<br><br>
<b>ARTICLE 45º</b> For having acted with recklessness or negligence, or with inexperience in his profession, art or industry, or failure to comply with this Act, its regulations, rules, written orders or official regulations cause any damage to such property, shall be punished with half of the previous sentence.
<br><br>
<b>ARTICLE 46º</b> Those in search of archaeological or paleontological explorations carry goods or unauthorized excavations, shall be liable to the penalty provided in the preceding article.
<br><br>


{% endblock %}