
{% extends "en/patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Micropetroglyphs{% endblock %}
{% block title %}<span style="color:#DBA901">Micropetroglyphs</span>{% endblock %}

{% block content %}
<p align="justify">These small stone pebbles or slabs with engravings are the <font color="#DBA901"><strong>Micropetroglyphs</strong></font>.&nbsp;<br><br>Specimens of <font color="#DBA901"><strong>micropetroglyphs</strong></font>, have been found in the central and Andean states. These appear in anthropological literature, in tales about magical incantations, and their use as calendars or coins is also described. In addition, tribal informants describe their application by shamans in order to attract rain. </p>

<p><img src="{% static "images/patrimoniorupestrevenezolano/micropetroglifos/Ubimicropetroglifos.png"  %}" style="width:70%;border:solid 2px #DBA901"/></p>

<table width="80%" align="center">
	<tbody>
		<tr>
			<td align="center" width="60%">
			<img src="{% static "images/patrimoniorupestrevenezolano/micropetroglifos/100.png"  %}" width="50%" />
			</td>
			<td align="center" width="40%">
			<img src="{% static "images/patrimoniorupestrevenezolano/micropetroglifos/359.png"  %}" width="50%" />
			</td>
		</tr>
		<tr>
			<td>
			<p style="font-size:12px"><b><span style="color:#DBA901;">100/0/3 - MICROPETROGLYPHS</span><br><u>Lago de Valencia</u><br></b>Estado de Carabobo<br>Fotog: Alfredo Weber<br></p>
			</td>			<td>
			<p style="font-size:12px"><b><span style="color:#DBA901;">359/0/1 - MICROPETROGLYPHS</span><br><u>QUIBARIO - Piedra para medir el tiempo</u><br></b>Sta Anita, Estado Merida<br>Fotog: A. M&aacute;rquez C.<br></p>
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}