
{% extends "en/patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Megalithics Monuments{% endblock %}
{% block title %}<span style="color:#04B404">Megalithics Monuments</span>{% endblock %}

{% block content %}
<p align="justify">The <strong>Stonehenge <font color="#04B404">megaliths</font></strong> are greatly admired, but the<strong> stone circles with astronomical engravings of the State of Cojedes, the rows of <font color="#04B404">megaliths of Carabobo</font>, and the <font color="#04B404">menhirs and dolmens</font> of the State of Amazonas</strong>, remain mostly unknown.<strong>&nbsp;<br><br></strong>The<strong> <font color="#424242">linear and circular engravings</font> found on </strong><strong><font color="#04B404">menhirs</font></strong> <strong>in Venezuela</strong>, indicators of the contemporaneousness of both manifestations in our country, are of universal importance in the difficult scope of archaeological dating.&nbsp;<br><br>The <strong>ANAR</strong> includes the chronicles and drawings of explorers as early as Chanffanjon and Humboldt, as well as digitally enhanced photographs of outstanding samples. </p>
<p><img src="{% static "images/patrimoniorupestrevenezolano/monumentos/Ubimegaliticos.png"  %}" style="width:70%;border:solid 2px #04B404"/></p>
<table width="80%" align="center">
	<tbody>
		<tr>
			<td align="center" width="30%">
			<img src="{% static "images/patrimoniorupestrevenezolano/monumentos/320.png"  %}" width="60%" />
			</td>
			<td align="center" width="60%">
			<img src="{% static "images/patrimoniorupestrevenezolano/monumentos/84.png"  %}" width="20%" />
			</td>
		</tr>
		<tr>
			<td>
			<p style="font-size:12px"><b><span style="color:#04B404;">84/3-2/0 MEGALITHIC MONUMENT</span><br><u>Vigirima</u><br></b>Estado Carabobo<br>Fotog: Ruby De Valencia<br></p>
			</td>			<td>
			<p style="font-size:12px"><b><span style="color:#04B404;">84/1/0 MEGALITHIC MONUMENT MENHIRS</span><br><u>Vigirima</u><br></b>Estado Carabobo<br>Fotog: Victor Hern&aacute;ndez<br></p>
			</td>
		</tr>
	</tbody>
</table>


{% endblock %}