
{% extends "en/patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Note{% endblock %}
{% block title %}Note{% endblock %}

{% block content %}
<p>
    The colors that identify each of the Rock Art Sites, 
    as well as its text, logo or map, correspond to the 
    conventions used the <b>ANAR</b> from its beginning, and 
    <b>do not have any other connotation whatsoever</b>.
</p>
<p style="text-align: center">
    <b>WARNING............................HIGHLY IMPORTANT NOTICE</b>
</p>
<p>
    White grooves are shown in some petroglyph photographs on this 
    page and other publications on the subject. This is due to 
    techniques, tools and methods or procedures used in the past by 
    researches from many countries, for the registration and graphic 
    documentation of the information related/
<p>
    Nowadays LAYER REMOVAL FROM THE STONES WITH BRUSHES IS NOT ADVISABLE 
    (i.e. dirt, dust, vegetal layer), NEITHER SCRAP, PAINT THE GROOVES, DO MUD 
    MOULDS OR USE RESINS on the stones for the same purpose, and or to bring out 
    the image</b>, since it annuls the work to be performed in the rock art Sites, 
    where every piece of information from the original context is necessary for 
    purposes of dating and conservation, among others, plus it would alter and 
    leave the material without protection.
<p>
    With the new <b>Digital Technologies</b> an effective, high and neat quality 
    documentation and registration job can be performed without having to 
    intervene the stones or the site environment. 
</p>
{% endblock %}