
{% extends "en/patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Petroglyphs{% endblock %}
{% block title %}{% endblock %}

{% block content %}
<ul id="fondo" style="width:100%;height:800px;z-index=1;display:none;"></ul>
<ul id="1" class="dropdown-image " role="menu">
	<img src="{% static "images/patrimoniorupestrevenezolano/petroglifos/Ubi.png" %}" 
		style="width:650px;border:solid 2px red"/>
		<br><br><br>
	<div onclick="setImageVisible('1','none')" style="width:732px;font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>
<ul id="2" class="dropdown-image " role="menu">
	<img src="{% static "images/patrimoniorupestrevenezolano/petroglifos/38grande.png" %}" style="width:370px"/>
	<div class="description" style="font-size:11px"><br>
		<p style="margin-left:215px">
			<span style="color:red"><b>182/0/1<br>PETROGLYPH</b></span><br>
			Isla de los Arrendajos<br>
			Estado Bolívar<br>
			Fotog: Ruby De Valencia<br>
		</p>
	</div>
	<div onclick="setImageVisible('2','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>
<ul id="3" class="dropdown-image " role="menu">
	<img src="{% static "images/patrimoniorupestrevenezolano/petroglifos/98grande.png" %}" style="width:242px"/>
	<div class="description" style="font-size:11px"><br>
		<p style="margin-left:280px">
			 <span style="color:red"><b>182/0/1<br>PETROGLYPH</b></span><br>
			Isla de los Arrendajos<br>
			Estado Bolívar<br>
			Fotog: Ruby De Valencia<br>
		</p>
	</div>
	<div onclick="setImageVisible('3','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>


<div id="contenido">
<h3><b><span style="color:red">Petroglyphs</span></b></h3>
	<div class="row">
	  <div class="col-md-4 col-xs-8">
	  	<img src="{% static "images/patrimoniorupestrevenezolano/petroglifos/38peq.png"  %}" class="img-responsive" style="width:270px;height:177px" onclick="setImageVisible('2','block')"/>
	  	<br>
	  	<img src="{% static "images/patrimoniorupestrevenezolano/petroglifos/98peq.png"  %}" class="img-responsive center-block" style="width:177px" onclick="setImageVisible('3','block')" />
	  </div>
	  <div class="col-md-8 col-xs-12">
	  	<p class="text-left" style="text-align:left">
			Stone engravings are what we now know by the name of 
			<font color="#ff0000"><strong>Petroglyphs</strong></font>.
		</p>
		<p class="text-left" style="text-align:left">
			In Venezuela, <font color="#ff0000"><strong>petroglyphs</strong></font> 
			of unusual width and depth of engraving (up to 10 cm.) are found 
			bordering the Andean foothills in the Barinas state in an area 40 km. 
			long. In <strong>Barinas</strong>, as well as the <strong>Falc&oacute;n 
			and Bol&iacute;var, states</strong> rocks have been found where the 
			drawings appear in linear high-relief instead of the more common low 
			relief of most <font color="#ff0000"><strong>petroglyphs</strong></font>.
			Murals which can be up to 30 meters long engraved at heights of over 
			50 mt. on inaccessible slopes of polished stone, characterize the 
			<strong>Amazonas state</strong>.
		</p>
		<p class="text-left" style="text-align:left">
			There are few examples in anthropological literature where the meaning 
			of <font color="#ff0000"><strong>petroglyphs</strong></font> 
			(signs which preceded writing) has been scientifically interpreted or 
			confirmed.
		</p>
		<p class="text-left" style="text-align:left">
			Venezuela is fortunate to have these still-extant manifestations. 
			It should be noted that south of the R&iacute;o Negro, shamans of 
			ancient tribes of Arawak origin continue to use and interpret them in 
			ceremonies of masculine and feminine initiation. 
		</p>
		<button type="button" class="btn btn-link pull-right" onclick="setImageVisible('1','block')">Location</button>
	  </div>
	</div>
</div>
{% endblock %}