
{% extends "en/patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Natural Mythical Hills and Stones{% endblock %}
{% block title %}<span style="color:#01A9DB">Natural Mythical Hills and Stones</span>{% endblock %}

{% block content %}
Interpretations and meanings of the <span style="color:#01A9DB"><b> Natural Mythical Hills and Stones</b></span> in our country are correlated with the varied and extensive mythologies that still form part of the live culture of 30 linguistically-differentiated ethnic groups. 

The <b>ANAR</b> documents the material side of this heritage in photographs, field work registers and publications both of contemporary investigators as of explorers and chroniclers that traveled through Venezuela's hinterland centuries before the appearance of anthropology as a science.

<p><img src="{% static "images/patrimoniorupestrevenezolano/piedras/Ubipiedras.png"  %}" style="width:70%;border:solid 2px #01A9DB"/></p>
<p>

<table width="80%" align="center">
	<tbody>
		<tr>
			<td align="center" width="40%">
			<img src="{% static "images/patrimoniorupestrevenezolano/piedras/35.png"  %}" width="40%" />
			</td>
			<td align="center" width="60%">
			<img src="{% static "images/patrimoniorupestrevenezolano/piedras/414.png"  %}" width="20%" />
			</td>
		</tr>
		<tr>
			<td>
			<p style="font-size:12px"><b><span style="color:#01A9DB;">35 - NATURAL MYTHICAL HILLS </span><br><u>Roca Culimacari</u><br></b>Bajo Casiquiare<br>Estado Amazonas<br>Fotog: Siegfried Geyer<br></p>
			</td>			<td>
			<p style="font-size:12px"><b><span style="color:#01A9DB;">414 - NATURAL MYTHICAL STONE </span><br><u>Olla de Napiruli</u><br></b>Ca&ntilde;o Lemi<br>Estado Amazonas<br>Fotog: Omar Gonz&aacute;lez &Ntilde;.<br></p>
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}