
{% extends "en/patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Rock Paintings{% endblock %}
{% block title %}<span style="color:purple">Rock Paintings</span>{% endblock %}

{% block content %}
<p align="justify"><font color="#800080"><strong>Rock Paintings</strong></font>, also known as pictographs, appear in caves and shelters, protected from the weather and not readily visible.&nbsp;<br><br>The <strong>caves of Altamira</strong> and <strong>Lascaux</strong> are known all over the world for their rock paintings, but very few persons know that in <strong>Venezuela there are more than 20 shelters and caves with <font color="#800080">rock art paintings</font> of pre-Hispanic origin</strong>, and, moreover, that these manifestations extend up to the present in paintings that accompany the funeral remains of contemporary aboriginal people and the rituals of the spiritist and santeria tradition. They are also present in great open-air murals (Aragua state) of pre-Hispanic making.&nbsp;<br><br>The <strong>ANAR</strong> keeps these records in bibliographic and photographic documents. </p><table width="100%">

<p><img src="{% static "images/patrimoniorupestrevenezolano/pinturarupestre/UbiPinturasRupestres.png"  %}" style="width:70%;border:solid 2px #424242"/></p>


	<tbody>
		<tr>
			<td align="center" width="40%">
			<img src="{% static "images/patrimoniorupestrevenezolano/pinturarupestre/434.png"  %}" width="20%" />
			</td>
			<td align="center" width="60%">
			<img src="{% static "images/patrimoniorupestrevenezolano/pinturarupestre/Pintura.png"  %}"  />
			</td>
		</tr>
		<tr>
			<td>
			<p style="font-size:12px"><b><span style="color:purple;">434 - ROCK PAINTING</span><br><u>Cueva del Cerro Gavil&aacute;n</u><br></b>Estado Bol&iacutevar<br>Fotog Joris Lagarde<br></p>
			</td>
			<td>
			<p style="font-size:12px"><b><span style="color:purple">434 - ROCK PAINTING</span><br><u>Cueva del Cerro Gavil&aacute;n</u><br></b>Estado Bol&iacutevar<br>Fotog. M&ordf; Gabriela Montoto<br></p>
			</td>
		</tr>
	</tbody>
</table>


{% endblock %}