
{% extends "quienessomos-base.html" %}
{% load staticfiles%}

{% block pagetitle %}&Aacute;reas de Especializaci&oacute;n{% endblock %}
{% block title %}&Aacute;reas de Especializaci&oacute;n{% endblock %}

{% block content %}
<p>
El <b>ANAR</b> está compuesto actualmente de los siguientes tipos de documentos: 
</p>
<ol style="padding-left: 1.5%">
	
<li><b>ARCHIVO NACIONAL DE ARTE RUPESTRE </b>
	<ul>
		<li>
			<b>Carpetas de Estaciones Rupestres:</b> Archivan las fichas de 
			trabajo de campo que describen cada una de las 650 estaciones con 
			Manifestaciones Rupestres (contentivas de 1 a 30 piedras por e
			staci&oacute;n) registradas hasta la fecha en el Archivo, con las 
			respectivas fotograf&iacute;as o ilustraciones tanto del yacimiento 
			como de las piedras.
		</li>
		<li>
			<b>Fichas Cartogr&aacute;ficas:</b> En las que se indica la 
			ubicaci&oacute;n de cada estaci&oacute;n rupestre registrada, 
			as&iacute; como los exploradores que la han rese&ntilde;ado, 
			dibujado y/o fotografiado, el a&ntilde;o y la p&aacute;gina en que 
			se publicaron los hallazgos.
		</li>
		<li>
			<b>Carpetas de Documentos Bibliogr&aacute;ficos: </b> Consiste en el 
			compendio hasta la fecha de un total de documentos 
			bibliogr&aacute;ficos y hemerogr&aacute;ficos referentes a las 
			estaciones con Manifestaciones Rupestres venezolanas registradas 
			en el <b>ANAR</b>.
		</li>
		<li>
			<b>Material No Bibliogr&aacute;fico: </b>Donde se encuentran 
			fotograf&iacute;as e ilustraciones de cada una de las estaciones 
			rupestres y piedras.
		</li>
		<li>
			<b>Carpetas de Documentos Bibliogr&aacute;ficos Otros Pa&iacute;ses: 
			</b> Consiste en el compendio de documentos bibliogr&aacute;ficos y 
			hemerogr&aacute;ficos referentes al Arte Rupestre en otros pa&iacute;ses.
		</li>
		<li>
			<b>Fichero Bibliogr&aacute;fico: </b> Integra referencias 
			bibliogr&aacute;ficas relativas a las Manifestaciones Rupestres 
			venezolanas en general, as&iacute; como una secci&oacute;n de 
			t&oacute;picos relacionados (navegaci&oacute;n primitiva, pintura 
			corporal, t&eacute;cnicas modernas de prospecci&oacute;n 
			arqueol&oacute;gica...ect) y Arte Rupestre de otros pa&iacute;ses, 
			con una cantidad similar de entradas.
		</li>
		<li>
			<b>Material no clasificado:</b> Corresponde a un extenso n&uacute;mero 
			de materiales acumulados en fecha posterior al libro <b>El Dise&ntilde;o 
			en los Petroglifos Venezolanos (1987)</b>, los cuales est&aacute;n 
			siendo permanentemente recolectados y procesados para su 
			integraci&oacute;n al Archivo.
		</li>

	</ul>
</li>
</ol>
<p>
	Todos los documentos referidos en esta secci&oacute;n est&aacute;n 
	codificados de manera cruzada, lo que permite una infinita variedad de 
	relaciones que facilitan la labor del investigador.
</p>

<ol style="padding-left: 1.5%" start="2">
<li><b>ARCHIVO DE DOCUMENTOS BIBLIOGR&Aacute;FICOS </b> <br/>
<b>(Antropolog&iacute;a General) </b>
	<ul>
		<li>
			Las carpetas de documentos de este Archivo se encuentran agrupadas 
			en diferentes categor&iacute;as antropol&oacute;gicas tales como 
			Paleontolog&iacute;a, Arqueolog&iacute;a, Etnolog&iacute;a...etc y 
			subdivididas luego por pa&iacute;ses.
		</li>
	</ul>
</li>

<li><b>ARCHIVO DE DOCUMENTOS HEMEROGR&Aacute;FICOS  </b> <br/>
<b>(Antropolog&iacute;a General) </b>
	<ul>
		<li>
			Las carpetas de documentos de este Archivo se encuentran agrupadas 
			siguiendo aproximadamente la misma clasificaci&oacute;n del Archivo 
			de Documentos Bibliogr&aacute;ficos</li>
		</li>
	</ul>
	
</ol>
<!-- <br><br>
<img src="{% static "images/quienessomos/organigrama.png" %}"> -->
{% endblock %}