
{% extends "quienessomos-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Origen y Trayectoria{% endblock %}
{% block title %}Origen y Trayectoria{% endblock %}

{% block content %}
<ul id="fondo" style="width:100%;height:800px;z-index=1;display:none;"></ul>
<ul id="1" class="dropdown-image " role="menu">
	<div class ="row " >
			<img src="{% static "images/quienessomos/libro.jpg" %}" style="width:50%"/>
			<div class="description" style="align:left"><b>El dise&ntilde;o en los petroglifos venezolanos </b><br>
									 Ruby De Valencia y Jeannine Sujo<br></p>
			<div onclick="setImageVisible('1','none')" style="width:50%;font-size:26px;text-align:right">&#x25C4;</a>
	</div>
</ul>

<div id="contenido">
<p>
El <b>ANAR</b> tiene su origen en el trabajo de investigaci&oacute;n y recopilaci&oacute;n documental sobre Arte Rupestre iniciado por la Antrop&oacute;logo Jeannine Sujo en 1972.<br>
A partir de 1985 se integra a este trabajo la Arquitecto Paisajista Ruby De Valencia, quien enriquece adem&aacute;s el Archivo con una serie de documentos fotogr&aacute;ficos de las diferentes estaciones de Arte Rupestre venezolanas, pertenecientes a 17 de los 23 estados y lo complementa con un amplio archivo documental, cartogr&aacute;fico y bibliogr&aacute;fico sobre Arte Rupestre de Venezuela y otros pa&iacute;ses del mundo, materiales producto a la &eacute;poca de m&aacute;s de 10 a&ntilde;os de investigaci&oacute;n de campo, rese&ntilde;ados en art&iacute;culos de diferentes revistas especializadas.  Y oficialmente crean el <b>ANAR</b>.<br>
Este trabajo de investigaci&oacute;n form&oacute; la base para la publicaci&oacute;n por sus autoras: 
</p>

<p><table>
	<tbody>
		<tr>
			<td width="30%" ><div onclick="setImageVisible('1','block')">
				<img src="{% static "images/quienessomos/libro.jpg"  %}"   /></div>
			</td>
			<td width="70%">
			<p style="text-align:left">	
 Ruby De Valencia y Jeannine Sujo , del libro <b>El Dise&ntilde;o en los Petroglifos Venezolanos</b>, edici&oacute;n triling&uuml;e de la Fundaci&oacute;n Pampero, Caracas, 1987, 410 p&aacute;gs; as&iacute; como la realizaci&oacute;n del proyecto de exposici&oacute;n museogr&aacute;fica del mismo nombre propuesto para la Sala de Exposiciones de la IBM en Nueva York (1988) y el proyecto que se prepara actualmente en el <b>ANAR</b> sobre las  <b>&quot;Manifestaciones Rupestres &quot;</b> en Venezuela.</p>
</td>
</tr>
</tbody>
</table>
<p>
La publicaci&oacute;n fue acreedora de los siguientes reconocimientos nacionales e internacionales: <b>Medalla de Bronce, Exposici&oacute;n Internacional del Arte del Libro</b>, 1989, Leipzig, Alemania y <b>Reconocimiento en la IX Exposici&oacute;n Anual del Libro Ilustrado y la Fotograf&iacute;a Documental</b>, 1988, Instituto Aut&oacute;nomo Biblioteca Nacional, Caracas.
</p>
<p>
Su contenido permiti&oacute;: 
<ul>
	<li>
Presentar el primer inventario documentado fotogr&aacute;ficamente sobre la totalidad de estaciones rupestres registradas a nivel nacional hasta el momento, que conforman parte del patrimonio cultural arqueol&oacute;gico de Venezuela.
	</li>
	<li>
Sustentar importantes conclusiones en el campo de la investigaci&oacute;n antropol&oacute;gica referentes a Venezuela, en base al estudio e interrelaci&oacute;n de las caracter&iacute;sticas estil&iacute;sticas de estas estaciones; se formularon los horizontes estil&iacute;sticos que definen las diferentes zonas geogr&aacute;ficas del pa&iacute;s.  Estos horizontes permitieron a su vez orientar varias hip&oacute;tesis referentes a algunas de las rutas migratorias m&aacute;s antiguas de nuestro pa&iacute;s.
	</li>
</ul>
</p></div>
{% endblock %}