
{% extends "quienessomos-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Profesionales Adjuntos{% endblock %}
{% block title %}Profesionales Adjuntos{% endblock %}

{% block content %}
<div id="contenido">
    <!-- Fotos de profesionales.-->
    <div class="row">
	  <div class="col-md-2">
	  	<img src="{% static "images/quienessomos/1-RubyDeValencia.jpg"  %}" width="196px" height="147px" display="block"/>
	  </div>
	  <div class="col-md-2">
	  	<img src="{% static "images/quienessomos/3-Mira Kugelmann.jpg"  %}" width="196px" height="147px" display="block"/>
	  </div>
	  <div class="col-md-2">
	  	<img src="{% static "images/quienessomos/4-Luis Muller.jpg"  %}" width="196px" height="147px" display="block"/>
	  </div>
	  <div class="col-md-2">
	  	<img src="{% static "images/quienessomos/5-Paola Valencia.jpg"  %}" width="196px" height="147px" display="block"/>
	  </div>
	  <div class="col-md-2">
	  	<img src="{% static "images/quienessomos/6-Victor Hernandez.jpg"  %}" width="196px" height="147px" display="block"/>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-2"><b>1</b></div>
	  <div class="col-md-2"><b>2</b></div>
	  <div class="col-md-2"><b>3</b></div>
	  <div class="col-md-2"><b>4</b></div>
	  <div class="col-md-2"><b>5</b></div>
	</div>
    
    <br>
    
    <!-- Descripción de los profesionales adjuntos -->
    <div class="row">
	  <div class="col-md-8 col-lg-3">
	  	<p>1.<b> RUBY De VALENCIA:</b></p>
	  </div>
	  <div class="col-md-2 col-lg-9" >
	  	<p>Arquitecto Paisajista. Especialista en Tecnologías Apropiadas y 
  			Apropiables. Co-fundadora y Directora del ANAR.
  		</p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-4">
	  	<p>2.<b> MIRA KUGELMANN:</b></p>
	  </div>
	  <div class="col-md-8">
	  	<p>Licenciada en Educación integral. Coordinadora de Idiomas y 
	  		Directora de CEGAVEN.
  		</p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-4">
	  	<p>3.<b> LUIS MÜLLER PERUGA:</b></p>
	  </div>
	  <div class="col-md-8">
	  	<p>Diseñador Gráfico y Comunicador Visual.</p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-4">
	  	<p>4.<b> PAOLA VALENCIA:</b></p>
	  </div>
	  <div class="col-md-8">
	  	<p>Artista Plástico y Comunicadora Visual.</p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-4">
	  	<p>5.<b> VICTOR HERNÁNDEZ TURUPIAL:</b></p>
	  </div>
	  <div class="col-md-8">
	  	<p>Fotógrafo con interés en Ecología y Patrimonio Cultural.</p>
	  </div>
	</div>
    
    <!-- Heading para los colaboradores. -->    
	<h3><b>Colaboradores</b></h3>

	<!-- Fotos de colaboradores. -->
	<div class="row">
	  <div class="col-md-2">
	  	<img src="{% static "images/quienessomos/1-Trina Borrego.jpg"  %}" width="196px" height="147px" display="block"/>
	  </div>
	  <div class="col-md-2">
	  	<img src="{% static "images/quienessomos/2-Jorge Naveda.jpg"  %}" width="196px" height="147px" display="block"/>
	  </div>
	  <div class="col-md-2">
	  	<img src="{% static "images/quienessomos/3-Yudith Cardinale.jpg"  %}" width="196px" height="147px" display="block"/>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-2"><b>1</b></div>
	  <div class="col-md-2"><b>2</b></div>
	  <div class="col-md-2"><b>3</b></div>
	</div>
	
	<!-- Contenido de los colaboradores. -->
	<br>
	
	<!-- Descripción de los profesionales adjuntos -->
    <div class="row">
	  <div class="col-md-4">
	  	<p>1.<b> TRINA BORREGO:</b></p>
	  </div>
	  <div class="col-md-8">
	  	<p>Profesora, Directora del Liceo Bolivariano Julio Bustamante y Coordinadora de Promoción y Difusión del Acervo histórico.
  		</p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-4">
	  	<p>2.<b> JORGE NAVEDA SOSA:</b></p>
	  </div>
	  <div class="col-md-8">
	  	<p>Biólogo, Profesor agregado Cátedra Ecología y Sociedad de la UCAB y UCV.
  		</p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-4">
	  	<p>3.<b> YUDITH CARDINALE:</b></p>
	  </div>
	  <div class="col-md-8">
	  	<p>Ingeniero en Computación. Profesora titular de Ingeniería Computación 
	  	y Tecnologías de Información de la USB.
	  	</p>
	  </div>
	</div>
	
	<p>
	    Los diversos profesionales que trabajan en los proyectos, son asociados y rotativos, en convenios con instituciones del país y del exterior. 
	</p>


</div>
{% endblock %}