{% extends "en/website-base.html" %}
{% load staticfiles %}

{% block pagetitle %}Contact{% endblock %}
{% block title %}Contact{% endblock %}
{% block user %}
Ruby de Valencia
{% endblock %}
{% block submenu %}
<ul class="list-inline ">
	<table><tr>
        <td class="inicial"><a href="{% url en %}">
	Home
	</a></td>
    <td role="presentation" class="dropdown ">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
	Who we are
	</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enorigenytrayectoria %}">
		Beggining and Development</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enareasdeespecializacion %}">
		Specialization Areas - Organization</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enprofesionalesadjuntos %}">
		Professionals attached</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Venezuelan Rupestrian <br> Heritage</a>
	<ul class="dropdown-menu" role="menu">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url ennota %}">
					Note</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enleydeproteccion %}">
					Cultural Heritage Protection Law</a></li>
            <li role="presentation"><a style="color: purple;" role="menuitem" tabindex="-1" href="{% url enpinturasrupestres %}">
					Rock Paintings</a></li>
            <li role="presentation"><a style="color: #DF7401;" role="menuitem" tabindex="-1" href="{% url engeoglifo %}">Geoglyphs</a></li>
            <li role="presentation"><a style="color: red;" role="menuitem" tabindex="-1" href="{% url enpetroglifo %}">
					Petroglyphs</a></li>
            <li role="presentation"><a style="color: #424242;" role="menuitem" tabindex="-1" href="{% url enamoladores %}">
					Whetstones, Coupled points, Domes</a></li>
            <li role="presentation"><a style="color: #04B404;" role="menuitem" tabindex="-1" href="{% url enmonumentosmegaliticos %}">
					Megalithic monuments, Menhirs, Dolmens, Monoliths</a></li>
            <li role="presentation"><a style="color: #DBA901;" role="menuitem" tabindex="-1" href="{% url enmicropetroglifos %}">Micropetroglyphs</a></li>
            <li role="presentation"><a style="color: #01A9DB;" role="menuitem" tabindex="-1" href="{% url enpiedrasycerrosmiticos %}">
					Natural Mythical Hills and Stones</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Educational <br> programms</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enmanifestacionesylaescuela %}">
					The rupestrian Art in the School</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enconvenios %}">
					Agreements - Alliances</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enenlacesrelacionados %}">
					Sites related with the Rupestrian Manifestations</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Products and <br> Services</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enpublicaciones %}">
					Releases</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enproductos %}">
					Products</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enasesorias %}">
					Advice</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url envisitasguiadas %}">
					Guided visits</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enserviciosinformacion %}">
					Information Service</a></li>
        </ul>
    </td>
    <td class="active final" style="border:0px"><a href="{% url encontacto %}">
					Contact</a></td>
</tr></table>
</ul>
{% endblock %}

{% block content %}
<div class="col-sm-8">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d947.572979230192!2d-66.9081965115211!3d10.484605391315743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDI5JzA0LjYiTiA2NsKwNTQnMjcuNCJX!5e1!3m2!1ses!2sit!4v1476661922213" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="col-sm-4">
<p>
<img src="{% static "images/contacto/direccion.png" %}" class="contact-icon"><b>ANAR</b><br>
Av Nueva Granada <br>
Edf TAMAYO & Cía, Piso 1<br>
Los Rosales<br>
Caracas, Venezuela<br>
</p>
<p>
 <img src="{% static "images/contacto/telefono.png" %}" class="contact-icon">  +58 - 212- 668.12.20
</p>
<p>
<img src="{% static "images/contacto/email.png" %}" class="contact-icon">  anarvenezuela@gmail.com
</p>
<p>
<img src="{% static "images/contacto/email.png" %}" class="contact-icon">  anarvenezuela@yahoo.com
</p>
<p>
<img src="{% static "images/contacto/facebook.png" %}" class="contact-icon">  anar@anar.org.ve
</p>
</div>
{% endblock %}
