{% extends "en/website-base.html" %}
{% load staticfiles %}
{% block pagetitle %}Main Page{% endblock %}
{% block title %}{% endblock %}
{% block user %}
Ruby de Valencia
{% endblock %}


{% block submenu %}
<ul class="list-inline ">
	<table><tr>
        <td class="active inicial"><a href="{% url en %}">
	Home
	</a></td>
    <td role="presentation" class="dropdown ">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
	Who we are
	</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enorigenytrayectoria %}">
		Beggining and Development</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enareasdeespecializacion %}">
		Specialization Areas - Organization</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enprofesionalesadjuntos %}">
		Professionals attached</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Venezuelan Rupestrian <br> Heritage</a>
	<ul class="dropdown-menu" role="menu">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url ennota %}">
					Note</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enleydeproteccion %}">
					Cultural Heritage Protection Law</a></li>
            <li role="presentation"><a style="color: purple;" role="menuitem" tabindex="-1" href="{% url enpinturasrupestres %}">
					Rock Paintings</a></li>
            <li role="presentation"><a style="color: #DF7401;" role="menuitem" tabindex="-1" href="{% url engeoglifo %}">Geoglyphs</a></li>
            <li role="presentation"><a style="color: red;" role="menuitem" tabindex="-1" href="{% url enpetroglifo %}">
					Petroglyphs</a></li>
            <li role="presentation"><a style="color: #424242;" role="menuitem" tabindex="-1" href="{% url enamoladores %}">
					Whetstones, Coupled points, Domes</a></li>
            <li role="presentation"><a style="color: #04B404;" role="menuitem" tabindex="-1" href="{% url enmonumentosmegaliticos %}">
					Megalithic monuments, Menhirs, Dolmens, Monoliths</a></li>
            <li role="presentation"><a style="color: #DBA901;" role="menuitem" tabindex="-1" href="{% url enmicropetroglifos %}">Micropetroglyphs</a></li>
            <li role="presentation"><a style="color: #01A9DB;" role="menuitem" tabindex="-1" href="{% url enpiedrasycerrosmiticos %}">
					Natural Mythical Hills and Stones</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Educational <br> programms</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enmanifestacionesylaescuela %}">
					The rupestrian Art in the School</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enconvenios %}">
					Agreements - Alliances</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Products and <br> Services</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enpublicaciones %}">
					Releases</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enproductos %}">
					Products</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enasesorias %}">
					Advice</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url envisitasguiadas %}">
					Guided visits</a></li>
        </ul>
    </td>
    <td class="final" style="border:0px;"><a href="{% url encontacto %}">
					Contact</a></td>
</tr></table>
</ul>
{% endblock %}

{% block content %}
<ul id="fondo" style="width:100%;height:800px;z-index=1;display:none;"></ul>
<ul id="1" class="dropdown-image " role="menu">
	<div class ="row " >
			<img src="{% static "images/inicio/198.png" %}" />
			<div class="description" style="align:left"><span style="color:red"><b>198 <br> 
									  PETROGLYPH</b><br></span>
									  Capitanejo<br>
									  Estado Barinas<br>
                                                                          Photo: E. Ruiz Guevara </p>
			<div onclick="setImageVisible('1','none')" style="font-size:26px;text-align:right">&#x25C4;</a>
	</div>
</ul>
<ul id="2" class="dropdown-image " role="menu">
	<div class ="row">
			<img src="{% static "images/inicio/51.png" %}" />
			<div class="description" style="align:left"><span style="color:orange"><b>51 <br> 
									  GEOGLYPH</b><br></span>
									  La Rueda del Indio<br>
									  Estado Carabobo<br>
                                                                          Photo: Victor Hern&aacute;ndez </p>
			<div onclick="setImageVisible('2','none')" style="font-size:26px;text-align:right">&#x25C4;</a>
	</div>
</ul>
<ul id="3" class="dropdown-image " role="menu">
	<div class ="row">
			<img src="{% static "images/inicio/84.png" %}" />
			<div class="description" style="align:left"><span style="color:#04B404"><b>84 <br> 
									  MEGALITHIC MONUMENTS</b><br>MENHIRS<br></span>
									  Vigirima<br>
									  Estado Carabobo<br>
                                                                          Photo: E. Victor Hern&aacute;ndez  </p>
			<div onclick="setImageVisible('3','none')" style="font-size:26px;text-align:right">&#x25C4;</a>
	</div>
</ul>
<ul id="4" class="dropdown-image " role="menu">
	<div class ="row">
			<img src="{% static "images/inicio/151.png" %}" />
			<div class="description" style="align:left"><span style="color:purple"><b>451 <br> 
									  RUPESTRIAN PAINTING</b><br></span>
									  Cueva Cerro Gavil&aacute;<br>
									  Estado Bol&iacute;var<br>
                                                                          Photo: Gabriela Montoto </p>
			<div onclick="setImageVisible('4','none')" style="font-size:26px;text-align:right">&#x25C4;</a>
	</div>
</ul>


<div id="contenido">
<div class="row">

    <div class="col-sm-3 img-resize" onclick="setImageVisible('1','block')">
    <img src="{% static "images/inicio/1.png" %}" />	
    </div>
    <div class="col-sm-3" onclick="setImageVisible('2','block')">
    <img src="{% static "images/inicio/2.gif" %}"  />
    </div>
    <div class="col-sm-3" onclick="setImageVisible('3','block')">
    <img src="{% static "images/inicio/3.gif" %}"  />
    </div>
    <div class="col-sm-3" onclick="setImageVisible('4','block')">
    <img src="{% static "images/inicio/4.gif" %}"  />
    </div>
</div>
<br>
<p style="font-size:20px">
The <b>ANAR - Rock Art Nacional Archive- (Archivo Nacional de Arte Rupestre)</b> <br> has as its basic purpose to serve as a Center of Reference and Information Service for the knowledge and protection of Rock Art in Venezuela, as part of the preservation of the historic and documentary memory of the archaeological cultural heritage of the country.</p>
<br>
<div class="row" >
    <div class="col-sm-2" style="width:19%">
    <img src="{% static "images/inicio/FUNDABITAT.gif"  %}"  />
    </div>
    <div class="col-sm-2" style="width:19%">
    <img src="{% static "images/inicio/IFRAO.gif" %}"  />
    </div>
    <div class="col-sm-2" style="width:19%">
    <img src="{% static "images/inicio/tamayop.gif" %}"  />
    </div>
    <div class="col-sm-2" style="width:19%">
    <img src="{% static "images/inicio/ucvg.gif" %}"  />
    </div>
    <div class="col-sm-2" style="width:19%">
    <img src="{% static "images/inicio/USB.png" %}" />
    </div>
</div>
<br>
{% endblock %}
