{% extends "en/website-base.html" %}
{% load staticfiles %}
{% block pagetitle %}Main Page{% endblock %}
{% block title %}{% endblock %}
{% block user %}
Ruby de Valencia
{% endblock %}


{% block submenu %}
<ul class="list-inline ">
	<table><tr>
        <td class="active inicial"><a href="{% url en %}">
	Home
	</a></td>
    <td role="presentation" class="dropdown ">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
	Who we are
	</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enorigenytrayectoria %}">
		Beggining and Development</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enareasdeespecializacion %}">
		Specialization Areas - Organization</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enprofesionalesadjuntos %}">
		Professionals attached</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Venezuelan Rupestrian <br> Heritage</a>
	<ul class="dropdown-menu" role="menu">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url ennota %}">
					Note</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enleydeproteccion %}">
					Cultural Heritage Protection Law</a></li>
            <li role="presentation"><a style="color: purple;" role="menuitem" tabindex="-1" href="{% url enpinturasrupestres %}">
					Rock Paintings</a></li>
            <li role="presentation"><a style="color: #DF7401;" role="menuitem" tabindex="-1" href="{% url engeoglifo %}">Geoglyphs</a></li>
            <li role="presentation"><a style="color: red;" role="menuitem" tabindex="-1" href="{% url enpetroglifo %}">
					Petroglyphs</a></li>
            <li role="presentation"><a style="color: #424242;" role="menuitem" tabindex="-1" href="{% url enamoladores %}">
					Whetstones, Coupled points, Domes</a></li>
            <li role="presentation"><a style="color: #04B404;" role="menuitem" tabindex="-1" href="{% url enmonumentosmegaliticos %}">
					Megalithic monuments, Menhirs, Dolmens, Monoliths</a></li>
            <li role="presentation"><a style="color: #DBA901;" role="menuitem" tabindex="-1" href="{% url enmicropetroglifos %}">Micropetroglyphs</a></li>
            <li role="presentation"><a style="color: #01A9DB;" role="menuitem" tabindex="-1" href="{% url enpiedrasycerrosmiticos %}">
					Natural Mythical Hills and Stones</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Educational <br> programms</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enmanifestacionesylaescuela %}">
					The rupestrian Art in the School</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enconvenios %}">
					Agreements - Alliances</a></li>
        </ul>
    </td>
    <td role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">
					Products and <br> Services</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enpublicaciones %}">
					Releases</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enproductos %}">
					Products</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url enasesorias %}">
					Advice</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url envisitasguiadas %}">
					Guided visits</a></li>
        </ul>
    </td>
    <td class="final" style="border:0px;"><a href="{% url encontacto %}">
					Contact</a></td>
</tr></table>
</ul>
{% endblock %}

{% block content %}
<ul id="fondo" style="width:100%;height:800px;z-index=1;display:none;" ></ul>
<ul id="1" class="dropdown-image" role="menu">
    <img src="{% static "images/inicio/198grande.png" %}" style="width:242px" />
	<div class="description" style="font-size:11px"><br>
	    <p style="margin-left:280px">
    	    <span style="color:red"><b>198<br>PETROGLYPH</b></span><br>
    		Capitanejo<br>
    		Estado Barinas<br>
            Fotog: E. Ruiz Guevara 
        </p>
    </div>
	<div onclick="setImageVisible('1','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>

<ul id="2" class="dropdown-image" role="menu">
	<img src="{% static "images/inicio/51grande.png" %}" style="width:370px" />
	<div class="description" style="font-size:11px"><br>
        <p style="margin-left:215px">
            <span style="color:orange"><b>51<br>GEOGLYPH</b></span><br>
		    La Rueda del Indio<br>
		    Estado Carabobo<br>
            Fotog: Victor Hern&aacute;ndez 
        </p>
    </div>
	<div onclick="setImageVisible('2','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>

<ul id="3" class="dropdown-image" role="menu">
	<img src="{% static "images/inicio/84grande.png" %}" style="width:370px" />
	<div class="description" style="font-size:11px"><br>
        <p style="margin-left:215px">
            <span style="color:#04B404"><b>84<br>MEGALITHIC MONUMENTS</b><br>MENHIRS<br></span>
	        Vigirima<br>
	        Estado Carabobo<br>
            Fotog: E. Victor Hern&aacute;ndez  
        </p>
    </div>
	<div onclick="setImageVisible('3','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul>

<ul id="4" class="dropdown-image">
	<img src="{% static "images/inicio/151grande.png" %}" style="width:242px" />
	<div class="description" style="font-size:11px"><br>
	    <p style="margin-left:280px">
	        <span style="color:purple"><b>451<br>RUPESTRIAN PAINTING</b></span><br>
			Cueva Cerro Gavil&aacute;<br>
			Estado Bol&iacute;var<br>
            Fotog: Gabriela Montoto
	    </p> 
	</div>
	<div onclick="setImageVisible('4','none')" style="font-size:36px;text-align:right">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</div>
</ul> 

<div id="contenido">
<div class="row">
    <div class="col-xs-2 col-xs-offset-1" onclick="setImageVisible('1','block')">
        <img class="center-block" src="{% static "images/inicio/198peq.png" %}" class="img-responsive" style="height:100%;width:100%;max-width:118px;max-height:180px"/>	
    </div>
    <div class="col-xs-3" onclick="setImageVisible('2','block')">
        <img class="center-block" src="{% static "images/inicio/51peq.png" %}" class="img-responsive" style="height:100%;width:100%;max-width:180px;max-height:118;margin-top: 31px;"/>
    </div>
    <div class="col-xs-3" onclick="setImageVisible('3','block')">
        <img class="center-block" src="{% static "images/inicio/84peq.png" %}" class="img-responsive" style="height:100%;width:100%;max-width:180px;max-height:118px;margin-top: 31px;"/>
    </div>
    <div class="col-xs-2" onclick="setImageVisible('4','block')">
        <img class="center-block" src="{% static "images/inicio/151peq.png" %}" class="img-responsive" style="height:100%;width:100%;max-width:118px;max-height:180px"/>
    </div>
</div>

<br>
<h3 style="text-align: center">The <b>ANAR</b> -National Archives of Rupestrian Art-<br> 
<b>(Archivo Nacional de Arte Rupestre)</b></h3>
<p style="text-align: center;font-size:18px">
    has as its basic purpose<br>
    to serve as a Center of Reference and Information Service<br>
    for the knowledge and protection<br>
    of Rock Art in Venezuela,<br> as part of the preservation of the historic and documentary memory<br>
    of the archaeological cultural heritage of the country.
</p>
<br>
<div class="row" >
    <div class="col-xs-8 col-xs-offset-2">
        <img class="img-inicio" src="{% static "images/inicio/FUNDABITAT.gif"  %}"  style="width:91px;height:86px;margin-left:35px"/>
        <img class="img-inicio" src="{% static "images/inicio/IFRAO.gif" %}"  style="width:91px;height:86px"/>
        <img class="img-inicio" src="{% static "images/inicio/tamayop.gif" %}"  style="width:91px;height:86px"/>
        <img class="img-inicio" src="{% static "images/inicio/ucvg.gif" %}"  style="width:91px;height:86px"/>
        <img class="img-inicio" src="{% static "images/inicio/USB.png" %}" style="width:91px;height:86px"/>
    </div>
</div>

</div>
<br>
{% endblock %}
