
{% extends "en/programadeeducacion-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Convenios y Alianzas{% endblock %}
{% block title %}Convenios y Alianzas{% endblock %}

{% block content %}
<p>
    The <b>ANAR</b> is a valuable resource for research on <b>Rupestrian Manifestations</b>
    are carried out in Venezuela.
</p>
<p>
    It's 39th member of <b>IFRAO - The International Federation of Rock Art 
    Organisations- / UNESCO</b>
</p>
<p>
    It maintains agreements and active partnerships with:<br>
    <li> School of Anthropology and Education of<b>Universidad 
            Central de Venezuela (UCV)</b></li>
    <li> Design School / Architecture Department of<b>Universidad 
            José María Vargas (UJMV)</b></li>
    <li> Computer Science and I.T. Department of <b>Universidad Simón 
            Bolívar (USB)</b></li>
</p>
<p>
    Contacts with professionals and institutions in the country and abroad for 
    exchange information on the study and preservation of this cultural heritage 
    Archaeological.
</p>
{% endblock %}