{% extends "en/programadeeducacion-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Sites related with rupestrian manifestations{% endblock %}
{% block title %}Sites related with rupestrian manifestations{% endblock %}

{% block content %}
<p>
    These are some places related with the Rupestrian Art, we hope they are 
    they useful. If they want that we add some, please don't doubt to send us
    the address.
</p>
<p>
    ArteRupestre.net<br>
    <u><a href="http://www.arterupestre.net/" 
        style="color:green">www.arterupestre.net</a></u><br><br>
        
    Stanford Data Base<br>
    <a href="http://cool.conservation-us.org" 
        style="color:green">www.palimpsest.stanford.edu/misc/people/nat...</a><br><br>
    
    Rock Art Organisations<br>
    <a href="www.questorsys.com/rockart/orgs.htm" 
        style="color:green">www.questorsys.com/rockart/orgs.htm</a><br><br>
    
    Tracce (boletín de arte rupestre, Italia y otros países)<br>
    <a href="http://rupestre.net/tracce" 
        style="color:green">www.arterupestre.net/links/RECURS...</a><br><br>
    
    Rupestreweb<br>
    <a href="www.rupestreweb.info" 
        style="color:green">www.rupestreweb.info</a><br><br>
    
    IFRAO -International Federation of Rock Art Organisations-<br>
    <a href="http://www.ifrao.com/ifrao/" 
        style="color:green">http://www.ifrao.com/ifrao/</a><br><br>
    
    GIPRI, Colombia<br>
    <a href="http://www.gipri.org" 
        style="color:green">http://www.gipri.org</a><br><br>
    
    Europa, arte rupestre<br>
    <a href="http://europreart.net" 
        style="color:green">http://europreart.net</a><br><br>
    
    Cultural Heritage<br>
    <a href="http://www.culturalheritage.net" 
        style="color:green">http://www.culturalheritage.net</a><br><br>
        
    CIARU, Centro de Investigación de Arte Rupestre del Uruguay<br>
    <a href="http://www.geocities.com/ciaru" 
        style="color:green">http://www.geocities.com/ciaru</a><br><br>
    
    CeSMAP, Centro Studi e Museo d'Arte Prehistórica<br>
    <a href="http://www.cesmap.it" 
        style="color:green">http://www.cesmap.it</a><br><br>
    
    Bradshaw Foundation<br>
    <a href="http://www.bradshawfoundation.com" 
        style="color:green">http://www.bradshawfoundation.com</a><br><br>
    
    Bibliografía sobre arte rupestre<br>
    <a href="http://bancroft.berkeley.edu/collections/rockart.htm" 
        style="color:green">http://bancroft.berkeley.edu/collections/rockart.htm</a><br><br>
    
    AURANET<br>
    <a href="http://mc2.vicnet.net.au/home/aura/web/index.html" 
        style="color:green">http://mc2.vicnet.net.au/home/aura/web/index.html</a><br><br>
    
    AGEDPA, Cádiz, España<br>
    Asociación Gaditana para el Estudio y la Defensa del Patrimonio Arqueológico<br>
    <a href="http://www.elestrecho.com/arte-sur" 
        style="color:green">http://www.elestrecho.com/arte-sur</a><br><br>
    
    Archaeologie Online<br>
    <a href="http://www.archaeologie-online.de" 
        style="color:green">http://www.archaeologie-online.de</a><br><br>
    
    ARARA, American Rock Art Research Association, USA<br>
    <a href="http://www.arara.org" 
        style="color:green">http://www.arara.org</a><br><br>
        
    ANISA, Austria<br>
    <a href="http://www.anisa.at" 
        style="color:green">http://www.anisa.at</a><br><br>
        
    <ul>
        <li>
            <a href="http://www.ifrao.com/rock-art-research-journal/" 
                style="color:green">Rock Art Research (Journal)</a><br>
        </li>
        
        <li>
            <a href="http://www.ifrao.com/cave-art-research-association-cara/" 
                style="color:green">Cave Art Research Association (CARA)</a><br>
        </li>
        
        <li>
            <a href="http://www.ifrao.com/the-aura-congress/" 
                style="color:green">The AURA Congress</a><br>
        </li>
        
        <li>
            <a href="http://www.ifrao.com/rock-art-dating/" 
                style="color:green">Rock Art Dating</a><br>
        </li>
        
        <li>
            <a href="http://www.ifrao.com/rock-art-conservation/" 
                style="color:green">Rock Art Conservation</a><br>
        </li>
        
        <li>
            <a href="http://www.ifrao.com/interpretation-of-rock-art/"
                style="color:green">Interpretation of Rock Art</a><br>
        </li>
        
        <li>
            <a href="http://www.ifrao.com/the-eip-project/" 
                style="color:green">The EIP Project</a><br>
        </li>
        
        <li>
            <a href="http://www.ifrao.com/rock-art-glossary/" 
                style="color:green">Rock Art Glossary</a><br>
        </li>
        
        <li>
            <a href="http://www.ifrao.com/cognitive-archaeology/" 
                style="color:green">Cognitive Archaeology</a><br>
        </li>
        
        <li>
            <a href="http://www.ifrao.com/palaeoart-epistemology/" 
                style="color:green">Palaeoart Epistemology</a><br>
        </li>
        
        <li>
            <a href="http://www.ifrao.com/save-dampier-rock-art/" 
                style="color:green">Save Dampier Rock Art</a><br>
        </li>
        
        <li>
            <a href="http://www.ifrao.com/portable-palaeoart-of-the-pleistocene/" 
                style="color:green">Portable Palaeoart of the Pleistocene</a><br>
        </li>
    </ul>
</p>
{% endblock %}