{% extends "en/programadeeducacion-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Rupestrian Manifestations and School{% endblock %}
{% block title %}Rupestrian Manifestations and School{% endblock %}

{% block content %}
<ul id="fondo" style="width:100%;height:800px;z-index=1;display:none;"></ul>
<ul id="1" class="dropdown-image " role="menu">
	<div class ="row " >
			<img src="{% static "images/programaseducativos/MR-y-la-ESCUELA-1.png" %}" />
			<div class="description" style="align:left">
				<b>DESCRIPCION FOTO <br></b>
			<div onclick="setImageVisible('1','none')" style="font-size:26px;text-align:right">&#x25C4;</a>
	</div>
</ul>
<span id ="contenido">
<p>
    Among the activities that <b> ANAR </b> develops under its Program Education 
    and dissemination of knowledge <b>Venezuelan rock art heritage</b>, as a 
    teaching strategy conservation; is the Project: <b>DEMONSTRATIONS VENEZUELAN 
    CAVE AND THE SCHOOL</b>, developed so inter and transdisciplinary, through 
    planning topic different areas of learning, secondary and subsystems primary.
</p>
<p>
    The project aims to transfer knowledge and experience dissemination and 
    promotion of the <b>Venezuelan Rupestrian Manifestations</b> in Basic 
    Education, Media and diversified; offering through the development of 
    different workshops and teaching materials structured levels, aimed at teachers 
    and students, content validated from the point of view scientific, cultural, 
    social and curricular; aiming essential that involved as subject in Projects
    Teaching the Ministry of Education and the official curriculum at all levels 
    from kindergarten through fifth grade in high school.
</p>
<br>
<div class="row" >
    <div class="col-xs-3">
    	<img src="{% static "images/programaseducativos/MR-y-la-ESCUELA-1.png"  %}" />
    </div>
    <div class="col-xs-6">
    	<img src="{% static "images/programaseducativos/MR-y-la-ESCUELA-3.png"  %}" style="height:270px" />
    </div>
    <div class="col-xs-3">
    	<img src="{% static "images/programaseducativos/MR-y-la-ESCUELA-2.png"  %}" />
    </div>
</div>
</span>
{% endblock %}