
{% extends "en/programadeeducacion-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Las Manifestaciones Rupestres y la Escuela{% endblock %}
{% block title %}Las Manifestaciones Rupestres y la Escuela{% endblock %}

{% block content %}
<p>
Entre las actividades que <b>ANAR</b> desarrolla en el marco de su Programa de Educaci&oacute;n para el conocimiento y divulgaci&oacute;n del <b>Patrimonio Rupestre venezolano</b>,  como estrategia pedag&oacute;gica de conservaci&oacute;n; est&aacute; el Proyecto: <b>LAS MANIFESTACIONES RUPESTRES VENEZOLANAS Y LA ESCUELA</b>, desarrollado de manera inter y transdisciplinaria, a trav&eacute;s de la planificaci&oacute;n del tema en las diversas &Aacute;reas de Aprendizaje, de los subsistemas de secundaria y primaria.
</p>
<p>
El proyecto apunta a la transmisi&oacute;n de conocimientos y experiencias de divulgaci&oacute;n y promoci&oacute;n de las <b>Manifestaciones Rupestres venezolanas</b> en la Educaci&oacute;n B&aacute;sica, Media y Diversificada; ofreciendo a trav&eacute;s del desarrollo de diferentes Talleres y materiales did&aacute;cticos estructurados por niveles, dirigidos a los docentes y estudiantes, contenidos que se validan desde el punto de vista cient&iacute;fico, cultural, social y curricular; con el objetivo fundamental que se  involucren como tem&aacute;tica en los Proyectos Pedag&oacute;gicos del Ministerio de Educaci&oacute;n y en el pensum oficial en todos los niveles desde preescolar hasta quinto a&ntilde;o en secundaria.
</p>
<table width="100%" align="center">
	<tbody>
		<tr>
			<td align="center" width="25%">
			<img src="{% static "images/programaseducativos/MR-y-la-ESCUELA-1.png"  %}" width="50%" />
			</td>
			<td align="center" width="50%">
			<img src="{% static "images/programaseducativos/MR-y-la-ESCUELA-3.png"  %}" width="50%" />
			</td>
			<td align="center" width="25%">
			<img src="{% static "images/programaseducativos/MR-y-la-ESCUELA-2.png"  %}" width="50%" />
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}