
{% extends "en/productosyservicios-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Advice{% endblock %}
{% block title %}Advice{% endblock %}

{% block content %}
<p> 
	The <b>ANAR</b> is accessible to the public through personal consultation, 
	it web page, its bulletin.
</p>
<p>
	It hopes to become the essential basis for the spreading of a new conscience: 
	in Venezuela, <b>THERE DOES EXIST</b> an extraordinary Archeological Heritage 
	deserving of being of publication and protection.
</p>


<table width="100%" align="center">
	<tbody>
		<tr>
			<td align="center" width="30%">
			<img src="{% static "images/productosyservicios/asesorias/Asesoria-1.png"  %}" width="50%" />
			</td>
			<td align="center" width="30%">
			<img src="{% static "images/productosyservicios/asesorias/Asesoria-2.png"  %}" width="50%" />
			</td>
			<td align="center" width="30%">
			<img src="{% static "images/productosyservicios/asesorias/Asesoria-3.png"  %}" width="50%" />
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}