
{% extends "en/productosyservicios-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Productos{% endblock %}
{% block title %}Productos{% endblock %}

{% block content %}

<table width="80%" align="center">
	<tbody>
		<tr>
			<td align="center" width="25%">
			<img src="{% static "images/productosyservicios/productos/Productos-1.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-2.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-3.png"  %}" width="50%" />
			</td>
		</tr>
		<tr>
			<td align="center" width="25%">
			<img src="{% static "images/productosyservicios/productos/Productos-4.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-5.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-6.png"  %}" width="50%" />
			</td>
		</tr>
		<tr>
			<td align="center" width="25%">
			<img src="{% static "images/productosyservicios/productos/Productos-7.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-8.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-9.png"  %}" width="50%" />
			</td>
		</tr>
		<tr>
			<td align="center" width="25%">
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-10.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			</td>
		</tr>
	</tbody>
</table>
<p>
3 series de Reproducciones de 10 Petroglifos a escala reducida, exclusivas y numeradas para <b>ANAR</b>, con embalaje de madera c/u.<br>Por <b>LEGOLASADDA - Arquitectura, Arte y dise&ntilde;o</b>
</p>
<table width="80%" align="center">
	<tbody>
		<tr>
			<td align="center" width="30%">
			<img src="{% static "images/productosyservicios/productos/Camisetas-1.png"  %}" width="50%" />
			</td>
			<td align="center" width="30%">
			<img src="{% static "images/productosyservicios/productos/Camisetas-2.png"  %}" width="50%" />
			</td>
			<td align="center" width="30%">
			<img src="{% static "images/productosyservicios/productos/Camisetas-3.png"  %}" width="50%" />
			</td>
		</tr>
	</tbody>
</table>
<p>
Camisetas <b>ANAR</b> talla &uacute;nica para mujer y hombre
</p>
<p>
Si se encuentra interesado puede contactarnos a trav&eacute;s de nuestros correos, y gustosamente lo atenderemos. 
</p>



{% endblock %}