
{% extends "en/productosyservicios-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Products{% endblock %}
{% block title %}Products{% endblock %}

{% block content %}

<table width="80%" align="center">
	<tbody>
		<tr>
			<td align="center" width="25%">
			<img src="{% static "images/productosyservicios/productos/Productos-1.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-2.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-3.png"  %}" width="50%" />
			</td>
		</tr>
		<tr>
			<td align="center" width="25%">
			<img src="{% static "images/productosyservicios/productos/Productos-4.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-5.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-6.png"  %}" width="50%" />
			</td>
		</tr>
		<tr>
			<td align="center" width="25%">
			<img src="{% static "images/productosyservicios/productos/Productos-7.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-8.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-9.png"  %}" width="50%" />
			</td>
		</tr>
		<tr>
			<td align="center" width="25%">
			</td>
			<td align="center" width="35%">
			<img src="{% static "images/productosyservicios/productos/Productos-10.png"  %}" width="50%" />
			</td>
			<td align="center" width="35%">
			</td>
		</tr>
	</tbody>
</table>
<p>
3 sets of 10 Petroglyphs reproductions reduced, exclusive and numbered scale for 
<b>ANAR</b>, with wood packaging each one <br> By <b>LEGOLASADDA. - Architecture, Art and Design</b>
</p>
<table width="80%" align="center">
	<tbody>
		<tr>
			<td align="center" width="30%">
			<img src="{% static "images/productosyservicios/productos/Camisetas-1.png"  %}" width="50%" />
			</td>
			<td align="center" width="30%">
			<img src="{% static "images/productosyservicios/productos/Camisetas-2.png"  %}" width="50%" />
			</td>
			<td align="center" width="30%">
			<img src="{% static "images/productosyservicios/productos/Camisetas-3.png"  %}" width="50%" />
			</td>
		</tr>
	</tbody>
</table>
<p>
<b>ANAR's</b> shirts, only one size, men and women fit.
</p>
<p>
If you are interested you can contact us through our email, and gladly assist you.
</p>



{% endblock %}