
{% extends "en/productosyservicios-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Releases{% endblock %}
{% block title %}Releases{% endblock %}

{% block content %}
<div id="contenido">
	<div class="row" id="Introducción">
		<div class="col-md-12 col-xs-12">
			<p class="text-left" style="text-align:left">
				These publications are part of the teaching materials that 
				<b>ANAR</b> is developing, to encourage and protect interested 
				in the rock heritage.
			</p>
			<p class="text-left" style="text-align:left">
				One of the goals of this material is to provide support for 
				teachers, students, schools and communities; also they provide 
				information to different sectors of society.
			</p>
			<p class="text-left" style="text-align:left">
				They are available to individuals and institutions. The 
				publications are on sale in the ANAR. If you prefer you can 
				contact us through our email: 
				<a href="mailto:anarvenezuela@gmail.com" style="color:red"> anarvenezuela@gmail.com</a>
				and <a href = "mailto: anar @ anar.org.ve "style =" color: red ">anar@anar.org.ve.</a>. 
				Gladly we will send. Do not hesitate to contact us.
			</p>
		</div>
	</div>
	<br>
	
	<!-- Heading para los subtítulos. -->    
	<h4>
		<span style="color:red">
			<b>The Design of Venezuelans Petroglyphs</b><br>
			<em><small style="color:red">Ruby De Valencia & Jeannine Sujo</small></em>
		</span>
	</h4>
	<br>
	
	<div class="row" id="Libro">
		<div class="col-md-4 col-sm-8 col-xs-6">
	  		<img src="{% static "images/quienessomos/libro.jpg"  %}" class="img-responsive"  />
		</div>
	  
	  	<div class="col-md-8 col-sm-12 col-xs-4">
	  		<p class="text-left" style="text-align:left">
				It's content permited: 
				<ul>
					<li>
						Present the first documented photographically over the 
						entire rock stations nationwide recorded so far, which 
						form part of the archaeological heritage of Venezuela 
						inventory.
					</li>
					<li>
						Sustain important findings in the field of anthropological 
						research concerning Venezuela, based on the study and 
						interrelation of the stylistic characteristics of these 
						stations; the stylistic horizons that define the different 
						geographical areas of the country were made. These 
						horizons allowed in turn guide several hypotheses 
						concerning some of the oldest migratory routes of our 
						country.
					</li>
				</ul>
				Trilingual edition of the Pampero Foundation, Caracas, 1987, 410 pages.
			</p>	
	  	</div>
	  	
	  	<div class="col-md-12 col-sm-12 col-xs-4">
	  		<p class="text-left" style="text-align:left">
				This publication was credited with the following national and international awards:
				<ul>
					<li>Representing Venezuela at<b> Exposición EL LIBRO 
					MAS BELLO DEL MUNDO 1988.</b></li>
					<li><b>Bronce Medal</b>; at <b>Exposición 
					Internacional del Arte del Libro, 1989.</b></li>
					<li><b>Honor Diploma</b>, Leipzig, Alemania.</li>
					<li>Acknowledgement at <b>IX Exposición Anual del Libro 
					Ilustrado y la Fotografía Documental , 1988</b>, Instituto 
					Autónomo Biblioteca Nacional, Caracas.</li>
				</ul>
			</p>	
	  	</div>
	</div>
	<br>
	
	<!-- Heading para los subtítulos. -->    
	<h4>
		<span style="color:red">
			<b>Venezuela Rupestre - Mundo Rupestre</b>
		</span>
	</h4>
	<br>
	
	<div class="row" id="Rueda Didáctica">
		<div class="col-md-4 col-sm-4 col-xs-4">
	  		<img src="{% static "images/productosyservicios/publicaciones/mundo.png"  %}"  />
		</div>
	  
	  	<div class="col-md-4 col-sm-4 col-xs-4">
	  		<p class="text-left" style="text-align:left">
	  			Through rotating wheels, this educational game offers a thematic 
	  			tour of Venezuela and the World Cave Rock, showing its unity, 
	  			diversity, and how to understand the world through rock art.
			</p>	
	  	</div>
		<div class="col-md-4 col-sm-4 col-xs-4">
			<img src="{% static "images/productosyservicios/publicaciones/venezuela.png"  %}"  />
		</div>
	</div>
	<br>
	
	<!-- Heading para los subtítulos. -->    
	<h4>
		<span style="color:red">
			<b>Rupestrian UNO: Venezuelan Rupestrian Manifestations</b>
		</span>
	</h4>
	<br>
	
	<div class="row" id="UNO">
		<div class="col-md-4 col-sm-8 col-xs-6">
	  		<img src="{% static "images/productosyservicios/publicaciones/UNO.png"  %}"  />
		</div>
	  
	  	<div class="col-md-8 col-sm-12 col-xs-4">
	  		<p class="text-left" style="text-align:left">
				This unique game will allow educators apply various strategies 
				for teaching and learning with the Cultural Heritage Archaeological. 
				Letters containing, allow turn the game into an educational 
				experience them for information on Venezuelan rock art and the 
				states where they are located.
			</p>
			<p class="text-left" style="text-align:left">
				Students, educators and the general public of all ages can enter 
				the world of rock art, through this popular science educational 
				game, which aims to promote knowledge as a vehicle for the 
				protection of rock art sites in Venezuela.
			</p>
	  	</div>
	  	
	</div>
</div>

{% endblock %}