
{% extends "en/productosyservicios-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Information Services{% endblock %}
{% block title %}Information Services{% endblock %}

{% block content %}
<div id="contenido">
	<p>
		Information Services are the basic support for the development of research 
		and the diffusion of knowledge.
	</p>
	
	<p>
		The <b>ANAR</b> has been growing since its creation in 1970 and today, 
		30 years later, it constitutes an invaluable documentary heritage that 
		is visited by researchers in Art and Anthropology from all over the world. 
		The <b>ANAR</b> possesses field trip registrars, cartography, photographs and 
		drawings that can guide the most demanding of explorers in the search 
		and description of these rupestrian sites.
	</p>
	
	<p>
		The <b>ANAR</b> possesses a documentary and periodicals record of the 
		history of Venezuelan anthropological science, focusing from linguistic 
		discoveries up to those of paleontology, from archeology to ethno-botany, 
		archeo-astronomy and socio-biology, as well as the history of anthropology 
		and the crises of this science and its scientists. All of it through 70 
		research topics related with Venezuela and 200 with other countries.
	</p>

	<p>
		The bibliographic, periodicals and photographic documents of <b>ANAR</b> extend 
		Venezuelan history to 15.000 years B.C.
	</p>
	
	<p>
		The <b>ANAR</b> is made up of materials from two organizations: 
		<b>Ediciones y Riquezas Antropológicas –ERA, c.a.- (Anthropological 
		Editions and Treasures)</b>, and  <b>FUNDABITAT –Fundación Venezolana 
		para la Preservación del Hábitat, Promoción y Defensa de las Culturas- 
		(Venezuelan Foundation for the Preservation of the Habitat, Promotion 
		and Defense of Cultures)</b>.
	</p>
	
	<p>
		As a Reference Center and Information Service on Rock Art, it remains in 
		long term temporal custody at the <b>Fundación Tamayo</b>.
	</p>
</div>
{% endblock %}